extends ../layout/layout_vue_n

block title
    title Zunka - Banners

block append css
    link(rel="stylesheet" href="/css/admin/banner.css" charset="utf-8")

block content 
    section.shadow
        h2.title Banners
        .wrapper-image(v-for='banner, index in banners')
            h4.sub-title Link
            input(type='text' id='link' v-model='banner.link')
            img(:src='`/banner/${banner.fileName}`')   
            .move  
                a.button.btn-info(href="#" v-on:click='moveImage(index, "l")')
                    i.fas.fa-arrow-left.fa-lg
                a.button.btn-danger(href="#" v-on:click='deleteImage(index)')
                    i.fas.fa-trash
                a.button.btn-info(href="#" v-on:click='moveImage(index, "r")')
                    i.fas.fa-arrow-right.fa-lg
               
        .buttons
            label.upload-image(for='uploadImage') Novo banner
            input(type='file' id='uploadImage' accept='image/*' multiple v-on:change=`uploadImage()`)
            input.btn-primary(type='button' v-on:click='saveBanners()' value='Salvar')
            input.btn-exit(type='button' onclick='window.location.href="/admin"' value='Sair')

block footer
  
append internal_scripts
    script.
        let banners = !{JSON.stringify(banners)};
        let user = !{JSON.stringify(user)};

append external_scripts
    script(src='/js/admin/banner.js')
