extends ../layout/layout

block title
    title Zunka - Configuração de fornecedores

block append internal_style
    style.
        section label input[type='radio'] {
            color: blue;
            width: auto;
            height: auto;
            margin-right: .4em;
        }
        section label span {
            margin-top: .1em;
            font-weight: bold; 
        }
        section .radio {
            margin-top: 1em;
        }
        section .radio label {
            margin-top: 0;
        }
        section .invalid {
            margin-top: 0;
            color: var(--red);
        }

block content 
    section
        //- title.
        h2 Configuração dos fornecedores

        form
            input(type='hidden' name='_csrf' value=csrfToken)
            .Aldo
                label
                    input(type='radio' name='aldoActivation' id='aldoActive' value='Ativo'  checked=activation.aldo==true onclick='selectInfoType()')
                    span Ativo
                label 
                    input(type='radio' name='aldoActivation' id='aldoActive' value='Inativo' checked=activation.aldo==false onclick='selectInfoType()')
                    span Inativo

            //- Save button.
            input.btn-primary(type='submit' value='Salvar') 

append internal_scripts
    script.
        // let freights = !{JSON.stringify(freights)};
