extends ../layout/layout_vue_n

block title
  title Zunka - Frete

block append css
  link(rel="stylesheet" href="/css/admin/editShippingPrice.css" charset="utf-8")

block content 
  section.shadow
    //- title.
    h2.title {{ shippingPrice._id === 'new' ? "Novo frete": "Alterar frete" }}
    //- Warn message.
    p.warn-message {{ warnMessage }}    
    //- Region.
    label(for='region') Região
    select(id='region' v-model='shippingPrice.region')
        option(value='north') Norte
        option(value='northeast') Nordeste
        option(value='midwest') Centro-oeste
        option(value='southeast') Sudeste
        option(value='south') Sul
    //- Dead line.
    label(for='deadline') Prazo (dias)
    input(type='text' id='deadline' v-model='shippingPrice.deadline')
    //- Max weight.
    label(for='maxWeight') Peso máximo (kg)
    input(type='text' id='maxWeight' v-model='maxWeight')
    //- Price.
    label(for='Price') Preço (R$)
    input(type='text' id='price' v-model='price')
    input.btn-primary(type='button', :value='shippingPrice._id === "new" ? "Criar frete": "Salvar"' @click='save()')
    input.btn-danger(v-if='!(shippingPrice._id === "new")' type='button' value='Apagar' @click='remove()')
    input.btn-exit(type='button' onclick='window.location.href="/admin/shipping/prices"' value='Sair') 

append internal_scripts
  script.
    let shippingPrice = !{JSON.stringify(shippingPrice)};

append external_scripts
  script(src='/js/admin/editShippingPrice.js?0004')
