extends ../layout/layout_vue

block title
    title Admin - Pedidos

block append css
    link(rel="stylesheet" href="/css/admin/orderList.css" charset="utf-8")
    link(rel="stylesheet" href="/css/layout/pagination.css" charset="utf-8")

block content
    section
        h2.mt0 Pedidos
        .search-order
            input(type='text' v-model='searchOrder' @keyup.enter='getOrders()' placeholder='Pesquise por ordens')
            i.fas.fa-search.fa-lg(@click='getOrders()')
        .filters
            //- Show placed.
            .filter
                input(type='checkbox' id='showPlaced' v-model:checked='filter.placed')
                label(for='showPlaced') Aberto
            //- Show paid.
            .filter
                input(type='checkbox' id='showPaid' v-model:checked='filter.paid')
                label(for='showPaid') Pagos
            //- Show shipped.
            .filter
                input(type='checkbox' id='showShipped' v-model:checked='filter.shipped')
                label(for='showShipped') Enviados
            //- Show delivered.
            .filter
                input(type='checkbox' id='showDelivered' v-model:checked='filter.delivered')
                label(for='showDelivered') Entregues
            //- Show canceled.
            .filter
                input(type='checkbox' id='showCanceled' v-model:checked='filter.canceled')
                label(for='showCanceled') Cancelados
        .orders
            a.order(v-for='order, index in orders' v-bind:class='[ order.status ]' @click='showOrderDetail(index, $event)')
                p {{order.timestamps.shippingAddressSelectedAt | formatDate}} &nbsp&nbsp&nbsp {{order.name}} &nbsp&nbsp&nbsp {{order.totalPrice | formatMoney}} &nbsp&nbsp&nbsp
                p {{actionStatus(order)}}
        nav.pagination
            a(v-for='p in pageCount', @click='getOrders(p)', :page='page==p', :p='p', :active='page==p') {{p}}
    .set-status(v-if='setStatusWindow.show')
        .panel
            .item
                h3.title {{ setStatusWindow.message }}
                .options(v-if='setStatusWindow.showCheckboxUpdateStock')
                    input(type='checkbox' id='updateStock' v-model:checked='setStatusWindow.updateStock')
                    label(for='updateStock') Voltar com o produto para o estoque
            .buttons
                input.btn-primary(type='button' @click='setStatus()' value='Sim')
                input.btn-exit(type='button' @click='setStatusWindow.show=false' value='Não')

block footer

append internal_scripts
    script.
        let cart = !{JSON.stringify(cart)};

append external_scripts
    script(src='/js/admin/orderList.js?0005')
