extends ../layout/layout_vue

block title
  title Admin - Produtos

block css
  link(rel="stylesheet" href="/css/admin/productList.css" charset="utf-8")

block content
  .panel
    h2 Produtos
    table
      thead
        tr
          th Código
          th Título
          th Fornecedor
          th Local
          th Estoque
          th Preço
      tbody
        tr(
          v-for='product in products', 
          @click='goToProductPage(product._id)',
          :class='{"product-commercialize": product.storeProductCommercialize, "product-active": product.storeProductActive && (product.storeProductQtd > 0) && (product.storeProductPrice > 0)}'
        )
          td {{product.storeProductId}}
          td {{product.storeProductTitle}}
          td {{product.dealerName}}
          td {{product.storeProductLocation}}
          td {{product.storeProductQtd}}
          td {{product.storeProductPrice | formatMoney}}    
    nav.pagination
      a(v-for='p in pageCount', @click='getProducts(p)', :page='page==p', :p='p', :active='page==p') {{p}}

block footer
  
append internal_scripts
  script.
    let search = !{JSON.stringify(search)};
    let page = !{JSON.stringify(page)};

append external_scripts
  script(src='/js/admin/productList.js')
