extends ../layout/layout_vue_n

block title
  title Zunka - Adicionar do custo do frete

block append css
  link(rel="stylesheet" href="/css/admin/shippingPriceRegion.css" charset="utf-8")

block content 
  section.shadow
    //- title.
    h2.title Frete por região
    //- Warn message.
    p.warn-message {{ warnMessage }}    
    //- //- Unidade federativa.
    //- label(for='uf') UF
    //- input(type='text' id='uf' v-model='shippingPrice.uf')             
    //- //- City.
    //- label(for='city') Cidade
    //- input(type='text' id='city' v-model='shippingPrice.city')
    //- //- Dead line.
    //- label(for='deadLine') Prazo (dias)
    //- input(type='text' id='deadLine' v-model='shippingPrice.deadLine')
    //- //- Max weight.
    //- label(for='maxWeight') Peso máximo (kg)
    //- input(type='text' id='maxWeight' v-model='shippingPrice.maxWeight')
    //- //- Price.
    //- label(for='Price') Preço (R$)
    //- input(type='text' id='price' v-model='shippingPrice.price')
    input.btn-primary(type='button', value='Salvar' @click='save()')
    input.btn-info(type='button', value='Sair' @click='')

append internal_scripts
  script.
    let shippingPriceRegion = !{JSON.stringify(shippingPriceRegion)};

append external_scripts
  script(src='/js/admin/shippingPriceRegion.js?0004')
