.pagination {
    font-size: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
}
.pagination a {
    text-decoration: none;
    // margin: 0 1em 0 1em;
    margin: 0; 
	padding: 0 1em; 
    color: var(--black-darker);
    // color: lightgray;
    cursor: pointer;
}
.pagination a:hover {
	font-weight: bold;
}
.pagination a[active] {
    // color: var(--black-darker);
    color: var(--green-dark);
	font-weight: bold;
}
