.wrapper-image {
    position: relative;
    // display block
    margin: 0 auto;
    margin-bottom: 1em;
    border: 1px solid var(--black-lighter);
    border-radius: 4px;
    padding: 1em;
}
.wrapper-image img {
    border-radius: 4px;
}
.wrapper-image input {
	margin-bottom: 1em;
}
.wrapper-image .move {
	display: flex;
	justify-content: space-between;
}
.wrapper-image .move a:nth-child(2) {
	margin-left: .5em;
	margin-right: .5em;
}
.wrapper-image .move a {
	width: 4em;
	margin-bottom: 0;
	margin-top: 1em;
}
.upload-image {
    box-sizing: border-box;
    font-size: 1em;
    cursor: pointer;
    display: block;
    border: 1px solid var(--black-lighter);
    border-radius: 4px;
    padding-top: .4em;
    // padding: 1em;
    margin-top: 2em;
    height: 2em;
    line-height: 1em;
    text-align: center;
    vertical-align: bottom;
    white-space: nowrap
    color: var(--white-lighter);
    background-color: #00c000;
    border-color: #00ad00;
}
.upload-image:hover {
    border-radius: 4px;
    color: var(--white-lighter);
    background-color: #009a00;
    border-color: #008b00;
}
input[type="file"] {
    display: none;
}


















// @import '../menu/reset_menu'
// body
//   background-color #f5f5f5
// #app
//   max-width $MAX_WIDTH
//   margin 0 auto
// main
//   margin 0 5em 2em 5em
//   margin-top 1em
//   input
//     margin-bottom .6em
//     width 100%
//   .title
//     font-size 1.6em
//     color #666
//     font-weight 400
//     line-height 2
//   .sub-title
//     font-size 1.3em
//     color #666
//     font-weight 400
//     line-height 1.6
//   .wrapper-image
//     position relative
//     // display block
//     margin 0 auto
//     margin-bottom 1em
//     box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
//     border-radius 4px
//     background-color #fff
//     padding 1em
//     > img
//       max-width 100%
//     &:hover
//       background-color rgba(0, 0, 0, .05)
//       .left-arrow
//       .right-arrow
//       p.delete-image
//         display block
//     > .left-arrow
//       position absolute
//       top 50%
//       left 3%
//       width 0
//       height 0
//       border-right 30px solid orange
//       border-top 30px solid transparent
//       border-bottom 30px solid transparent
//       opacity 1
//       cursor pointer
//       display none
//     > .right-arrow
//       position absolute
//       top 50%
//       right 3%
//       width 0
//       height 0
//       border-left 30px solid orange
//       border-top 30px solid transparent
//       border-bottom 30px solid transparent
//       opacity 1
//       cursor pointer
//       display none
//     > p.delete-image
//       position absolute
//       top 46%
//       right 50%
//       opacity 1
//       color orange
//       font-size 5em
//       // font-weight bold
//       cursor pointer
//       display none
//   .upload-image
//     > label
//       color #666
//       font-weight 400
//       font-size 1.5em
//       cursor pointer
//       display block
//       box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
//       border-radius 4px
//       background-color #fff
//       padding 1em
//       > svg
//         vertical-align text-bottom
//       &:hover
//         background-color rgba(0, 0, 0, .05)
//     > input
//       display none
//     .icon
//       width 1.5em
//       height 1.5em
//   input[type='button']
//     float right
//     max-width 6em
//     margin 3em 0 2em 2em
//     &:hover
//       cursor pointer
