@require '../misc/markdown.styl'
section a {
    display: block;
}
section textarea {
    height: 30em;
    margin-bottom: 2em;
    // overflow: hidden;
}
section > hr {
    border: none;
    height: 2px;
    color: var(--black-light); /* old IE */
    background-color: var(--black-light); /* Modern Browsers */
    margin-bottom: 2em;
}
