section {
    background-color: var(--white-lighter);
    max-width: var(--width-large);
    min-width: var(--width-small);
    padding 1em;
    margin 2em 1em;
}
.title {
    margin-top: 0;
}
section a {
    display: block;
}
section textarea {
    height: 30em;
    // overflow: hidden;
}
@require '../misc/markdown.styl'
