section {
    background-color: var(--white-lighter);
    max-width: var(--width-small);
    min-width: 20em;
    padding 1em;
    margin 2em 1em;
}
.title {
    margin-top: 0;
}
section a {
    display: block;
}
@require '../product/productMarkdown.styl'
