@import '../menu/reset_menu_footer'
@import '../input'
@import '../message'
btn-success()
btn-danger()
btn-exit()
.panel
  color c_gray
  input
    margin-top 1em
  .motoboy-delivery
    position relative
    // display block
    margin 0 auto
    margin-bottom 1em
    border 1px solid bgc_ineer_panel
    border-radius 4px
    padding 1em
    :first-child
      margin-top 0
    input[type='input']
      margin-top 0
    &:hover 
      background-color bgc_body
  .add-motoboy-delivery
    margin 0 auto
    margin-bottom 1em
    border 1px solid bgc_ineer_panel
    border-radius 4px
    padding 1em
    background-color bgc_body
    h3
      text-align: center
      // font-weight 600
    &:hover 
      cursor: pointer