@import '../menu/reset_menu'
@import '../input'
@import '../message'
@import '../menu/pagination'
btn-primary()
btn-secondary()
btn-danger()
btn-exit()
message()
.panel
  min-width min_width_order_list
  > header
    // background-color lightyellow
    margin-bottom 1em
    display flex
    flex-flow row wrap
    justify-content space-between
    align-items flex-end
    h2
      margin .5em 0 0 0
    .search-order
      flex 1 1 auto
      display flex
      flex-flow row nowrap
      justify-content flex-end
      align-items flex-end
      input
        margin-left .5em
      input[type='text']
        flex 0 1 20em
      input[type='button']
        flex 0 1 10em
  > .filter
    background-color $veryLightGray
    display flex
    align-items center
    padding .5em
    label
      margin 0 1em 0 0      
  > table
    margin-top 1em
    border-bottom solid 1px lightgray
    border-spacing 0
    width 100%
    text-align left
    td
      border-top solid 1px lightgray
    th, td
      padding .3em .2em .3em .5em
    // th.clickable, td.clickable
    td
      cursor pointer
      a
        text-decoration none
        color black
    tr.product-commercialize
      background-color #F2DEDE
    tr.product-commercialize.product-active
      background-color #bdffbd
  > .modal
    position fixed
    z-index 1
    left 0
    top 0
    width 100% /* Full width */
    height 100% /* Full height */
    overflow auto /* Enable scroll if needed */
    background-color rgb(0,0,0) /* Fallback color */
    background-color rgba(0,0,0,0.4) /* Black w/ opacity */ 
    // display flex
    // flex-flow column nowrap
    // align-items center
    > .panel
      margin 1em auto
      min-width 400px
      max-width 600px
      p
        margin .7em 0
      .price
        color c_price
      .quantity
        color $c_quantity
      .total
        margin-top .5em
      > .item
        background-color: bgc_ineer_panel
        border-radius 4px
        padding 1em
        margin-bottom 1em
        :first-child
          margin-top 0
        :last-child
          margin-bottom 0
        ul
          margin-left 1em
          li
            color $c_quantity
          margin-top .5em
          p
            margin-top .2em
            color black
        > .buttons
          display flex
          justify-content space-between
          input
            flex 0 1 48%
      .close-modal
        display flex
        justify-content flex-end
  > .set-status
    position fixed /* Stay in place */
    z-index 2
    left 0
    top 0
    width 100% /* Full width */
    height 100% /* Full height */
    overflow auto /* Enable scroll if needed */
    background-color rgb(0,0,0) /* Fallback color */
    background-color rgba(0,0,0,0.4) /* Black w/ opacity */ 
    display flex
    flex-flow column nowrap
    align-items center
    > .panel
      margin 30% auto
      // display flex
      // flex-flow column nowrap
      // justify-content flex-start
      min-width 100px
      > .item
        background-color: bgc_ineer_panel
        border-radius 4px
        padding 1em
        margin-bottom 1em
        :first-child
          margin-top 0
        :last-child
          margin-bottom 0
        > .options
          display flex
          align-items center
          label
            margin 0 1em 0 0   
      > .buttons
        display flex
        justify-content space-between
        input
          flex 0 1 48%

