@import '../reset'
@import '../main-nav'
@import '../pagination'
table
  border-bottom: solid 1px lightgray
  border-spacing: 0
  width: 100%
  text-align: left
td
  border-top: solid 1px lightgray
th, td
  padding: .3em .2em .3em .5em
// th.clickable, td.clickable
td
  cursor: pointer
  a
    text-decoration none
    color black
tr.product-commercialize
  background-color: #F2DEDE
tr.product-commercialize.product-active
  background-color: #bdffbd