section {
    padding: 0 0 1em 0;
}
// section > h2:first-child {
    // margin-left: .5em;
// }
table {
    // border-bottom: solid 1px var(--black-lighter);
    border-spacing: 0;
    width: 100%;
    text-align: left;
}
thead th, thead td, tbody th, tbody td {
    // padding: .3em .5em;
}
tr.product-commercialize {
    background-color: #F2DEDE;
}
tr.product-commercialize.product-active {
    background-color: #bdffbd;
}
td {
    // font-size: .9em;
    cursor: pointer;
}
td a {
    text-decoration: none;
    color: black;
}
.filters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: .5em;
    // background-color: var(--black-lighter);
    // margin-top: 1em;
    // border-radius: 4px;
}
.filters input[type="checkbox"] {
    // margin-right: .2em;
}
.filters label {
    margin: 0 1em 0 0;
}
.filters label:last-child {
    margin-right: 0;
}
.filters h3:first-child {
    margin-top: 0;
}
.filter {
    display: flex;
    align-items: center;
    padding: .2em .5em;
}
// Mobile.
@media (max-width: 600px){
	.hide-on-mobile {
		display: none;
	}
    .filters {
        flex-direction: row;
        align-items: flex-start;
    }
}
