section {
    background-color: var(--white-lighter);
    max-width: var(--width-small);
    min-width: 14em;
    padding 1em;
    margin 2em 1em;
}
.title {
    margin-top: -.3em;
    margin-bottom: .5em;
}
section h3 {
    margin-top: .5em;
}
section a {
    display: block;
    display: flex;
    flex-flow: row wrap;
    // font-size: 1.2em;
    color: var(--green);
    cursor: pointer;
}
section a:hover {
    color: var(--green);
    text-decoration: underline;
}
section a span.deadline {
    // min-width: 4em;
    text-align: right;
    // margin-right: 3em;
}
section a span.price {
    // min-width: 5em;
    text-align: right;
    // margin-right: 3em;
}
