*.swp
*.log

node_modules/
bower_components/
public/js/bundle*
bin/xml/

# Mongo bakcup.
dump/

# Include directories but not the files.
dist/img/*
!dist/img/.gitkeep 
dist/css/*
!dist/css/.gitkeep 
dist/banner/*
!dist/banner/.gitkeep 
dist/xml/*
!dist/xml/.gitkeep 
!dist/xml/zoom/ 
dist/xml/zoom/*
!dist/xml/zoom/.gitkeep 

# Git secret.
config/s.js
config/email.js
nginx/nginx.conf
nginx/sites-enabled/zunka.conf
.gitsecret/keys/random_seed

# bin.
bin/*.watch
bin/.last_req

# Sensitive paypal data.
bin/paypal/*.json
bin/paypal/secret
bin/paypal/client_id
