*.swp
*.log

node_modules/
bower_components/

# Backups.

# Include directories but not the files.
dump/*
!dump/.gitkeep 
dist/img/*
!dist/img/.gitkeep 
!dist/img/misc/.gitkeep

!dist/js/.gitkeep 
dist/js/admin/*
!dist/js/admin/.gitkeep
dist/js/checkout/*
!dist/js/checkout/.gitkeep
dist/js/info/*
!dist/js/info/.gitkeep 
dist/js/lib/*
!dist/js/lib/.gitkeep 
!dist/js/lib/google-analytics-script.js 
dist/js/product/*
!dist/js/product/.gitkeep 
dist/js/user/*
!dist/js/user/.gitkeep 

dist/css/*
!dist/css/.gitkeep 
dist/banner/*
!dist/banner/.gitkeep 
dist/xml/*
!dist/xml/.gitkeep 
!dist/xml/zoom/ 
dist/xml/zoom/*
!dist/xml/zoom/.gitkeep 

# Git secret.
config/s.js
config/email.js
nginx/nginx.conf
nginx/sites-enabled/zunka.conf
.gitsecret/keys/random_seed
zunka.sh

# bin.
bin/*.watch
bin/.last_req

# Sensitive paypal data.
bin/paypal/*.json
bin/paypal/secret
bin/paypal/client_id

# Code coverage.
.nyc_output
