*.swp
*.log
bin/*.watch
bin/.last_req
node_modules/
bower_components/
public/js/bundle*
bin/xml/
dist/img/allnations/

semantic/*.*
semantic/tasks/
semantic/dist/
semantic/src/*.less
semantic/src/themes/
semantic/src/definitions/


