if settings.env === 'production'
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/localization/messages_pt_BR.min.js" crossorigin="anonymous")
else
  script(src="/bower_components/jquery-validation/src/localization/messages_pt_BR.js")