if settings.env === 'production'
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js" crossorigin="anonymous")
else
  script(src="/bower_components/jquery.maskedinput/dist/jquery.maskedinput.min.js")