if settings.env === 'production'
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js" crossorigin="anonymous")
else
  script(src="/bower_components/jquery-validation/dist/jquery.validate.min.js")