//- Production.
if settings.env === 'production'
  script(src='https://cdn.jsdelivr.net/npm/moment-timezone@0.5.27/builds/moment-timezone.min.js')
  script(src='https://cdn.jsdelivr.net/npm/moment@2.24.0/min/moment.min.js')
//- Development.
else
  script(src='/bower_components/moment/min/moment.min.js')
  script(src='/bower_components/moment-timezone/builds/moment-timezone.min.js')