// @import '../menu/reset_menu_footer'
// #app
	// display block
	// .panel
		// max-width max_width_info
		// color c_gray
		// > h2.title
			// color c_info_head
			// font-weight 500
		// > h4
			// font-weight 600
			// margin-top 2em
section {
	color: var(--black-dark);
	background-color: var(--white-lighter);
	padding: 1em;
	margin: 2em 1em;
	max-width: var(--width-large);
}
// section p {
    // margin-top: 0;
    // opacity: .7;
// }
section .title {
	// color c_info_head
	font-weight 500
    margin-top: 0;
}
section h4 {
	font-weight 600
	margin-top 2em
}
// .title {
    // margin-top: 0;
// }