@import '../menu/reset_menu_footer'
#app
  display block
.panel
  max-width max_width_info
  color c_gray
  > h2.title
    color c_info_head
    font-weight 500
  > h4
    font-weight 600
    margin-top 2em