//- footer
//-   .footer
//-     ul
//-       li(onclick='window.location="/about"') Sobre a empresa
//-       li(onclick='window.location="/how-buy"') Como comprar
//-       li(onclick='window.location="/warranty"') Garantia   
//-       li(onclick='window.location="/contact"') Contato   
//-     p CNPJ n.º 00.000.000/0000-00 

footer
  a(onclick='window.location="/info/about"') Sobre a empresa
  a(onclick='window.location="/info/how-to-buy"') Como comprar
  a(onclick='window.location="/info/payment"') Pagamento
  a(onclick='window.location="/info/warranty"') Garantia   
  a(onclick='window.location="/info/return"') Devoluções
  a(onclick='window.location="/info/contact"') Contato   
