//- footer
//-   .footer
//-     ul
//-       li(onclick='window.location="/about"') Sobre a empresa
//-       li(onclick='window.location="/how-buy"') Como comprar
//-       li(onclick='window.location="/warranty"') Garantia   
//-       li(onclick='window.location="/contact"') Contato   
//-     p CNPJ n.ยบ 00.000.000/0000-00 

footer
  a(onclick='window.location="/about"') Sobre a empresa
  a(onclick='window.location="/how-buy"') Como comprar
  a(onclick='window.location="/warranty"') Garantia   
  a(onclick='window.location="/contact"') Contato   
