
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Redefinição de senha.
    include components/bootstrap.css.pug
  body
    include navbar.pug
    .container
      .row
        .col-md-4
        .col-md-4
          .panel.panel-default
            .panel-body
              h1.text-left Redefinir Senha
              if error
                each err in error
                  .alert.alert-danger(role='alert') 
                    p.text-center #{err} 
              if success
                each suc in success
                  .alert.alert-info(role='alert') 
                    p.text-center #{suc}                              
              form(method='post')
                input(type='hidden' name='_csrf' value=csrfToken)
                //- Email
                .form-group
                  input.form-control(type='text' name='email' placeholder='e-mail')
                input.btn.btn-primary.btn-block(type='submit' value='Redefinir senha')
        .col-md-4
    include components/jquery.js.pug
    include components/bootstrap.js.pug
