doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Login.
    include components/bootstrap.css.pug
  body
    include navbar.pug
    .container
      .row
        .col-md-4
        .col-md-4
          .panel.panel-default
            .panel-body
              h1.text-left Identificação
              if error
                each err in error
                  .alert.alert-danger(role='alert') 
                    p.text-center #{err} 
              if success
                each suc in success
                  .alert.alert-info(role='alert') 
                    p.text-center #{suc}                            
              form(action='/users/login' method='post')
                input(type='hidden' name='_csrf' value=csrfToken)
                //- label email.
                .form-group
                  input.form-control(type='text' name='email' placeholder='e-mail')
                //- label senha.
                .form-group
                  input.form-control(type='password' name='password' placeholder='senha')
                  p.help-block 
                    a(href='forgot/') Esqueceu a senha?
                input.btn.btn-primary.btn-block(type='submit' value='Entrar')
                hr/
                p.help-block Não tem cadastro?
                a.btn.btn-info.btn-block(href='/users/signup') Cadastrar
        .col-md-4
    include components/jquery.js.pug
    include components/bootstrap.js.pug
