doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Login Using bootstrap.
    include components/bootstrap.css.pug
  body
    nav.navbar.navbar-inverse
      //- .container-fluid
      .container
        .navbar-header
          a.navbar-brand(href='/') ZUNKA
    .container
      .row
        .col-md-4
        .col-md-4
          .panel.panel-default
            .panel-body
              h1.text-left Identificacao
              if message != ''
                .alert.alert-danger(v-if='' role='alert') 
                  p.text-center #{message}
                  //- p.text-center Usuario ou senha incorretos.
              form(action='/users/login' method='post')
                .form-group
                  //- label Usuario
                  input.form-control(type='text' name='username' placeholder='usuario')
                .form-group
                  //- label Senha
                  input.form-control(type='password' name='password' placeholder='senha')
                  p.help-block 
                    a(href='/') Esqueceu a senha?
                input.btn.btn-primary.btn-block(type='submit' value='Entrar')
                hr/
                p.help-block Nao tem cadastro?
                a.btn.btn-info.btn-block(href='/users/signup') Cadastrar
        .col-md-4
    include components/jquery.js.pug
    include components/bootstrap.js.pug
