.main-nav
  //- Home.
  a(href='/') Zunka
  //- Admin links.
  if  nav.showAdminLinks
    //- Porducts admin.
    a(href='/admin') Produtos
    //- Orders admin.
    a(href='/admin/orders') Pedidos
  .search
    input(id='search' onkeyup='__search(event)' placeholder='O que você procura?')
    //- input(id='search' oninput='window.location="/admin/productList&search=" + getElementById("search").value' placeholder='Pesquisa')
    input(onclick='__search()')
  script.
    function __search(event){
      if (!event || event.key === 'Enter') {
        // Must be implemented on parent module.
        _search(document.getElementById('search').value);
      }
    }
  if nav.showNewProductButton
    .new-product
      button(onclick='window.location="/admin/product/new"') Criar Produto
  .account
    //- Logged.
    if user.name
      //- User name.
      a(href='/user/account')
        svg.icon: use(xlink:href='/icon/sprite.svg#ic_account_circle_white_24px') 
        | #{user.name}
      if !nav.showAdminLinks
        //- Cart.
        a(href='/cart')
          //- img.cart(src='/icon/ic_shopping_cart_white_24px.svg' alt='cart')
          svg.icon: use(xlink:href='/icon/sprite.svg#ic_shopping_cart_white_24px')
          | Carrinho
          | &nbsp
          span#cart-qtd= cart.totalQtd
        //- Admin.
        if user.group.includes('admin')
          a(href='/admin') 
            svg.icon: use(xlink:href='/icon/sprite.svg#ic_supervisor_account_white_24px')
            | Admin
      a(href='/user/signout')
        svg.icon: use(xlink:href='/icon/sprite.svg#ic_exit_to_app_white_24px')
        | Sair  
    //- Not logged.
    else
      a(href='/user/signin') 
        svg.icon: use(xlink:href='/icon/sprite.svg#ic_account_circle_white_24px')
        | Entrar
      //- Cart.
      a(href='/cart')
        //- img.cart(src='/icon/ic_shopping_cart_white_24px.svg' alt='cart')
        svg.icon: use(xlink:href='/icon/sprite.svg#ic_shopping_cart_white_24px')
        | Carrinho
        | &nbsp
        span#cart-qtd= cart.totalQtd