.main-nav
  ul
    //- Home.
    li: a(href='/') Zunka
    //- Admin links.
    if  nav.showAdminLinks
      //- Store.
      li: a(href='/admin/productList') Produtos
      //- //- Allnations.
      //- li: a(href='allnations') All Nations
  .search
    input(id='search' onkeyup='__search(event)' placeholder='O que você procura?')
    //- input(id='search' oninput='window.location="/admin/productList&search=" + getElementById("search").value' placeholder='Pesquisa')
    input(onclick='_search()')
  script.
    function __search(event){
      if (!event || event.key === 'Enter') {
        // Must be implemented on parent module.
        _search(document.getElementById('search').value);
      }
    }
  if nav.showNewProductButton
    .new-product
      button(onclick='window.location="/admin/product/new"') Criar Produto
  .account
    //- User name.
    if user.name
      a(href='/users/account')
        svg.icon: use(xlink:href='/icon/sprite.svg#ic_account_circle_white_24px') 
        | #{user.name}
    a(href='/users/logout')
      svg.icon: use(xlink:href='/icon/sprite.svg#ic_exit_to_app_white_24px')
      | Sair