doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Redefinição de senha.
    include components/bootstrap.css.pug
  body
    .container
      .row
        .col-md-4
        .col-md-4
          h1.text-center
            a(href='/') Zunka
          .alert.alert-warning(role='alert') 
            p.text-center #{message} 
          p.text-center
            a(href=linkUrl) #{linkMessage}
        .col-md-4
    include components/jquery.js.pug
    include components/bootstrap.js.pug
  style.
    h1 > a:hover {
      text-decoration: none;
    }
