#mobile-nav
  .top
    a.brand(href='/') Zunka
    a.cart(href='/cart')
      svg.icon: use(xlink:href='/icon/sprite.svg#ic_shopping_cart_white_24px') 
      //- span#cart-qtd= cart.totalQtd
      span#cart-qtd #{cart.totalQtd} 
    #toggle-menu(onclick='openNav()')
      span
      span
      span
  .search
    input(id='search' onkeyup='searchMobile(event)' placeholder='O que você procura?')
    //- input(id='search' oninput='window.location="/admin/productList&search=" + getElementById("search").value' placeholder='Pesquisa')
    input(onclick='searchMobile()')
#sidenav
  a.closebtn(href="javascript:void(0)" onclick="closeNav()") &times;
  if user.name && user.group.includes('admin')
    a.root Admin
    a(href='/admin/orders') Pedidos
    a(href='/admin') Produtos
    a(href='/admin/product/new') Criar produto 
  a.root Sua conta
  if !user.name
    a(href='/user/signin') Entrar
  if user.name
    a(href='/user/orders') Pedidos
    a(href='/user/address') Endereços
    a(href='/user/access') Autenticação
    a(href='/user/signout') Não é #{user.name}? Sair
script.
  function searchMobile(event){
    if (!event || event.key === 'Enter') {
      // Must be implemented on parent module.
      _search(document.querySelectorAll('#mobile-nav #search')[0].value);
    }
  }
  function openNav() {
    document.getElementById("sidenav").style.width = "250px";
  }
  function closeNav() {
    document.getElementById("sidenav").style.width = "0";
  } 
  // DOM loaded.
  document.addEventListener("DOMContentLoaded", function(event) { 
    // Get media query.
    var mql = window.matchMedia('(max-width: 600px)');
    mql.addListener(screenTest);
    function screenTest(e) {
      // Mobile.
      if (e.matches) {
        document.querySelectorAll('#mobile-nav #search')[0].value = document.querySelectorAll('#desktop-nav #search')[0].value
      // Desktop.
      } else {
        document.querySelectorAll('#desktop-nav #search')[0].value = document.querySelectorAll('#mobile-nav #search')[0].value
      }
    }
  });