nav
  ul
    //- Home.
    li: a(href='/') Sites
    //- Store.
    li: a(href='productList') Produtos
    //- Allnations.
    li: a(href='allnations') All Nations
  if showSearchProductInput
    .search
      input(v-model='search' placeholder='Pesquisa')
      input
  if showNewProductButton
    .new-product
      button(@click='newProduct()') Criar Produto
  .account
    //- User name.
    a(href='/users/account' v-if="this.user.name")
      svg.icon: use(xlink:href='/icon/sprite.svg#ic_account_circle_white_24px') 
      | {{this.user.name}}
    //- Exit.
    a(href='/users/logout')
      svg.icon: use(xlink:href='/icon/sprite.svg#ic_exit_to_app_white_24px')
      | Sair