nav.navbar.navbar-inverse.navbar-static-top
  //- .container-fluid
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar     
      // Home.
      a.navbar-brand(href='/') ZUNKA
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        // Username.
        if user.name
          li
            a(href='/users/info') #{user.name}
        // Sign-in.
        if !user.name
          li
            a(href='/users/login') Entrar
        // Cart.
        li
          a(href='/cart') Carrinho 
            span#total-qtd.badge= cart.totalQtd
        // Admin.
        if user.group == 'admin'
          li
            a(href='/configProducts/store') Admin
        // Logout.
        if user.name
          li
            a(href='/users/logout') Sair
      .navbar-form.navbar-right
        input.form-control(v-model='search' v-on:keyup.enter='getProducts()' placeholder='O que você procura?' type='text' size='40')