doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Zunka - Produtos
    include components/semantic.css.pug    
  body
    #app
    //- Make pug data disponible to vue instance.
    script.
      let vueUser = !{JSON.stringify(user)}  
    include components/jquery.js.pug
    include components/semantic.js.pug
    include components/vue.js.pug
    include components/vue-resource.js.pug
    script(src='/bundleProductsStore.js')
