doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato")
    title Zunka - Produtos
    link(rel="stylesheet" href="/css/productList.css" charset="utf-8")
  body
    header
      nav
        include main-nav.pug
    main
      #app(v-cloak)
        .product(v-for='product in products')
          a(:href='"/product/" + product._id')
            img(:src='`/img/${product._id}/${product.images[0]}`', v-if='product.images[0]')
            h4.description {{ product.storeProductTitle }}
            h3.price
              sup R$
              | {{ product.storeProductPrice | currencyInt }}
              sup {{ product.storeProductPrice | currencyCents }}
  script.
    // Make available for vue.
    let csrfToken = !{JSON.stringify(csrfToken)};
    let user = !{JSON.stringify(user)};
  include components/axios.js.pug
  include components/vue.js.pug
  include components/accounting.js.pug
  script(src='/js/productList.js')
