doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Redefinição de senha.
    include components/bootstrap.css.pug
  body
    nav.navbar.navbar-inverse.navbar-static-top
      //- .container-fluid
      .container
        .navbar-header
          a.navbar-brand(href='/') ZUNKA
    .container
      .row
        .col-md-4
        .col-md-4
          .panel.panel-default
            .panel-body
              h1.text-left Redefinir senha
              each message in messages
                .alert.alert-danger(role='alert') 
                  p.text-center #{message}              
              //- form(action='/users/reset' method='post')
              form(method='post')
                input(type='hidden' name='_csrf' value=csrfToken)
                .form-group
                  input.form-control(type='password' name='password' placeholder='Nova senha')
                .form-group
                  input.form-control(type='password' name='password' placeholder='Confirme a nova senha')
                input.btn.btn-primary.btn-block(type='submit' value='Alterar senha')
        .col-md-4
    include components/jquery.js.pug
    include components/bootstrap.js.pug
