doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Cadastro de usuario.
    include components/bootstrap.css.pug
  body
    include navbar.pug
    .container
      .row
        .col-md-4
        .col-md-4
          .panel.panel-default
            .panel-body
              h1.text-left Cadastro
              if error
                each err in error
                  .alert.alert-danger(role='alert') 
                    p.text-center #{err} 
              if success
                each suc in success
                  .alert.alert-info(role='alert') 
                    p.text-center #{suc}               
              form(id='form-signup' action='/users/signup' method='post')
                input(type='hidden' name='_csrf' value=csrfToken)               
                //- Email.
                //- .form-group.has-error
                .form-group
                  label(for='email') E-mail
                  input.form-control(id='email' type='email' name='email' placeholder='E-mail')
                  //- input.form-control(type='email' name='email' placeholder='E-mail' required maxlength='40' title='Entre um e-mail válido.')
                //- Password.
                .form-group
                  label Senha
                  input.form-control(type='password' name='password' placeholder='Senha')
                //- Confirm password.
                .form-group
                  label Confirme a senha
                  input.form-control(type='password' name='passwordConfirm' placeholder='Senha')      
                //- Name.
                .form-group
                  label Nome completo
                  input.form-control(type='text' name='name' placeholder='Nome completo')       
                  //- input.form-control(type='text' name='name' placeholder='Nome completo' required maxlength='40' pattern="banana|cherry")       
                //- CPF.
                .form-group
                  label CPF
                  input.form-control(id='cpf' type='text' name='cpf' placeholder='000.000.000-70')                                              
                //- Birthday.
                .form-group
                  label Data de nascimento
                  input.form-control(id='birthday' type='text' name='birthday')                                   
                //- Telefone.
                .form-group
                  label Telefone
                  input.form-control(id='phone' type='text' name='phone' placeholder='(000) 0000-0000')                    
                input.btn.btn-primary.btn-block(type='submit' value='Cadastrar')
        .col-md-4
    include components/jquery.js.pug
    include components/jquery.maskedinput.js.pug
    include components/jquery.validation.js.pug
    include components/bootstrap.js.pug
    include components/cpf.js.pug
    include components/jquery.validation.localization.js.pug
    script.
      jQuery(function($){
        // Maskedinput.
        $('#birthday').mask('99/99/9999',{placeholder:'dd/mm/yyyy'});
        $('#cpf').mask('999.999.999-99');
        $('#phone').mask('(999) 99999-9999');
        // Validator method for cpf.
        $.validator.addMethod('cpf', function(value, element){ return CPF.validate(value); }, 'Por favor, forneça um CPF válido.');
        // Form validation.
        $('#form-signup').validate({
          rules:{
            eamil: {
              required: true,
              email: true
            },
            password: {
              required: true,
              minlength: 8,
              maxlength: 20
            },
            name: {
              required: true,
              minlength: 2,
              maxlength: 40
            },
            passwordConfirm: {
              required: true,
              minlength: 8,
              maxlength: 20,
              equalTo: '#password'            
            },
            cpf: {
              cpf: true
            }
          },      
          messages: {
          },
          highlight: function (element) {
              $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
          },
          success: function (element) {
              //- element.text('OK!').addClass('valid')
              //-     .closest('.form-group').removeClass('has-error').addClass('has-success');
              $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
          }              
        });
      });