doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Cadastro de usuario.
    include components/bootstrap.css.pug
  body
    include navbar.pug
    .container
      .row
        .col-md-4
        .col-md-4
          .panel.panel-default
            .panel-body
              h1.text-left Cadastro
              if error
                each err in error
                  .alert.alert-danger(role='alert') 
                    p.text-center #{err} 
              if success
                each suc in success
                  .alert.alert-info(role='alert') 
                    p.text-center #{suc}               
              form(id='form-signup' action='/users/signup' method='post')
                input(type='hidden' name='_csrf' value=csrfToken)
                //- Name.
                .form-group
                  label(for='name') Nome
                  input.form-control(type='text' name='name' id='name')                              
                //- Email.
                .form-group
                  label(for='email') E-mail
                  input.form-control(type='email' name='email' id='email')
                //- Password.
                .form-group
                  label(for='password') Senha
                  input.form-control(type='password' name='password' placeholder='Pelo menos 6 caracteres' id='password')
                //- Confirm password.
                .form-group
                  label(for='passwordConfirm') Confirme a senha
                  input.form-control(type='password' name='passwordConfirm' id='passwordConfirm')           
                //- Submit.           
                input.btn.btn-primary.btn-block(type='submit' value='Cadastrar')
        .col-md-4
    include components/jquery.js.pug
    include components/jquery.validation.js.pug
    include components/bootstrap.js.pug
    include components/jquery.validation.localization.js.pug
    script.
      jQuery(function($){
        // Form validation.
        $('#form-signup').validate({
          rules:{
            name: {
              required: true,
              minlength: 2,
              maxlength: 40             
            },          
            eamil: {
              required: true,
              email: true
            },
            password: {
              required: true,
              minlength: 8,
              maxlength: 20
            },
            passwordConfirm: {
              required: true,
              equalTo: '#password'            
            }           
          },  
          highlight: function (element) {
              $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
          },
          success: function (element) {
            // Remove erros.
            element.closest('.form-group').removeClass('has-error').addClass('has-success');
          }              
        });
      });