doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Cadastro de usuario.
    include components/bootstrap.css.pug
  body
    nav.navbar.navbar-inverse
      //- .container-fluid
      .container
        .navbar-header
          a.navbar-brand(href='/') ZUNKA
    .container
      .row
        .col-md-4
        .col-md-4
          .panel.panel-default
            .panel-body
              h1.text-left Cadastro
              //- .alert.alert-danger(role='alert') 
                p.text-center Usuario nao existe.
              form(action='/users/signup' method='post')
                //- Name.
                .form-group
                  input.form-control(type='text' name='name' placeholder='nome')                 
                //- Email.
                .form-group
                  input.form-control(type='text' name='email' placeholder='e-mail')
                //- Senha.
                .form-group
                  input.form-control(type='password' name='password' placeholder='senha')
                input.btn.btn-primary.btn-block(type='submit' value='Cadastrar')
        .col-md-4
    include components/jquery.js.pug
    include components/bootstrap.js.pug
