doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Equipamentos de informatica.
    include components/bootstrap.css.pug
  body
    #app
    //- Make pug data disponible to vue instance.
    script.
      let vueUser = !{JSON.stringify(user)}
      let vueProduct = !{JSON.stringify(product)}
    include components/jquery.js.pug
    include components/bootstrap.js.pug
    include components/vue.js.pug
    include components/vue-resource.js.pug
    script(src='/bundleStoreItem.js')
