.top-nav
  a.brand Zunka
  #toggle-menu
    span
    span
    span
  a.cart(href='/cart')
    svg.icon: use(xlink:href='/icon/sprite.svg#ic_shopping_cart_white_24px') 
    //- span#cart-qtd= cart.totalQtd
    span#cart-qtd #{cart.totalQtd} 
  ul#menu
    if user.name && user.group.includes('admin')
      li.niv1.admin
        | Admin
        svg.icon.niv1: use.niv1(xlink:href='/icon/sprite.svg#baseline-expand_more_#ccc-24px')
        ul
          li.back-main-menu Menu principal
          li: a(href='/admin/orders') Pedidos
          li: a(href='/admin') Produtos
          li: a(href='/admin/product/new') Criar produto    
    li.niv1.account
      | Sua conta
      svg.icon: use(xlink:href='/icon/sprite.svg#baseline-expand_more_#ccc-24px')
      ul
        li.back-main-menu Menu principal
        if !user.name
          li: a(href='/user/signin') Entrar
        if user.name
          li: a(href='/user/orders') Pedidos
          li: a(href='/user/address') Endereços
          li: a(href='/user/access') Autenticação
          li: a(href='/user/signout') Não é #{user.name}? Sair
  .search
    input(id='search' onkeyup='__search(event)' placeholder='O que você procura?')
    //- input(id='search' oninput='window.location="/admin/productList&search=" + getElementById("search").value' placeholder='Pesquisa')
    input(onclick='__search()')
  script.
    // Input search.
    function __search(event){
      if (!event || event.key === 'Enter') {
        // Must be implemented on parent module.
        _search(document.getElementById('search').value);
      }
    }
    // DOM loaded.
    document.addEventListener("DOMContentLoaded", function(event) { 
      // Elements. 
      let elMenu = document.getElementById('menu');
      let elToggleMenu = document.getElementById('toggle-menu');
      let elSubMenu = document.querySelectorAll('#menu > li');
      let elBackMainMenu = document.querySelectorAll('li.back-main-menu');
      // Show main menu.
      elToggleMenu.addEventListener('click', e=>{
        elToggleMenu.classList.toggle('cross');
        elMenu.classList.toggle('show');
      });
      // Show submenu.
      elSubMenu.forEach(el=>{
        el.addEventListener('click', e=>{
          // Not children events.
          console.log(e.target);
          if(e.target.classList.contains('niv1')){
            e.target.querySelector('ul').classList.add('show');
          }
        });
      })
      // Back to main menu.
      elBackMainMenu.forEach(el=>{
        el.addEventListener('click', e=>{
          e.target.parentElement.classList.remove('show');
        });
      });
      // Get media query.
      var mql = window.matchMedia('(max-width: 600px)');
      mql.addListener(screenTest);
      // Hide menu, so when back to small screen not start showing menu.
      function screenTest(e) {
        if (e.matches) {
          // Viewport is 600 pixels wide or less.
        } else {
          // Viewport is more than than 600 pixels wide.
          elMenu.className = '';
          elToggleMenu.className = '';
        }
      }
    });