.top-nav
  a.brand Zunka
  #toggle-menu
    span
    span
    span
  a.cart(href='/cart')
    svg.icon: use(xlink:href='/icon/sprite.svg#ic_shopping_cart_white_24px')  
  ul#menu
    li Sua conta
    li: a(href='/user/orders') Pedidos
  .search
    input(id='search' onkeyup='__search(event)' placeholder='O que você procura?')
    //- input(id='search' oninput='window.location="/admin/productList&search=" + getElementById("search").value' placeholder='Pesquisa')
    input(onclick='__search()')
  script.
    // Input search.
    function __search(event){
      if (!event || event.key === 'Enter') {
        // Must be implemented on parent module.
        _search(document.getElementById('search').value);
      }
    }
    // DOM loaded.
    document.addEventListener("DOMContentLoaded", function(event) { 
      // #menu. 
      let elMenu = document.getElementById('menu');
      let elToggleMenu = document.getElementById('toggle-menu');
      // #toggle-menu click.
      elToggleMenu.addEventListener('click', e=>{
        toggleMenu();
      });
      // Show-hide menu on small screen.
      function toggleMenu(){
        if (elMenu.className === 'show') {
          elMenu.className = '';
          elToggleMenu.className = ''
        } else {
          elMenu.className = 'show';
          elToggleMenu.className = 'cross';
        }
        //- console.log(elMenu.className);
      };

      // Get media query.
      var mql = window.matchMedia('(max-width: 600px)');
      mql.addListener(screenTest);
      // Hide menu, so when back to small screen not start showing menu.
      function screenTest(e) {
        if (e.matches) {
          // Viewport is 600 pixels wide or less.
        } else {
          // Viewport is more than than 600 pixels wide.
          elMenu.className = '';
          elToggleMenu.className = '';
        }
      }
    });





//- .main-nav
//-   //- Home.
//-   a(href='/') Zunka
//-   .search
//-     input(id='search' onkeyup='__search(event)' placeholder='O que você procura?')
//-     //- input(id='search' oninput='window.location="/admin/productList&search=" + getElementById("search").value' placeholder='Pesquisa')
//-     input(onclick='__search()')
//-   //- User name.
//-   a(href='/user/account') Sua conta
//-   //- Cart.
//-   a(href='/cart')
//-     svg.icon: use(xlink:href='/icon/sprite.svg#ic_shopping_cart_white_24px')
//-   .menu-toggle
//-     input(type='checkbox')
//-     span
//-     span
//-     span
//-     ul.menu
//-       a(href='/user/account'): li Option 1
//-       a(href='/user/account'): li Option 2
//-       a(href='/user/account'): li Option 3
//-   script.
//-     function __search(event){
//-       if (!event || event.key === 'Enter') {
//-         // Must be implemented on parent module.
//-         _search(document.getElementById('search').value);
//-       }
//-     }