extends ../layout/layout_vue_n

block title
  title Zunka - Dados de acesso

block append css
    link(rel="stylesheet" href="/css/user/access.css" charset="utf-8")

block content 
  section.shadow
    h2.title Dados da conta
    //- Name
    h3.sub-title Nome completo
    p {{ user.name }}
    a(href='access/edit-name') Editar
    //- E-mail.
    h3.sub-title E-mail
    p {{ user.email }} 
    a(href='access/edit-email') Editar
    //- Cell phone.
    h3.sub-title Número de telefone celular
    p {{ user.mobileNumber ? user.mobileNumber : '********' }}
    a(href='access/edit-mobile-number') Editar
    //- Password.
    h3.sub-title Senha
    p ********
    a(href='access/edit-password') Editar
    //- CPF.
    h3.sub-title CPF
    p {{ user.cpf ? user.cpf : '********' }}
    a(href='access/edit-cpf') Editar
    //- Remove account.
    h3.sub-title Apagar conta
    a(href='access/delete-account') Apagar
    input.btn-primary(type='submit' @click='exit()' value='Sair')  

append internal_scripts
  script.
    let user = !{JSON.stringify(user)};

append external_scripts
  script(src='/js/user/access.js')        
