doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Dados de acesso
    link(rel="stylesheet" href="/css/user/access.css" charset="utf-8")
  body
    header
      nav
        include ../main-nav.pug
    main#app(v-cloak)
      .breadlink
        a(href='/user/account') Sua conta
        a &nbsp> Autenticação
      .auth
        //- Name
        p.title Nome completo
        p {{ user.name }}
        a(href='access/edit-name') Editar
        hr
        //- E-mail.
        p.title E-mail
        p {{ user.email }} 
        a(href='access/edit-email') Editar
        hr
        //- Cell phone.
        p.title Número de telefone celular
        p {{ user.mobileNumber ? user.mobileNumber : '********' }}
        a(href='access/edit-mobile-number') Editar
        hr
        //- Password.
        p.title Senha
        p ********
        a(href='access/edit-password') Editar
        hr
        //- CPF.
        p.title CPF
        p {{ user.cpf ? user.cpf : '********' }}
        a(href='access/edit-cpf') Editar
        hr
        //- Remove account.
        p.title Apagar conta
        a(href='access/delete-account') Apagar
      input(type='button' @click='exit()' value='Concluído')             
  script.
    // Make available for vue.
    let csrfToken = !{JSON.stringify(csrfToken)};
    let user = !{JSON.stringify(user)};
  include ../components/vue.js.pug
  script(src='/js/user/access.js')        