extends ../layout/layout_vue

block title
  title Zunka - Dados de acesso

block append css
    link(rel="stylesheet" href="/css/user/access.css" charset="utf-8")

block content 
  section
    h2.title Dados da conta
    //- Name
    h3.sub-title(v-if='!user.cnpj') Nome completo
    h3.sub-title(v-if='user.cnpj') Razão social
    p {{ user.name }}
    a(href='access/edit-name') Editar
    //- E-mail.
    h3.sub-title E-mail
    p {{ user.email }} 
    a(href='access/edit-email') Editar
    //- Cell phone.
    h3.sub-title Número de telefone celular
    p {{ user.mobileNumber ? user.mobileNumber : '********' }}
    a(href='access/edit-mobile-number') Editar
    //- Password.
    h3.sub-title Senha
    p ********
    a(href='access/edit-password') Editar
    //- CPF.
    .cpf(v-if='user.cpf')
        h3.sub-title CPF
        p {{ user.cpf ? user.cpf : '********' }}
        a(href='access/edit-cpf') Editar
    //- CNPJ.
    .cnpj(v-if='user.cnpj')
        //- CNPJ.
        h3.sub-title CNPJ
        p {{ user.cnpj ? user.cnpj : '********' }}
        a(href='access/edit-cnpj') Editar
        //- State registry.
        h3.sub-title Inscrição statual
        p {{ user.stateRegistration ? user.stateRegistration : '********' }}
        a(href='access/edit-state-registration') Editar
        //- Contact name.
        h3.sub-title Nome para contato
        p {{ user.contactName ? user.contactName : '********' }}
        a(href='access/edit-contact-name') Editar
    //- Remove account.
    h3.sub-title Apagar conta
    a(href='access/delete-account') Apagar
    input.btn-primary(type='submit' @click='exit()' value='Sair')  

append internal_scripts
  script.
    let user = !{JSON.stringify(user)};

append external_scripts
  script(src='/js/user/access.js?0002')        
