extends ../layout/layout_vue

block title
  title Zunka - Dados de acesso

block css
    link(rel="stylesheet" href="/css/user/access.css" charset="utf-8")

block content 
  .panel
    //- Name
    p.title Nome completo
    p {{ user.name }}
    a(href='access/edit-name') Editar
    hr
    //- E-mail.
    p.title E-mail
    p {{ user.email }} 
    a(href='access/edit-email') Editar
    hr
    //- Cell phone.
    p.title Número de telefone celular
    p {{ user.mobileNumber ? user.mobileNumber : '********' }}
    a(href='access/edit-mobile-number') Editar
    hr
    //- Password.
    p.title Senha
    p ********
    a(href='access/edit-password') Editar
    hr
    //- CPF.
    p.title CPF
    p {{ user.cpf ? user.cpf : '********' }}
    a(href='access/edit-cpf') Editar
    hr
    //- Remove account.
    p.title Apagar conta
    a(href='access/delete-account') Apagar
    //- hr
    input.btn-primary(type='submit' @click='exit()' value='Sair')  

block footer

append internal_scripts
  script.
    let user = !{JSON.stringify(user)};

append external_scripts
  script(src='/js/user/access.js')        
