extends ../layout/layout_vue

block title
    title Zunka - Conta removida

block content 
    section
        h2.mt0 Pronto! 
        h2.mt0 Sua conta jรก foi removida.

append external_scripts
  script(src='/js/user/accountDeleted.js?0002')   
