doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Mensagem
    link(rel="stylesheet" href="/css/user/accountDeleted.css" charset="utf-8")
  body
    include ../topMenu
    main
      .account-deleted
        h1 Pronto! 
        h1 Sua conta jรก foi removida.