extends ../layout/layout_vue

block title
  title Zunka - Conta removida

block css
  link(rel="stylesheet" href="/css/user/accountDeleted.css" charset="utf-8")

block content 
  .account-deleted
    h1 Pronto! 
    h1 Sua conta jรก foi removida.

block internal_scripts

block external_scripts