doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Conta.
    link(rel="stylesheet" href="/css/user/account.css" charset="utf-8")
  body
    include ../topMenu
    main#app(v-cloak)
      //- Orders.
      .panel
        a(href='/user/orders')      
          svg.icon: use(xlink:href='/icon/sprite.svg#ic_shopping_cart_black_24px')
          .text
            h3.text-left Pedidos
            p.text-left Acompanhe seus pedidos 
      //- Address.
      .panel
        a(href='/user/address')      
          svg.icon: use(xlink:href='/icon/sprite.svg#ic_home_black_24px')
          .text
            h3.text-left Endereços
            p.text-left Altere seus endereços
      //- User.
      .panel
        a(href='/user/access')      
          svg.icon: use(xlink:href='/icon/sprite.svg#ic_account_circle_black_24px') 
          .text
            h3.text-left Autenticação
            p.text-left Altere seu nome e senha
  script.
    // Make available for vue.
    let csrfToken = !{JSON.stringify(csrfToken)};
  include ../components/axios.js.pug
  include ../components/vue.js.pug
  script(src='/js/user/account.js')   