extends ../layout/layout_vue_n

block title
    title Zunka - Conta removida

block append css
    link(rel="stylesheet" href="/css/user/accountDeleted.css" charset="utf-8")

block content 
    section.shadow
        h2.msg Pronto! 
        h2.msg Sua conta jรก foi removida.

append external_scripts
  script(src='/js/user/accountDeleted.js?0002')   
