doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Cadastro de usuario
    link(rel="stylesheet" href="/css/user/addAddress.css" charset="utf-8")
  body
    header
      nav
        include ../main-nav.pug
    main#app(v-cloak)
      .breadlink
        a(href='/user/account') Sua conta
        a(href='/user/address') &nbsp> Endereços
        a &nbsp> Adicione Seu Endereço
      .form
        //- title.
        h2 Adicione Seu Endereço
        //- Warn message.
        p.warn-message {{ warnMessage }}    
        //- Name.
        label(for='name') Nome
        input(type='text' id='name' v-model='name')             
        //- CEP.
        label(for='cep') CEP
        input(type='text' id='cep' v-model='cep')
        a(href='http://www.buscacep.correios.com.br/sistemas/buscacep/' target='_blank') Não sei meu CEP
        p.loading-cep(v-if='loadingCepInfo') Buscando dados do cpf...
        p.cep-not-found(v-if='cepNotFound') Não foi possível encontrar o CEP informado. Por favor confira os dados e tente novamente.
        //- Address.
        label(for='address') Endereço
        input(type='text' id='address' v-model='address')
        //- Number.
        label(for='addressNumber') Número
        input(type='text' id='addressNumber' v-model='addressNumber')
        //- Complement.
        label(for='addressComplement') Complemento
        input(type='text' id='addressComplement' v-model='addressComplement')
        //- District.
        label(for='district') Bairro
        input(type='text' id='district' v-model='district')       
        //- City.
        label(for='city') Cidade
        input(type='text' id='city' v-model='city')  
        //- State.
        label(for='state') Estado
        input(type='text' id='state' v-model='state')                     
        //- Phone.
        label(for='phone') Telefone
        input(type='text' id='phone' v-model='phone')                                                                                        
        input(type='submit' value='Adicionar endereço' @click='saveAddress()')
  script.
    // Make available for vue.
    let csrfToken = !{JSON.stringify(csrfToken)};
  include ../components/axios.js.pug
  include ../components/vue.js.pug
  include ../components/cpf.js.pug
  script(src='/js/user/addAddress.js')