extends ../layout/layout_vue

block title
  title Zunka - Endereços

block append css
  link(rel="stylesheet" href="/css/user/address.css" charset="utf-8")

block content
  section.shadow
    h2.title Seus endereços
    .addresses
      //- Addresses list.
      .address-panel(v-for='address in addresses' data-address-id='address._id')
        //- .address-header(v-if='address.default')
          h3 Padrão
        .address-body      
          h4 {{address.name}}                                                                                                
          p {{address.phone}}                                                                                                
          p {{address.cep}}                                                                                                
          p {{address.address}}                                                                                                
          p {{address.addressNumber}}                                                                                                
          p {{address.addressComplement}}                                                                                                
          p {{address.district}}                                                                                                
          p {{address.city}}                                                                                                
          p {{address.state}}
        .address-footer    
          span
            a.edit-address(@click='editAddress(address._id)') Editar
            strong &nbsp | &nbsp
            a.remove-address(@click='removeAddress(address._id)') Apagar
            //- strong &nbsp | &nbsp
            //- a.set-default-address(@click='setDefaultAddress(address._id)') Marcar como padrão
      input.btn-primary(type='button' @click='addAddress()' value='Adicionar novo endereço')

append internal_scripts
  script.
    let addresses = !{JSON.stringify(addresses)};

append external_scripts
  script(src='/js/user/address.js?0002')  
