doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Endereços.
    include ../components/bootstrap.css.pug
  body
    include ../navbar.pug
    .container
      .row
        .col-md-2
        .col-md-2
          include ./menu.pug      
        .col-md-6
          .panel.panel-default
            .panel-body
              h1.text-left Endereços
              if error
                each err in error
                  .alert.alert-danger(role='alert') 
                    p.text-center #{err} 
              if success
                each suc in success
                  .alert.alert-info(role='alert') 
                    p.text-center #{suc}                                                                                          
              //- Remover conta.
              a.btn.btn-info.btn-block(href='add-address') Adicionar Endereço
        .col-md-2
    include ../components/jquery.js.pug
    include ../components/bootstrap.js.pug
