doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Remover conta.
    include ../components/bootstrap.css.pug
  body
    include ../navbar.pug
    .container
      .row
        .col-md-2
        .col-md-2
          include ./menu.pug      
        .col-md-6
          .panel.panel-default
            .panel-body
              h1.text-left Remover conta
              if error
                each err in error
                  .alert.alert-danger(role='alert') 
                    p.text-center #{err} 
              if success
                each suc in success
                  .alert.alert-info(role='alert') 
                    p.text-center #{suc}               
              form(action='/users/account/delete' method='post')
                input(type='hidden' name='_csrf' value=csrfToken)               
                //- Email.
                .form-group
                  input.form-control(type='text' placeholder='e-mail')        
                //- Password.
                .form-group
                  input.form-control(type='Password' name='Password' placeholder='senha')                                                                             
                //- Remover conta.
                input.btn.btn-info.btn-block(type='submit' value='Remover conta')
        .col-md-2
    include ../components/jquery.js.pug
    include ../components/bootstrap.js.pug