extends ../layout/layout_vue

block title
  title Zunka - Apagar conta

block content 
  section
    h2.mt0 Apagar Conta
    p.warn-message(v-show='this.warnMessage !== ""') {{warnMessage}}
    label(for='email') E-mail
    input(type='text' id='email' v-model='email')
    label(for='password') Senha
    input(type='password' id='password' v-model='password')        
    input.btn-primary(type='button' value='Apagar Conta' @click='deleteAccount()')

append internal_scripts
  script.
    let cart = !{JSON.stringify(cart)};

append external_scripts
  script(src='/js/user/deleteAccount.js?0003')
