extends ../layout/layout

block title
    title Zunka - Alteração da inscrição estadual

block append internal_style
    style.
        section .invalid {
            color: var(--red);
            margin-top: 0;
        }

block content 
    section
        form(method='post')
            input(type='hidden' name='_csrf' value=csrfToken)

            //- Title.
            h2.mt0 Alteração da inscrição estaudal

            //- State registration.
            label(for='stateRegistration') Inscrição estadual
            input(type='text' name='stateRegistration' id='stateRegistration' value=stateRegistration)
            label.invalid= invalid.stateRegistration

            //- Save.
            input.btn-primary(type='submit' value='Salvar Alterações') 
