extends ../layout/layout_vue

block title
  title Zunka - Alteração da senha

block css
  link(rel="stylesheet" href="/css/user/editPassword.css" charset="utf-8")

block content 
  .panel
    h2 Altere Sua Senha
    //- Warn message.
    p.warn-message(v-show='this.warnMessage !== ""') {{ warnMessage }}  
    label(for='newPassword') Nova Senha
    input(type='password' name='newPassword' id='newPassword' v-model='newPassword')                    
    label(for='newPasswordConfirm') Entre com a nova senha novamente
    input(type='password' name='newPasswordConfirm' id='newPasswordConfirm' v-model='newPasswordConfirm')        
    label(for='oldPassword') Senha atual
    input(type='password' name='oldPassword' id='oldPassword' v-model='oldPassword') 
    input.btn-primary(type='button' value='Salvar Alterações' @click='save()') 

block footer

append external_scripts
  script(src='/js/user/editPassword.js')  