extends ../layout/layout_vue

block title
  title(v-if='cnpj') Zunka - Alteração da razão social
  title(v-if='!cnpj') Zunka - Alteração do nome

block append css
  link(rel="stylesheet" href="/css/user/editName.css" charset="utf-8")

block content 
  section.shadow
    h2.title(v-if='cnpj') Alteração da razão social
    h2.title(v-if='!cnpj') Alteração do nome
    //- Warn message.
    p.warn-message(v-show='this.warnMessage !== ""') {{ warnMessage }}   
    //- Name.
    label(for='name' v-if='cnpj') Nova razão social
    label(for='name' v-if='!cnpj') Novo nome
    input(type='text' name='name' id='name' v-model='name')
    input.btn-primary(type='button' value='Salvar Alterações' @click='save()') 

append internal_scripts
  script.
    let name = !{JSON.stringify(name)};
    let cnpj = !{JSON.stringify(cnpj)};

append external_scripts
  script(src='/js/user/editName.js?0003')   
