extends ../layout/layout_vue_n

block title
  title Zunka - Alteração do número do celular

block append css
  link(rel="stylesheet" href="/css/user/editMobileNumber.css" charset="utf-8")

block content 
  section.shadow
    h2.title Alteração do número de celular 
    //- Warn message.
    p.warn-message(v-show='this.warnMessage !== ""') {{ warnMessage }}   
    label(for='mobileNumber') Novo Número de Celular
    input(type='text' name='mobileNumber' id='mobileNumber' v-model='mobileNumber' placeholder='(99) 9 9999-9999')
    input.btn-primary(type='button' value='Salvar Alterações' @click='save()') 

append internal_scripts
  script.
    let mobileNumber = !{JSON.stringify(mobileNumber)};

append external_scripts
  script(src='/js/user/editMobileNumber.js')  
