doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Alterar o nome
    link(rel="stylesheet" href="/css/user/editName.css" charset="utf-8")
  body
    header
      nav
        include ../main-nav.pug
    main#app(v-cloak)
      .breadlink
        a(href='/user/account') Sua conta
        a &nbsp> Altere seu nome
      .edit-name
        h2 Altere Seu Nome
        //- Warn message.
        p.warn-message {{ warnMessage }}   
        //- Name.
        label(for='name') Novo nome
        input(type='text' name='name' id='name' v-model='name')
        input(type='button' value='Salvar Alterações' @click='save()')               
  script.
    // Make available for vue.
    let csrfToken = !{JSON.stringify(csrfToken)};
    let name = !{JSON.stringify(name)};
  include ../components/axios.js.pug
  include ../components/vue.js.pug
  script(src='/js/user/editName.js')   