extends ../layout/layout_vue

block title
  title Zunka - Alteração de CPF

block css
  link(rel="stylesheet" href="/css/user/editCpf.css" charset="utf-8")

block content 
  .breadlink
    a(href='/user/account') Sua conta
    a &nbsp> Altere seu CPF  
  .edit-cpf
    h2.text-left Altere Seu CPF
    //- Warn message.
    p.warn-message {{ warnMessage }}  
    label(for='cpf') CPF
    input(type='text' name='cpf' id='cpf' v-model='cpf')
    input(type='button' value='Salvar Alterações' @click='save()') 

block footer

append internal_scripts
  script.
    let cpf = !{JSON.stringify(cpf)};

append external_scripts
  script(src='/js/user/editCpf.js')  