doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Dados de acesso.
    link(rel="stylesheet" href="/css/user/editPassword.css" charset="utf-8")
  body
    include ../desktopNav.pug
    include ../mobileNav.pug  
    main#app(v-cloak)
      .breadlink
        a(href='/user/account') Sua conta
        a &nbsp> Altere sua senha
      .edit-password
        h2.text-left Altere Sua Senha
        //- Warn message.
        p.warn-message {{ warnMessage }}  
        label(for='newPassword') Nova Senha
        input(type='password' name='newPassword' id='newPassword' v-model='newPassword')                    
        label(for='newPasswordConfirm') Entre com a nova senha novamente
        input(type='password' name='newPasswordConfirm' id='newPasswordConfirm' v-model='newPasswordConfirm')        
        label(for='oldPassword') Senha atual
        input(type='password' name='oldPassword' id='oldPassword' v-model='oldPassword') 
        input(type='button' value='Salvar Alterações' @click='save()')               
  script.
    // Make available for vue.
    let csrfToken = !{JSON.stringify(csrfToken)};
  include ../components/axios.js.pug
  include ../components/vue.js.pug
  script(src='/js/user/editPassword.js')  