extends ../layout/layout

block title
    title Zunka - Alteração do nome para contato

block append internal_style
    style.
        section .invalid {
            color: var(--red);
            margin-top: 0;
        }

block content 
    section
        form(method='post')
            input(type='hidden' name='_csrf' value=csrfToken)

            //- Title.
            h2.mt0 Alteração do nome para contato

            //- Contato name.
            label(for='contactName') Nome para contato
            input(type='text' name='contactName' id='contactName' value=contactName)
            label.invalid= invalid.contactName

            //- Save.
            input.btn-primary(type='submit' value='Salvar Alterações') 
