extends ../layout/layout_vue

block title
  title Zunka - Alteração do nome

block css
  link(rel="stylesheet" href="/css/user/editName.css" charset="utf-8")

block content 
  .breadlink
    a(href='/user/account') Sua conta
    a &nbsp> Altere seu nome
  .edit-name
    h2 Altere Seu Nome
    //- Warn message.
    p.warn-message {{ warnMessage }}   
    //- Name.
    label(for='name') Novo nome
    input(type='text' name='name' id='name' v-model='name')
    input(type='button' value='Salvar Alterações' @click='save()') 

block footer

append internal_scripts
  script.
    let name = !{JSON.stringify(name)};

append external_scripts
  script(src='/js/user/editName.js')   