extends ../layout/layout_vue

block title
  title Zunka - Alteração do número do celular

block css
  link(rel="stylesheet" href="/css/user/editMobileNumber.css" charset="utf-8")

block content 
  .panel
    h2.text-left Alteração do número de celular 
    //- Warn message.
    p.warn-message(v-show='this.warnMessage !== ""') {{ warnMessage }}   
    label(for='mobileNumber') Novo Número de Celular
    input(type='text' name='mobileNumber' id='mobileNumber' v-model='mobileNumber')
    input.dark-blue(type='button' value='Salvar Alterações' @click='save()') 

block footer

append internal_scripts
  script.
    let mobileNumber = !{JSON.stringify(mobileNumber)};

append external_scripts
  script(src='/js/user/editMobileNumber.js')  
