extends ../layout/layout_vue_n

block title
  title Zunka - Alteração de e-mail

block append css
  link(rel="stylesheet" href="/css/user/editEmail.css" charset="utf-8")

block content 
  section.shadow
    h2.title Altereção de e-mail
    //- Warn message.
    p.warn-message(v-show='this.warnMessage !== ""') {{ warnMessage }}   
    label E-mail antigo
    p.alert {{ email }}
    //- New email.
    label(for='email') Novo e-mail
    input(type='text' name='email' id='email' v-model='newEmail')
    //- New email confirmation.
    label(for='emailConfirm') Insira o novo e-mail novamente
    input(type='text' name='emailConfirm' id='emailConfirm' v-model='newEmailConfirm')      
    //- Password.
    label(for='password') Senha
    input(type='password' name='password' id='password' v-model='password')        
    input.btn-primary(type='button' value='Salvar Alterações' @click='save()')

append internal_scripts
  script.
    let email = !{JSON.stringify(email)};

append external_scripts
  include ../components/accounting.js.pug
  script(src='/js/user/editEmail.js?0002')  
