extends ../layout/layout_vue

block title
  title Zunka - Cadastro de usário

block css
  link(rel="stylesheet" href="/css/user/editAddress.css" charset="utf-8")

block content 
  .panel
    //- title.
    h2 Adicione Seu Endereço
    //- Warn message.
    p.warn-message {{ warnMessage }}    
    //- Name.
    label(for='name') Nome
    input(type='text' id='name' v-model='address.name')             
    //- CEP.
    label(for='cep') CEP
    input(type='text' id='cep' v-model='address.cep')
    a(href='http://www.buscacep.correios.com.br/sistemas/buscacep/' target='_blank') Não sei meu CEP
    p.loading-cep(v-if='loadingCepInfo') Buscando dados do cpf...
    p.cep-not-found(v-if='cepNotFound') Não foi possível encontrar o CEP informado. Por favor confira os dados e tente novamente.
    //- Address.
    label(for='address') Endereço
    input(type='text' id='address' v-model='address.address')
    //- Number.
    label(for='addressNumber') Número
    input(type='text' id='addressNumber' v-model='address.addressNumber')
    //- Complement.
    label(for='addressComplement') Complemento
    input(type='text' id='addressComplement' v-model='address.addressComplement')
    //- District.
    label(for='district') Bairro
    input(type='text' id='district' v-model='address.district')       
    //- City.
    label(for='city') Cidade
    input(type='text' id='city' v-model='address.city')  
    //- State.
    label(for='state') Estado
    input(type='text' id='state' v-model='address.state')                     
    //- Phone.
    label(for='phone') Telefone
    input(type='text' id='phone' v-model='address.phone')                                                                                        
    input.dark-blue(type='button', :value='isNewAddress ? "Criar novo Endereço": "Salvar"' @click='saveAddress()')

block footer

append internal_scripts
  script.
    let isNewAddress = !{JSON.stringify(isNewAddress)};
    let address = !{JSON.stringify(address)};

append external_scripts
  script(src='/js/user/editAddress.js')