
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Redefinição de senha.
    link(rel="stylesheet" href="/css/user/forgottenPassword.css" charset="utf-8")
  body
    include ../topMenu 
    main#app(v-cloak)
      .panel
        h1.text-left Redefinir senha                            
        input(type='hidden' name='_csrf' value=csrfToken)
        p.success-message {{successMessage}}
        //- Email
        input(type='text' name='email' placeholder='e-mail' v-model='email')
        input.reset(type='submit' value='Redefinir senha' @click='reset()')
        p.warn-message {{warnMessage}}
  script.
    // Make available for vue.
    let csrfToken = !{JSON.stringify(csrfToken)};
    let warnMessage = !{JSON.stringify(warnMessage)};
    let successMessage = !{JSON.stringify(successMessage)};
  include ../components/axios.js.pug
  include ../components/vue.js.pug
  script(src='/js/user/forgottenPassword.js')  

