extends ../layout/layout_vue

block title
  title Zunka - Redefinição de senha

block css
  link(rel="stylesheet" href="/css/user/forgottenPassword.css" charset="utf-8")

block content 
  .panel
    h2 Redefinição de senha    
    label(for='email') e-mail                        
    input(type='hidden' name='_csrf' value=csrfToken)
    //- Email
    input(type='text' name='email' v-model='email')
    input.dark-blue(type='submit' value='Redefinir senha' @click='reset()')
    p.success-message(v-show='this.successMessage !== ""') {{successMessage}}
    p.warn-message(v-show='this.warnMessage !== ""') {{warnMessage}}

block footer

append internal_scripts
  script.
    let warnMessage = !{JSON.stringify(warnMessage)};
    let successMessage = !{JSON.stringify(successMessage)};

append external_scripts
  script(src='/js/user/forgottenPassword.js')  