extends ../layout/layout_vue

block title
  title Zunka - Redefinição de senha

block css
  link(rel="stylesheet" href="/css/user/forgottenPassword.css" charset="utf-8")

block content 
  .panel
    h1.text-left Redefinir senha                            
    input(type='hidden' name='_csrf' value=csrfToken)
    p.success-message {{successMessage}}
    //- Email
    input(type='text' name='email' placeholder='e-mail' v-model='email')
    input.reset(type='submit' value='Redefinir senha' @click='reset()')
    p.warn-message {{warnMessage}}

block footer

append internal_scripts
  script.
    let warnMessage = !{JSON.stringify(warnMessage)};
    let successMessage = !{JSON.stringify(successMessage)};

append external_scripts
  script(src='/js/user/forgottenPassword.js')  