extends ../layout/layout_vue

block title
  title Zunka - Redefinição de senha

block append css
  link(rel="stylesheet" href="/css/user/forgottenPassword.css" charset="utf-8")

block content 
  section.shadow
    h2.title Redefinição de senha    
    p.success-message(v-show='this.successMessage !== ""') {{successMessage}}
    p.warn-message(v-show='this.warnMessage !== ""') {{warnMessage}}
    label(for='email') E-mail                        
    input(type='hidden' name='_csrf' value=csrfToken)
    //- Email
    input(type='text' name='email' v-model='email')
    input.btn-primary(type='submit' value='Redefinir senha' @click='reset()')

append internal_scripts
  script.
    let warnMessage = !{JSON.stringify(warnMessage)};
    let successMessage = !{JSON.stringify(successMessage)};

append external_scripts
  script(src='/js/user/forgottenPassword.js?0002')  
