extends ../layout/layout_vue

block title
  title Zunka - Mensagem

block css
  link(rel="stylesheet" href="/css/user/messageLink.css" charset="utf-8")

block content 
  .message-link
    h3 #{message} 
    a(href=linkUrl) #{linkMessage}

append internal_scripts

append external_scripts