extends ../layout/layout_vue_n

block title
    title Zunka - Mensagem

block append css
    link(rel="stylesheet" href="/css/user/messageLink.css" charset="utf-8")

block content 
    section.shadow
        h3 #{message} 
        a(href=linkUrl) #{linkMessage}

append internal_scripts

append external_scripts
    script(src='/js/user/messageLink.js?0002')  
