doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Zunka - Pedidos
    link(rel="stylesheet" href="/css/user/orderList.css" charset="utf-8")
  body
    header
      nav
        include ../main-nav.pug
    main
      #app(v-cloak)
        .breadlink
          a(href='/users/account') Sua conta
          a &nbsp> Seus Pedidos
        h2 Seus Pedidos
        table
          thead
            tr
              th Data do pedido
              th Total
              th Enviado para
              th Número
          tbody
            tr(v-for='order in orders')
              td: a(:href='`/admin/orders`') {{order.isShippingAddressSelected | formatDate}}
              td: a(:href='`/admin/orders`') {{order.totalPrice | formatMoney}}
              td: a(:href='`/admin/orders`') {{order.shipping.address.name}}
              td: a(:href='`/admin/orders`') {{order._id}}
        nav.pagination
          a(v-for='p in pageCount', @click='getOrders(p)', :page='page==p', :p='p', :active='page==p') {{p}}
    script.
      // Make available for vue.
      let csrfToken = !{JSON.stringify(csrfToken)};
      let search = !{JSON.stringify(search)};
      let page = !{JSON.stringify(page)};   //  Selected page.
    include ../components/axios.js.pug
    include ../components/vue.js.pug
    script(src='/js/user/orderList.js')
