doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Pedidos.
    include ../components/bootstrap.css.pug
  body
    include ../navbar.pug
    .container
      .row
        .col-md-12
          ol.breadcrumb
            li
              a(href='/users/account') Sua Conta
            li.active Seus Pedidos
          h2.text-left Seus Pedidos
          //- Flash erros.          
          if error
            each err in error
              .alert.alert-danger(role='alert') 
                p.text-center #{err} 
          //- Flash success.
          if success
            each suc in success
              .alert.alert-info(role='alert') 
                p.text-center #{suc}    
      .row
        //- Address list.
        if orders
          each order in orders
            .col-md-4
              .z-panel.address(data-address-id=order._id)
                .z-panel-heading Padrão
                .z-panel-body                                                                                                         
                .z-panel-footer                                                                                          
    include ../components/jquery.js.pug
    include ../components/bootstrap.js.pug
  script.
  style.
    a.not-decoration {
      text-decoration: none;
    }
    /* Panel */
    .z-panel{
      border: 1px solid lightgray;
      min-height: 400px;
      border-radius: 5px; 
    }
    .z-panel-heading, 
    .z-panel-body, 
    .z-panel-footer{
      padding: 1em;
    }
    .z-panel-heading{
      height: 3.5em;
      border-bottom: 1px solid lightgray;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;      
    }
    .z-panel-body{
    }
    .z-panel-body > p.name {
      font-weight: bold;
    }
    .z-panel-footer{
      position: absolute;
      bottom: 1px;
      height: 3.5em;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;    
    }
