doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Redefinir a senha
    link(rel="stylesheet" href="/css/user/resetPassword.css" charset="utf-8")
  body
    include ../desktopNav.pug
    include ../mobileNav.pug 
    main#app(v-cloak)
      .reset-password
        h1.text-left Redefinir senha           
        input(type='password' placeholder='Nova senha' v-model='password')
        input(type='password' placeholder='Confirme a nova senha' v-model='passwordConfirm')
        p.warn-message {{warnMessage}}
        input(type='button' value='Alterar senha' @click='resetPassword()')
    script.
      // Make available for vue.
      let csrfToken = !{JSON.stringify(csrfToken)};
      let resetPasswordToken = !{JSON.stringify(resetPasswordToken)};
    include ../components/axios.js.pug
    include ../components/vue.js.pug
    script(src='/js/user/resetPassword.js')  
