extends ../layout/layout_vue_n

block title
  title Zunka - Redefinir senha

block append css
  link(rel="stylesheet" href="/css/user/resetPassword.css" charset="utf-8")

block content 
  section.shadow
    h2.title Redefinir senha 
    p.warn-message(v-show='this.warnMessage !== ""') {{warnMessage}}
    label(for='newPassword') Nova senha          
    input(id='newPassword' type='password' v-model='password')
    label(for='newPassword') Confirme a nova senha          
    input(id='newPasswordConfirm' type='password' v-model='passwordConfirm')
    input.btn-primary(type='submit' value='Alterar senha' @click='resetPassword()')

append internal_scripts
  script.
    let resetPasswordToken = !{JSON.stringify(resetPasswordToken)};

append external_scripts
  script(src='/js/user/resetPassword.js?0002')  
