extends ../layout/layout_vue

block title
  title Zunka - Redefinir senha

block css
  link(rel="stylesheet" href="/css/user/resetPassword.css" charset="utf-8")

block content 
  .reset-password
    h1.text-left Redefinir senha           
    input(type='password' placeholder='Nova senha' v-model='password')
    input(type='password' placeholder='Confirme a nova senha' v-model='passwordConfirm')
    p.warn-message {{warnMessage}}
    input(type='button' value='Alterar senha' @click='resetPassword()')

block footer

append internal_scripts
  script.
    let resetPasswordToken = !{JSON.stringify(resetPasswordToken)};

append external_scripts
  script(src='/js/user/resetPassword.js')  