doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Signin
    link(rel="stylesheet" href="/css/user/signin.css" charset="utf-8")
  body
    header
      nav
        include ../main-nav.pug
    main#app(v-cloak)
      .login
        h1 Identificação              
        p.success-message {{successMessage}}
        input(type='text' v-model='email' placeholder='e-mail')
        input(type='password' v-model='password' placeholder='senha')
        p 
          a.find-password(href='/user/forgottenPassword') Esqueceu a senha?
        input.log(type='submit' value='Entrar' @click='signin()')
        p.warn-message {{warnMessage}}
        hr/
        p Não tem cadastro?
        input.signup(type='submit' value='Cadastrar' @click='signup()')
        //- a(href='/users/signup') Cadastrar
  script.
    // Make available for vue.
    let csrfToken = !{JSON.stringify(csrfToken)};
    let warnMessage = !{JSON.stringify(warnMessage)};
    let successMessage = !{JSON.stringify(successMessage)};
  include ../components/axios.js.pug
  include ../components/vue.js.pug
  script(src='/js/user/signin.js')        