extends ../layout/layout_vue_n

block title
  title Zunka - Cadastro de usuário

block append css
  link(rel="stylesheet" href="/css/user/signup.css" charset="utf-8")

block content 
  section.shadow
    h2.title Cadastro 
    //- Warn message.
    p.warn-message(v-show='this.warnMessage !== ""') {{ warnMessage }}
    //- Name.
    label(for='name') Nome
    input(type='text' id='name' v-model='name')                              
    //- Email.
    label(for='email') E-mail
    input(type='email' id='email' v-model='email')
    //- Password.
    label(for='password') Senha
    input(type='password' placeholder='Pelo menos 8 caracteres' id='password' v-model='password')
    //- Confirm password.
    label(for='passwordConfirm') Confirme a senha
    input(type='password' id='passwordConfirm' v-model='passwordConfirm')           
    //- Signup.     
    input.btn-primary(type='submit' value='Cadastrar' @click='signup()')
    p.success-message(v-show='this.successMessage !== ""') {{ successMessage }}

append external_scripts
  script(src='/js/user/signup.js')         
