extends ../layout/layout_vue

block title
  title Zunka - Autenticação

block append css
  link(rel="stylesheet" href="/css/user/signin.css" charset="utf-8")

block content 
  section.shadow
    h2.title Identificação
    p.success-message(v-show='this.successMessage !== ""') {{successMessage}}
    p.warn-message(v-show='this.warnMessage !== ""') {{warnMessage}}
    label(for='email') E-mail
    input(type='text' id='email' v-model='email')
    label(for='password') Senha
    input(type='password' id='password' v-model='password')
    input.signin.btn-primary(type='submit' value='Entrar' @click='signin()')
    a.forgotten-password(href='/user/forgottenPassword') Esqueceu a senha?
    //- label Não tem cadastro?
    h4.signup 
        span Não tem cadastro?
    input.btn-secondary(type='submit' value='Criar cadastro' @click='signup()')

append internal_scripts
  script.
    let warnMessage = !{JSON.stringify(warnMessage)};
    let successMessage = !{JSON.stringify(successMessage)};

append external_scripts
  script(src='/js/user/signin.js?0002')        
