section p {
    margin-top: 0;
    opacity: .7;
}
section h3 {
    opacity: 1;
    margin-top: .5em;
}
section hr {
    margin-top: 1em;
}
.title {
    color: var(--green);
    margin-top: 0;
}
.canceled {
    margin-top: 0;
    color: var(--red);
}
section ul li {
    margin-left: 1em;
}
