section {
	background-color: var(--white-lighter);
	padding: 1em;
	margin: 2em 1em;
    max-width: var(--width-large);
}
section p {
    margin-top: 0;
    opacity: .7;
}
section h3 {
    opacity: 1;
    margin-top: .5em;
}
section hr {
    margin-top: 1em;
}
.title {
    margin-top: 0;
}
section ul li {
    margin-left: 1em;
}
