section {
	background-color: var(--white-lighter);
	padding: 1em;
	margin: 2em 1em;
}
section .title {
    margin-top: 0;
}
section label input[type='radio'] {
    color: blue;
    width: auto;
    height: auto;
    margin-right: .4em;
}
section label span {
    margin-top: .1em;
    font-weight: bold; 
}
section .radio {
    margin-top: 1em;
}
section .radio label {
    margin-top: 0;
}
section .invalid {
    margin-top: 0;
    color: var(--red);
}
