@import '../reset'
@import '../desktopNav'
@import '../mobileNav'
main
  display flex
  flex-flow column nowrap
  justify-content center
  margin 0 auto 3em auto
  max-width 1000px
  .container
    display flex
    flex-flow column nowrap
    hr
      margin-bottom 1em
    h4
      margin-top 0.8em
      margin-bottom 0.2em
      font-weight bold
    .price
      color $RED_PRICE
    .quantity
      color $GRAY_TITLE
    .title
      font-weight bold
      margin-top .5em
    .deadline
      font-weight bold
    .items
      // margin-top 1em
      ul
        margin-left 2em
        li
          color $GRAY_TITLE
        margin-top .5em
        p
          margin-top .2em
          color black
      button
        margin-top 2em
    .total
      margin-top .5em
      margin-bottom 1em
