@import '../reset'
@import '../topMenu''
main
  display flex
  flex-flow column nowrap
  justify-content center
  margin 0 auto 3em auto
  max-width 1000px
  & > .container
    display flex
    flex-flow column nowrap
    h2
      margin-top 1em
    p
      margin-bottom .5em
    hr
      margin-top .2em
      margin-bottom 1em
    & > .price
      color $RED_PRICE
    & > .quantity
      color $GRAY_TITLE
    & > .shipment
      display flex
      flex-flow row wrap
      span.deadline
        font-weight bold
    & > .items
      // margin-top 1em
      margin-left 2em
      ul
        li
          color $GRAY_TITLE
        margin-top .5em
        p
          margin-top .2em
          color black
      button
        margin-top 2em
    & > .total
      margin-top .5em
      margin-bottom 1em
