@import '../menu/reset_menu'
main
  display flex
  flex-flow column nowrap
  justify-content center
  margin 0 auto 3em auto
  width 95%
  max-width $MAX_WIDTH
#app
  display flex
  flex-flow column nowrap
  h2
    margin-top 1em
  p
    margin-bottom .5em
  hr
    margin-top .2em
    margin-bottom 1em
  & > .price
    color c_price
  & > .quantity
    color $c_quantity
  & > .shipment
    display flex
    flex-flow row wrap
    span.deadline
      font-weight bold
  & > .items
    // margin-top 1em
    margin-left 2em
    ul
      li
        color $c_quantity
      margin-top .5em
      p
        margin-top .2em
        color black
    button
      margin-top 2em
  & > .total
    margin-top .5em
    margin-bottom 1em
