section {
	background-color: var(--white-lighter);
	padding: 1em;
	margin: 2em 1em;
}
.title {
    margin-top: 0;
}
section p {
    margin-top: 0;
    opacity: .7;
}
section li {
    // list-style: disc inside none;
    margin-left: 1em;
}
section hr {
    margin-top: 2em;
}
.payment {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 1em 1em 1em;
}
.payment input {
    // margin-bottom: 1em;
    max-width: 250px;
    height: 35px;
    font-style: italic;
    font-weight: 500;
}
.separator {
	height: 1em;
}
