main {
	margin: 0;
	padding-left: 1em;
	padding-right: 1em;
	// display: flex;
	// flex-direction: column;
	// flex: 1 0 auto;
}
section {
	background-color: var(--white-lighter);
	padding: 1em;
	max-width: 400px;
	// margin: 2em auto;
	// display: flex;
	// flex-direction: column;
	// flex: 1 0 auto;
}
.title {
    margin-top: 0;
}
section p {
    margin-top: 0;
    opacity: .7;
}
section li {
    // list-style: disc inside none;
    margin-left: 1em;
}
section hr {
    margin-top: 2em;
}
#ppplus{
	// max-width: 800px
    }
