section {
	background-color: var(--white-lighter);
	padding: 1em;
	margin: 2em 1em;
}
.rows {
	display: flex;
}
.column {
}
.title {
    margin-top: 0;
}
section p {
    margin-top: 0;
    opacity: .7;
}
section li {
    // list-style: disc inside none;
    margin-left: 1em;
}
section hr {
    margin-top: 2em;
}
@media (min-width: 0px) {
    .layout {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "title" "address" "shipment" "items" "total" "payment";
    }
    .title {
        grid-area: title;
    }
    .address {
        grid-area: address;
    }
    .shipment {
        grid-area: shipment;
    }
    .items {
        grid-area: items;
    }
    .total {
        grid-area: total;
    }
    .payment {
        grid-area: payment;
    }
}
@media (min-width: 500px) {

}
@media (min-width: 600px) {

}
@media (min-width: 800px){
    .layout {
        grid-template-columns: auto auto;
        grid-template-areas: "title title" "address items" "shipment total" "add add add";
    }
}
@media (min-width: 1000px) {}
@media (min-width: 1212px) {}
