@import '../menu/reset_menu'
main
  display flex
  flex-flow column nowrap
  justify-content center
  margin 0 auto 3em auto
  width 95%
  max-width $MAX_WIDTH
#app
  h2
    margin-top 1em
  hr
    margin-top .2em
    margin-bottom 1em
  span.price
    color $RED_PRICE
  span.quantity
    color $GRAY_TITLE
  span.deadline
    font-weight bold
  p.shippingAddress
    color $GRAY_TITLE
    margin-top 1em
  & > .items
    margin-top 1em
    margin-left 2em
    ul
      li
        color $GRAY_TITLE
      margin-top .5em
      p
        margin-top .2em
        color black
  & > .form
    margin-top 1em
    & > .radio
      margin-bottom 1.5em
      label
        margin-left 1em
        input[type='radio']
          vertical-align top
          margin-right .5em
        p 
          margin-left 3.1em