@import '../reset'
@import '../main-nav'
main
  display flex
  flex-flow column nowrap
  justify-content center
  margin 2em auto
  max-width 1000px
& > .addresss
  // background-color red
  display flex
  flex-flow row wrap
  // justify-content center
  // justify-content space-between
  // justify-content space-around
  // justify-content 
  // margin 0 1em
  & > .address
    flex 0 1 18em
    // background-color yellow
    // border 1px solid black
    // margin .5em
    padding 1.5em .5em
    button
      margin-top 1em