@require '../misc/loading.styl';

.title {
    margin-top: 0;
}
section label input[type='radio'] {
    color: blue;
    width: auto;
    height: auto;
}
section label span {
    font-weight: bold; 
}
section label p {
    margin-top: 0;
    opacity: .8;
}
section label ul {
    list-style-type: square;
    margin-left: 2em;
}
