@require '../misc/loading.styl';

section {
	background-color: var(--white-lighter);
	padding: 1em;
	margin: 2em 1em;
}
.title {
    margin-top: 0;
}
.address {
    border: 1px solid var(--black-lighter);
    border-radius: 4px;
    margin-top: 1em;
    padding: 1em;
}
.address .title {
    margin-top: 0;
    margin-bottom: .5em;
}
.address p {
    margin-top: 0;
    opacity: .8;
}
p.validation,
label.error {
    color: var(--red);
}
