@import '../menu/reset_menu_footer'
@import '../input'
@import '../message'
btn-primary()
.panel
  width width_address_page
  p
    color c_gray
  span.price
    color c_price
  span.quantity
    color $c_quantity
  span.deadline
    font-weight bold
  p.shippingAddress
    color $c_quantity
    margin-top 1em
  & > .items
    margin-top 1em
    margin-left 2em
    ul
      li
        color $c_quantity
      margin-top .5em
      p
        margin-top .2em
        color black
  & > .form
    margin-top 1em
    & > .radio
      margin-bottom 1.5em
      label
        // margin-left 1em
        input[type='radio']
          width auto
          height auto
        p 
          margin-left 2em
      p
        margin .5em