extends ../layout/layout_vue_n

block title
	title Zunka - Sobre a empresa

append css
	link(rel="stylesheet" href="/css/info/info.css" charset="utf-8")

block content 
	section.shadow
		h2.title Sobre a empresa
		p ZUNKA é uma empresa mineira com sede na cidade de Belo Horizonte que desde 2012 oferece serviços de manutenção e vendas de notebooks e computadores.
		p Por adotar produtos de qualidade superior, os custos e as demandas por manutenções dentro e fora da garantia também são reduzidos, trazendo uma economia a médio e longo prazo tanto para a ZUNKA quanto para os clientes e fornecedores.
		p A ZUNKA não possui loja física para receber os seus clientes, pois isso aumentaria consideravelmente os custos de operação e consequentemente aumentando os preços dos produtos comercializados.&nbsp
			| Por utilizar uma sistema virtual, os preços praticados e os prazos de entregas são reduzidos.
			| Todo o processo de compra é automatizado pelo site 
			a(href='/') www.zunka.com.br&nbsp
			| de forma simples e rápida.

append external_scripts
	script(src='/js/info/info.js?0002') 