extends ../layout/layout_vue

block title
    title Zunka - Sobre a empresa

append css
    link(rel="stylesheet" href="/css/info/info.css?0003" charset="utf-8")

block content 
    section.shadow.markdown!= text

append external_scripts
    script(src='/js/info/info.js?0002') 