extends ../layout/layout_vue

block title
  title Zunka - Sobre a empresa

block css
  link(rel="stylesheet" href="/css/info/about.css" charset="utf-8")

block content 
  .info
    .title
      h3 Sobre a empresa
    .content
      p Fundada por dois irmãos, a ZUNKA é uma empresa mineira com sede na cidade de Belo Horizonte que desde 2012 oferece serviços de manutenção e vendas de notebooks e computadores. 
      p Por utilizar uma sistema virtual, os preços praticados e os prazos de entregas são reduzidos
      br
      p Por adotar produtos de qualidade superior, os custos e as demandas por manutenções dentro e fora da garantia também são reduzidos, trazendo uma economia a médio e longo prazo tanto para a ZUNKA quanto para os clientes e fornecedores.
      br
      p A ZUNKA não possui uma loja física para receber os seus clientes, pois isso aumentaria consideravelmente os custos de operação e consequentemente aumentando os preços dos produtos comercializados.
      br
      p Todo o processo de compra é automatizado pelo site 
        a(href='/') www.zunka.com.br
        | .

block internal_scripts

block external_scripts