extends ../layout/layout_vue

block title
    title Zunka - Como comprar

append css
    link(rel="stylesheet" href="/css/info/info.css?0004" charset="utf-8")

block content 
    section.markdown!= text

append external_scripts
    script(src='/js/info/info.js?0002') 