extends ../layout/layout_vue

block title
  title Zunka - Devolução

block css
  link(rel="stylesheet" href="/css/info/return.css" charset="utf-8")

block content 
  .panel
    h2.title Devolução
    p Conforme previsto no artigo 49 do CDC, o consumidor pode desistir do contrato, no prazo de 7 dias, sempre que a contratação de fornecimento de produtos e serviços ocorrerem fora do estabelecimento comercial, em domicílio.
    //- br
    p Ainda que o cliente possa desistir da compra sem precisar se justificar, a intenção do CDC não é dar uma segunda chance ao comprador que agiu por impulso, mas sim proteger consumidores de ofertas enganosas.
    p A desistência é uma situação excepcional prevista no CDC para preservar o cliente que não teve contato direto com o produto, dando a ele o direito de arrependimento ao ver que o produto não era o que ele imaginava.
    //- br  
    p O ato de devolução deverá partir do princípio de boa fé do consumidor.
    p O cliente não poderá usar o produto e tentar devolvê-lo depois. O produto deverá ser devolvido na íntegra para ser comercializado novamente.
    //- br
    p Para que seja aceita a devolução dos produtos comercializados por nossa empresa, o cliente deve atentar-se para as seguintes regras.
    //- br
    p O produto deve ser devolvido para a empresa nas mesmas condições em que foi entregue, para que seja possível sua comercialização.
    //- br
    p Ainda que a caixa tenha sido deslacrada, estas devem permanecer em perfeitas condições estéticas, sem rasgos, amassados ou manuscritos.
    //- br
    p Os plásticos de proteção, invólucros, panfletos e impressos devem estar preservados.
    //- br
    p O produto não pode ter sinais de uso, como manchas de gordura, manchas de dedos na tela, programas instalados, arquivos pessoais e senhas salvas.
    //- br
    p Antes de efetuada a restituição dos valores pagos, o produto passará por uma perícia técnica, para avaliar se todas as condições acima foram devidamente respeitadas.

block internal_scripts

block external_scripts