footer
  width 100%
  // flex-shrink 0
  display flex
  flex-flow row wrap
  justify-content center
  margin 0 auto
  background $BLACK_COLOR
  // color #ccc
  color c_footer
  a
    margin 2em
    &:hover
      cursor pointer 