.pagination
  font-size: 1em
  display: flex
  flex-flow: row wrap
  justify-content: center
  align-items: center
  margin-top: 5em
  margin-bottom: 5em
  a
    text-decoration: none
    margin: 0 1em 0 1em
    color: lightgray
    cursor: pointer
  a[active]
    color: black