p {
    color: var(--black-dark);
}
li {
    margin-bottom: 0;
    list-style: disc inside none;
    color: var(--black);
}
.loader{
    display: inline-block;
    width: 2em;
    height: 2em;
    position: relative;
    right: 5.2em;
    top: -.25em;
    vertical-align: middle;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
// Layout.
section {
    padding: 0 1em;
    max-width: 1000px;
}
input[type="button"] {
    width: unset;
}
.layout {
    background-color: var(--white-lighter);
    padding: 1em;
    display: grid;
    grid-template-columns: 80px auto auto;
    grid-template-rows: auto;
    // grid-template-areas: "thumbnail image summary" "full_thumbnail full_thumbnail full_thumbnail" "full_image full_image full_image" "full_summary full_summary full_summary";
    grid-template-areas: "tub img sum" "des des des" "tec tec tec" "add add add";
}
// Thumbnail.
.product-thumbnail {
    display: inline-block;
}
.product-thumbnail img {
    // display: inline-block;
    cursor: pointer;
    margin: 1em;
    max-height: 50px;
    max-width: 50px;
}
// Image.
.product-image {
    display: inline-block;
    padding: 1em;
}
.product-image img {
    max-height: 400px;
    max-width: 400px;
    margin 0 auto;
}
// Summary.
.product-summary {
    display: inline-block;
    // max-width: 300px;
}
.product-summary .title {
    color: var(--green);
    margin-bottom: .3em;
    // font-weight: 500;
}
.product-summary .price {
    font-size: 1.8em;
    color: var(--black-darker);
    // font-weight: 500;
    opacity: .7;
}
.product-summary .price sup{
    font-size: 0.7em;
    top: -0.24em;
    padding-right: 0.3em;
    padding-left: 0.2em;
}
.product-summary > input[type="button"] {
    // display: block;
    // margin: 0 auto;
}
// Description.
.product-description .title,
.product-technical .title,
.product-additional .title {
    color: var(--green);
    margin-top: 1em;
    margin-bottom: .3em;
}
.product-technical .sub-title,
.product-additional .sub-title {
    margin-bottom: .2em;
    font-size: 1.5em;
}
.out-of-stock {
    color: red;
    font-weight: 400;
    // max-width: 50%;
}
.join-buttons {
    display: flex;
    // justify-content: center;
}
.join-buttons  input {
    border: 1px solid lightgray;
    // margin-bottom: .5em;
}
.join-buttons input[type='text'] {
    flex-shrink: 1;
    flex-grow: 1;
    width: 7em;
    max-width: 11em;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    padding-left: 1em;
    padding-right: 1em;
}
.join-buttons input[type='button'] {
    flex-shrink: 1;
    border-radius: 0 4px 4px 0;
}
.estimate-ship {
    margin-top: 1em;
    // text-align: center;
}
.estimate-ship > p {
    margin: 0 0 .2em 0;
    font-weight: bold;
}
.estimate-ship  table {
    margin-top: 1em;
    border-radius: 4px;
    background-color: #F3F3F3;
}
.estimate-ship table th {
    padding: .5em 1em 0 1em;
}
.estimate-ship table td {
    padding: .5em 1em .5em 1em;
}
.estimate-ship p.errMsg {
    margin-top: .5em;
    color: red;
}
@media (min-width: 0px) {
    .layout {
        grid-template-columns: 80px auto;
        grid-template-rows: auto;
        grid-template-areas: "tub img" "sum sum" "des des" "tec tec" "add add";
    }
    .product-thumbnail {
        grid-area: tub;
    }
    .product-image {
        grid-area: img;
    }
    .product-summary {
        grid-area: sum;
    }
    .product-description {
        grid-area: des;
    }
    .product-technical {
        grid-area: tec;
    }
    .product-additional {
        grid-area: add;
    }
}
@media (min-width: 500px) {

}
@media (min-width: 600px) {

}
@media (min-width: 800px){
    .layout {
        grid-template-columns: 80px auto auto;
        grid-template-areas: "tub img sum" "des des des" "tec tec tec" "add add add";
    }
}
@media (min-width: 1000px) {}
@media (min-width: 1212px) {}
