@require '../misc/markdown.styl'
@require '../misc/loading.styl';
p {
    color: var(--black-dark);
}
li {
    margin-bottom: 0;
    list-style: disc inside none;
    color: var(--black);
}
.loader{
    display: inline-block;
    width: 2em;
    height: 2em;
    position: relative;
    right: 5.2em;
    top: -.25em;
    vertical-align: middle;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin-2 1s linear infinite;
}
@keyframes spin-2 {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
// Layout.
section {
    padding: 0 1em;
    max-width: 1000px;
}
input[type="button"] {
    padding: 0 1em;
}
.layout {
    background-color: var(--white-lighter);
    padding: 1em;
    display: grid;
    grid-template-columns: 80px auto auto;
    grid-template-rows: auto;
    // grid-template-areas: "thumbnail image summary" "full_thumbnail full_thumbnail full_thumbnail" "full_image full_image full_image" "full_summary full_summary full_summary";
    grid-template-areas: "tub img sum" "inf inf inf" "des des des" "tec tec tec" "add add add" "wty wty wty" "out out out";
}
// Thumbnail.
.product-thumbnail {
    display: inline-block;
}
.product-thumbnail img {
    // display: inline-block;
    cursor: pointer;
    margin: 1em;
    max-height: 50px;
    max-width: 50px;
}
// Image.
.product-image {
    display: inline-block;
    padding: 1em;
    cursor: pointer;
}
.product-image img {
    max-height: 400px;
    max-width: 400px;
    margin 0 auto;
}
// Summary.
.product-summary {
    display: inline-block;
    // max-width: 300px;
}
.product-summary .title {
    color: var(--green);
    margin-top: 0;
    margin-bottom: .3em;
}
.product-summary a.title {
    font-size: 1.5em;
}
.product-summary .price {
    margin: 0 0 .5em 0;
    color: var(--black-darker);
    opacity: .7;
}
.product-summary .price sup{
    font-size: 0.7em;
    top: -0.29em;
    padding-right: 0.3em;
    padding-left: 0.2em;
}
.product-summary > input[type="button"] {
    // display: block;
    // margin: 0 auto;
}
.product-summary input.add-to-cart {
    margin-top: 1em;
    width: unset;
}
.out-of-stock {
    color: red;
    font-weight: 400;
    // max-width: 50%;
}
.join-buttons {
    display: flex;
    // justify-content: center;
}
.join-buttons input[type='text'] {
    flex-shrink: 1;
    flex-grow: 1;
    width: 7em;
    max-width: 11em;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    padding-left: 1em;
    padding-right: 1em;
}
.join-buttons input[type='button'] {
    flex-shrink: 1;
    border-radius: 0 4px 4px 0;
    margin-top: 0;
    width: unset;
}
.estimate-ship {
    margin-top: 1em;
    // text-align: center;
}
.estimate-ship > p {
    margin: 0 0 .2em 0;
    font-weight: 500;
}
.estimate-ship  table {
    border-collapse: collapse;
    margin-top: 1em;
    // border-radius: 4px;
    background-color: #F3F3F3;
}
.estimate-ship thead tr {
    border-top: 1px solid var(--black-lighter);
}
.estimate-ship tr {
    border-bottom: 1px solid var(--black-lighter);
}
.estimate-ship thead tr,
.estimate-ship tbody tr:nth-child(even) {
    // background-color var(--black-lighter);
}
.estimate-ship tr:first-child td {
    border: 0
}
.estimate-ship th,
.estimate-ship td {
    border: 0;
    padding: .1em 1em;
}
.estimate-ship th {
    font-weight: 500;
}
.estimate-ship p.errMsg {
    margin-top: .5em;
    color: red;
}
.modal {
    display: flex;
    flex-flow: column nowrap;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100% /* Full width */;
	height: 100% /* Full height */;
	overflow: auto /* Enable scroll if needed */;
	background-color: #000 /* Fallback color */;
	background-color: rgba(0,0,0,0.7) /* Black w/ opacity */;
}
.modal .panel {
    position: relative;
	margin: 1em auto;
    border-radius: 1px;
    background-color: var(--white-lighter);
    background-position: center;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-size: contain;
    padding: 1em;
    // overflow: hidden;
    // overflow: scroll;
    // max-width: 100%;
    width: 90%;
    height: 90%;
}
.modal .panel .zoom-image {
    // overflow: scroll;
}
.modal .panel img {
    // width: 800px;
    // width: 100%;
}
.modal .close {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 2.4rem;
    font-size: 3rem;
    cursor: pointer;
    padding: 1rem;
}
@media (min-width: 0px) {
    .layout {
        grid-template-columns: 80px auto;
        grid-template-rows: auto;
        grid-template-areas: "tub img" "sum sum" "inf inf" "des des" "tec tec" "add add" "wty wty" "out out";
    }
    .product-thumbnail {
        grid-area: tub;
    }
    .product-image {
        grid-area: img;
    }
    .product-summary {
        grid-area: sum;
    }
    .product-info {
        grid-area: inf;
    }
    .product-description {
        grid-area: des;
    }
    .product-technical {
        grid-area: tec;
    }
    .product-additional {
        grid-area: add;
    }
    .product-warranty {
        grid-area: wty;
    }
    .product-outlet {
        grid-area: out;
    }
}
@media (min-width: 500px) {

}
@media (min-width: 600px) {

}
@media (min-width: 800px){
    .layout {
        grid-template-columns: 80px auto auto;
        grid-template-areas: "tub img sum" "inf inf inf" "des des des" "tec tec tec" "add add add" "wty wty wty" "out out out";
    }
}
@media (min-width: 1000px) {}
@media (min-width: 1212px) {}
