// Layout.
.layout {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "header header" "sidebar product";
}
// Filter.
.filter {
    margin: 0.3em .6em 0 0;
    padding 0 2em .5em 0.5em;
    // background-color: var(--white-lighter);
}
.filter .sub-title {
    // font-weight: 500;
    font-size: 1.4em;
    margin-bottom: .3em;
    color: var(--black-dark)
}
.filter .title {
    font-size: 1.8em;
    color: var(--black-darker)
}
.filter select {
    height: 1.8em;
    padding: 0;
    width: 100%;
    background-color: var(--white-light);
    color: var(--black-dark);
}
.filter select option {
    background-color: var(--white-light);
    color: var(--black-dark);
}
.filter .checkbox {
    cursor: pointer;
    // margin-top: .8em;
}
.filter .checkbox input[type='checkbox'] {
    cursor: pointer;
    margin-right: .3em;
}
.filter .checkbox label {
    position: relative;
    top -.1em;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    font-weight: 400;
    color: var(--black)
}
// Products.
.products {
    grid-area: product;
    display: grid;
}
// Product.
.product {
    max-width: 200px;
    background-color: var(--white-lighter);
    padding: 1em;
    margin: .6em;
}
.product img {
    // max-width: 100%;
}
.product-title{
    margin-bottom: .6em;
    color: var(--green-dark);
}
.product-price {
    font-size: 1.2em;
    color: var(--black-darker);
}
.product-price sup{
    font-size: 0.7em;
    top: -0.31em;
    padding-right: 0.3em;
    padding-left: 0.2em;
}
@media (min-width: 0px) {
    .filter {
        grid-area: header;
    }
    .products {
        grid-template-columns: 1fr;
    }
}
@media (min-width: 500px) {
    .filter {
        grid-area: sidebar;
    }
    .products {
        grid-template-columns: 1fr;
    }
}
@media (min-width: 600px) {
    .filter {
        grid-area: sidebar;
    }
    .products {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 800px){
    .filter {
        grid-area: sidebar;
    }
    .products {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1000px){
    .filter {
        grid-area: sidebar;
    }
    .products {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (min-width: 1212px) {
    .products {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
