//  Buttons.
a.button {
    width: 100%;
}
// Products.
.products {
    display: grid;
}
.product {
    margin: .7rem;
    padding: .7rem;
    background-color: var(--white-lighter);
}
.product p {
    margin-bottom: .2em;
}
.product-title {
    margin-bottom: .6em;
    color: var(--green-dark);
}
.product-price {
    font-size: 1.2em;
    color: var(--black-darker);
}
.product-price sup{
    font-size: 0.7em;
    top: -0.31em;
    padding-right: 0.3em;
    padding-left: 0.2em;
}
// Banners.
.banners {
    display: flex;
    margin: 0 auto;
    margin-bottom: 2em;
    margin-right: 5px;
    position: relative;
    overflow: hidden;
    z-index: 100;
    box-shadow: 3px 3px 3px 0 rgba(0,0,0,.3);
}
.banners img {
    display: block;
    width: 100%;
}
.banners .banner-menu{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    padding: 1em;
    color: #fff;
}
.banners .banner-menu .arrow,
.banners .banner-menu .dots {
    width: 33.33%;
    float: left;
}
.banners .banner-menu .arrow {
    font-size: 1.5em;
}
.banners .banner-menu .arrow:hover {
    color: #999;
    cursor: pointer;
}
.banners .banner-menu .arrow.right{
    text-align: right;
}
.banners .banner-menu .dots {
    position: relative;
    top: .7em;
    display: inline-block;
    text-align: center;
}
.banners .banner-menu .dots .dot {
    display: inline-block;
    margin: 0 1em;
    height: 12px;
    width: 12px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    border: solid #fff 1px;
}
.banners .banner-menu .dots .dot:hover {
    background-color: #fff;
    cursor: pointer;
}
.banners .banner-menu .dots .dot.selected {
    background-color: #fff;
}
// Cart.
section.cart {
    padding: 0 1.3em;
}
.cart-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: var(--white-lighter);
    width: 100%;
}
section.cart .section-title {
    margin-bottom: .3em;
}
section.cart span {
    font-size: 1.2em;
}
section.cart img {
    max-width: 8em;
    max-height: 8em;
    padding: .4em 1em;
}
section.cart .item, .sub-total, .buttons {
    display: flex;
    flex-flow: row nowrap;
}
section.cart .item span, .sub-total span, .buttons span {
    padding: 0 .5em 0 .5em;
}
section.cart .buttons {
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
section.cart .item {
    align-items: center;
}
section.cart .item span {
    color: green;
    font-weight: bold;
}
section.cart .sub-total {
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
section.cart .sub-total > span:nth-child(2) {
    padding-left: 0;
    font-weight: bold;
    color: green;
}
section.cart button {
    margin-bottom: 0;
}
section.cart .buttons a:nth-child(1) {
    margin-right: 1em;
}
/* Mobile. */
@media (min-width: 0px) {
    main {
        margin: 0 0;
        }
    section .section-title {
        margin: 0 0 0 .4em
        }
    section.new-products,
    section.best-sellers
    {
        padding: 0;
    }
    .products {
        grid-template-columns: 1fr;
    }
    .product {
        margin: .7em 0 .7em 0;
    }
    .banners {
        display: none;
    }
}
/* Tablet. */
@media (min-width: 600px) {
    main {
        margin: 0 auto;
        }
    section.new-products,
    section.best-sellers
    {
        padding: 0 0.4em;
    }
    .products {
        grid-template-columns: 1fr 1fr;
    }
    .product {
        margin: .7em;
        padding: .7em;
    }
}
/* Small laptop. */
@media (min-width: 800px){
    .products {
        grid-template-columns: 1fr 1fr 1fr ;
    }
    // .product {
        // margin: .7em;
    // }
    .banners {
        display: flex;
    }
}
/* Laptop. */
@media (min-width: 1000px) {
    .products {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
/* Over max width. */
@media (min-width: 1212px) {
    .banners {
        border-radius: 0 0 4px 4px;
    }
}
