@import '../menu/reset_menu_footer'
@import '../input'
btn-primary()
btn-info()
#app
  max-width 1000px
  overflow-x hidden
  margin 1em auto
  padding 1em
  background-color #fff
  box-shadow: 3px 3px 3px 0 rgba(0,0,0,.1);
  border-radius 4px
  hr
    margin-top .5em
    margin-bottom .5em
  .title
    color green
    font-weight bold
    margin-top 2em
    margin-bottom .6em
  .loader
    display inline-block;
    width 2em
    height 2em
    position relative
    right 5.2em
    top -.25em
    vertical-align middle
    border 4px solid #f3f3f3
    border-top 4px solid #3498db
    border-radius 50%
    animation spin 1s linear infinite
  @keyframes spin
    0%
      transform rotate(0deg)
    100%
      transform rotate(360deg)
  > .product
    display flex
    flex-flow row wrap
    justify-content space-between
    margin 1em 1em
    > .image
      margin 1em
      flex 1 1 40%
      > img
        display block
        margin 0 auto 2em auto
        max-height 300px
        max-width 300px
      > .thumbnail
        > img
          cursor: pointer
          margin 1em
          max-height 80px
          max-width 80px
    > .info
      flex 1 1 50%
      padding 2em
      // box-shadow: 5px 5px 30px -20px rgba(0,0,0,0.75);
      .product-title
        font-size 2em
        // font-weight bold
        color green
      .product-price
        margin-top .5em
        font-size 1.5em
      .product-detail
        padding 1em 0 .5em 1em
      .no-stock
        color red
        font-weight 400
      .estimate-ship
        margin-top: 2em;
        > p 
          margin 0 0 .2em 0
          font-weight bold
        .join-buttons
          display flex
          align-items center
          input
            border 1px solid lightgray
            margin-bottom .5em
          input[type='text']
            flex-basis 14em
            border-right 0
            border-radius 4px 0 0 4px
            padding-left 1em
            padding-right 1em
          input[type='button']
            flex-basis 8em
            height: 2.06em
            // max-width 8em
            border-radius 0 4px 4px 0
        table
          margin-top 1em
          border-radius 4px
          background-color #F3F3F3
          th
            padding .5em 1em 0 1em
          td
            padding .5em 1em .5em 1em
        p.errMsg
          margin-top .5em
          color red 
  > .description
  > .info
    padding 0 1em     
  > .info
    > .infos
      display flex
      flex-flow row wrap
      margin-bottom 3em
      table
        width 95%
        border-spacing 0
        // margin-bottom 1em
        td
          padding 8px
          border-top 1px solid #ddd
          &:nth-child(1)
            background-color #eee
        tr:last-child
          td
            border-bottom 1px solid #ddd
      > .info-tech
      > .info-add
        flex 1 1 50%