extends ../layout/layout_vue

block title
    title Zunka - Todos os produtos

block append css
    link(rel="stylesheet" href="/css/product/productListAll.css?004" charset="utf-8")
    link(rel="stylesheet" href="/css/layout/pagination.css" charset="utf-8")

block content
    section
        .layout
            .filter
                .search-info(v-show='search')
                    h3.title(v-show='search && products.length') Pesquisa
                    h3(v-show='search && !products.length') Nenhum resultado para
                    p "{{search}}"
                div(v-show='products.length')
                    h3.title Ordenar produtos
                    select(id='prduct-order' v-model='sort')
                        option(value='stock') 
                        option(value='alpha') Ordem alfabética
                        option(value='best-selling') Mais vendidos
                        option(value='price-low') Menor preço   
                        option(value='price-high') Maior preço 
                    h3 Filtrar por categoria
                    .checkbox(v-for='category in categories')
                        input(type='checkbox', :id='category', :value='category' v-model='categoriesFilter')
                        label(:for='category') {{category}}
            .products
                .product.shadow(v-for='product in products' :title='product.storeProductDetail')
                    a(:href='"/product/" + product._id')
                        img(:src='srcImg0500(product)', v-if='product.images[0]')
                        p.product-title {{ product.storeProductTitle }}
                        p.product-price
                            sup R$
                            | {{ product.storeProductPrice | currency | currencyInt }}
                            sup {{ product.storeProductPrice | currency | currencyCents }} 
    section.pagination
        a(v-for='p in pageCount', @click='getProducts(p)', :page='page==p', :p='p', :active='page==p') {{p}}

append internal_scripts
    script.
        let cart = !{JSON.stringify(cart)};
        let search = !{JSON.stringify(search)};
        let categoriesFilter = !{JSON.stringify(categoriesFilter)};

append external_scripts
    script(src='/js/product/productListAll.js?0002')
