extends ../layout/layout_vue_b

block title
  title Zunka - Produtos

block css
  //- link(rel="stylesheet" href="/css/product/productListBulma.css" charset="utf-8")
  link(rel="stylesheet" href="/css/bulma.min.css" charset="utf-8")
  link(rel="stylesheet" href="/fontawesome/css/all.min.css" charset="utf-8")
  link(rel="stylesheet" href="/css/product/bannerMenu.css" charset="utf-8")

block append internal_style
  style.
    ._card {
      height: 800px;
    }
block content
  section
    //- .container.is-widescreen
    .container.is-fullhd
      figure.image
        a(v-for="(banner, index) in banners", :index='index' v-show='index == visibleBanner', :href="banner.link || false")
          img.banner(:src="'/banner/' + banner.fileName")
        .banner-menu
          .arrow.left(@click='changeBanner(-1)') &#10094;
          .dots
            .dot(v-for="(banner, index) in banners", :index='index' @click='selectBanner(index)', :class='[index == visibleBanner ? "selected" : ""]')
          .arrow.right(@click='changeBanner(1)') &#10095;
  section.section(v-if='this.productAddedToCart._id')
    .container
      .level.box
        .level-left
          .level-item
            figure.image.is-128x128(style="padding:10px; background-color: white;")
              img(:src='"/img/" + this.productAddedToCart._id + "/" + this.productAddedToCart.images[0]')
          .level-item
            span.is-size-5.has-text-green-zunka(style="padding-left: 1em; padding-right: 1em;") Adicionado ao carrinho
          .level-item
            span.is-size-5 Subtotal ({{ cart.totalQtd }} {{cart.totalQtd > 1 ? "itens" : "item"}}) :&nbsp&nbsp
            span.is-size-5.has-text-green-zunka.has-text-weight-bold R${{ cart.totalPrice | currency }}
        .level-right
          .level-item
            a.button.is-success(href="/cart") Carrinho
          .level-item
            a.button.is-success(href="/checkout/shipping-address") Finailzar compra ({{ cart.totalQtd }} {{cart.totalQtd > 1 ? "itens" : "item"}})
  //- .cart(v-if='this.productAddedToCart._id')
  //-   .item
  //-     img(:src='"/img/" + this.productAddedToCart._id + "/" + this.productAddedToCart.images[0]')
  //-     span Adicionado ao carrinho
  //-   .sub-total
  //-     span Subtotal ({{ cart.totalQtd }} {{cart.totalQtd > 1 ? "itens" : "item"}}) :
  //-     span {{ cart.totalPrice | currency }}
  //-   .buttons
  //-     button(onclick='window.location="/cart"') Carrinho
  //-     button(onclick='window.location="/checkout/shipping-address"') Finailzar compra ({{ cart.totalQtd }} {{cart.totalQtd > 1 ? "itens" : "item"}})
  //- New products.
  section.section
    .container
      h3.subtitle.is-3 Novidades na loja
      .row.columns
        .column(v-for='product in newProducts')
          a(:href='"/product/" + product._id')
            .card
              .card-image
                figure.image(style="padding:1em;")
                    img(:src='srcImg0200(product)', v-if='product.images[0]' alt="Imagem não disponível")
              .card-content
                .content.is-medium
                  p.has-text-green-zunka {{ product.storeProductTitle }}
                  p.has-text-grey-dark R$ {{ product.storeProductPrice | currency}}        
  //- Best selling products.
  section.section
    .container
      h3.subtitle.is-3 Produtos mais vendidos
      .row.columns
        .column(v-for='product in bestSellingProducts')
          a(:href='"/product/" + product._id')
            .card
              .card-image
                figure.image(style="padding:1em;")
                  img(:src='srcImg0200(product)', v-if='product.images[0]' alt="Imagem não disponível")
              .card-content
                .content.is.medium
                  p.has-text-green-zunka {{ product.storeProductTitle }}
                  p.has-text-grey-dark  R$ {{ product.storeProductPrice | currency}} 
  //- All products.
  //- section.section
  //-   .container
  //-     h3.subtitle.is-3: a(href='/all') Todos os produtos >
  section.section
    .container
      a.button.is-success.is-medium.is-fullwidth(href='/all') Ver todos os produtos
append internal_scripts
  script.
    let cart = !{JSON.stringify(cart)};
    let search = !{JSON.stringify(search)};
    let banners = !{JSON.stringify(banners)};

append external_scripts
  script(src='/js/product/productList.js?0001')
