extends ../layout/layout_vue_n

block title
  title Zunka - Produtos

block append css
  link(rel="stylesheet" href="/css/product/productList.css?003" charset="utf-8")
      
block append internal_style

block content
    //- Banners.
    section.full.banners
        a(v-for="(banner, index) in banners", :index='index' v-show='index == visibleBanner', :href="banner.link || false")
            img.banner(:src="'/banner/' + banner.fileName")
        .banner-menu
            .arrow.left(@click='changeBanner(-1)') &#10094;
            .dots
                .dot(v-for="(banner, index) in banners", :index='index' @click='selectBanner(index)', :class='[index == visibleBanner ? "selected" : ""]')
            .arrow.right(@click='changeBanner(1)') &#10095;
    section.cart(v-if='this.productAddedToCart._id')
        h4.section-title Adicionado ao carrinho
        .cart-container.shadow
            a.item(:href='"/product/" + this.productAddedToCart._id')
                img(v-if='this.productAddedToCart.images[0]' :src='"/img/" + this.productAddedToCart._id + "/" + this.productAddedToCart.images[0]')
                //- span Adicionado ao carrinho
            .sub-total
                span Subtotal ({{ cart.totalQtd }} {{cart.totalQtd > 1 ? "itens" : "item"}}) :
                span {{ cart.totalPrice | currency }}
            .buttons
                a.button.btn-primary(href="/cart") Carrinho
                a.button.btn-primary(href="/checkout/shipping-address") Finailzar compra ({{ cart.totalQtd }} {{cart.totalQtd > 1 ? "itens" : "item"}})
    //- New products.
    section.new-products
        h4.section-title Novidades na loja
        .products
            a.product.shadow(v-for='product in newProducts', :href='"/product/" + product._id' :title='product.storeProductDetail')
                img(:src='srcImg0500(product)', v-if='product.images[0]' alt="Imagem não disponível")
                p.product-title {{ product.storeProductTitle }}
                //- p.product-price R$ {{ product.storeProductPrice | currency}}        
                p.product-price
                    sup R$
                    | {{ product.storeProductPrice | currency | currencyInt }}
                    sup {{ product.storeProductPrice | currency | currencyCents }}   
    //- Best selling products.
    section.best-sellers
        h5.section-title Produtos mais vendidos
        .products
            a.product.shadow(v-for='product in bestSellingProducts', :href='"/product/" + product._id' :title='product.storeProductDetail')
                img(:src='srcImg0500(product)', v-if='product.images[0]' alt="Imagem não disponível")
                p.product-title {{ product.storeProductTitle }}
                p.product-price
                    sup R$
                    | {{ product.storeProductPrice | currency | currencyInt }}
                    sup {{ product.storeProductPrice | currency | currencyCents }}  
    //- See all products.
    section
        a.button.btn-primary(href='/all') Ver todos os produtos

append internal_scripts
    script.
        let cart = !{JSON.stringify(cart)};
        let search = !{JSON.stringify(search)};
        let banners = !{JSON.stringify(banners)};

append external_scripts
    script(src='/js/product/productList.js?0004')
