extends ../layout/layout_vue_n

block title
  title Zunka - Produtos

block css
  //- link(rel="stylesheet" href="/css/product/productListBulma.css" charset="utf-8")
  link(rel="stylesheet" href="/css/normalize.css" charset="utf-8")
  //- link(rel="stylesheet" href="/css/milligram.min.css" charset="utf-8")
  link(rel="stylesheet" href="/css/skeleton.css" charset="utf-8")
  //- link(rel="stylesheet" href="/fontawesome/css/all.min.css" charset="utf-8")
  //- link(rel="stylesheet" href="/css/product/bannerMenu.css" charset="utf-8")

block append internal_style
  style.
    a {
        text-decoration: none;
    }
    main {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 1em;
    }
    section {
        margin: 0 auto;
        background-color: lightblue;
    }
    .products {
        display: flex;
        flex-flow: row wrap;
    }
    .product {
        margin: .5em;
        background-color: lightgreen;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 100px;
    }
    figure {
        margin: 0;
    }
    img {
        height: auto;
        width: 100%; 
        display:block; 
    }
block content
    //- New products.
    section
        h3 Novidades na loja
        .products
            a.product(v-for='product in newProducts', :href='"/product/" + product._id')
                figure
                    img(:src='srcImg0200(product)', v-if='product.images[0]' alt="Imagem não disponível")
                p.has-text-green-zunka {{ product.storeProductTitle }}
                p.has-text-grey-dark R$ {{ product.storeProductPrice | currency}}        
    //- Best selling products.
    section
        h3 Produtos mais vendidos
        .products
            .product(v-for='product in bestSellingProducts')
                a(:href='"/product/" + product._id')
                    figure
                        img(:src='srcImg0200(product)', v-if='product.images[0]' alt="Imagem não disponível")
                        p.has-text-green-zunka {{ product.storeProductTitle }}
                        p.has-text-grey-dark  R$ {{ product.storeProductPrice | currency}} 
    //- See all products.
    section
        a.button.is-success.is-medium.is-fullwidth(href='/all') Ver todos os produtos

append internal_scripts
    script.
        let cart = !{JSON.stringify(cart)};
        let search = !{JSON.stringify(search)};
        let banners = !{JSON.stringify(banners)};

append external_scripts
    script(src='/js/product/productList.js?0001')
