.section.is-paddingless
  .notification.is-radiusless.has-text-right.has-text-grey-lighter.has-background-grey-dark(style="padding: .1em 1em;")
    p.is-size-6
      span Contato &nbsp&nbsp&nbsp 
      span (31)&nbsp99610-2412&nbsp&nbsp&nbsp 
      span (31)&nbsp98534-1997&nbsp&nbsp&nbsp 
      span zunka@outlook.com.br
