.section.is-paddingless
  //- .notification.is-radiusless.is-success.has-text-right(style="padding: .1em 1em;")
  //- .notification.is-radiusless.is-success.has-text-right.has-text-grey-dark(style="padding: .1em 1em;")
  .notification.is-radiusless.has-text-right.has-text-grey-lighter.has-background-green-zunka(style="padding: .1em 1em;")
    span.is-size-6 Contato&nbsp&nbsp&nbsp&nbsp
    span.is-size-6 (31) 99610-2412&nbsp&nbsp&nbsp&nbsp
    span.is-size-6 (31) 98534-1997&nbsp&nbsp&nbsp&nbsp
    span.is-size-6 zunka@outlook.com.br
