footer
  a(onclick='window.location="/info/about-company"') Sobre a empresa
  a(onclick='window.location="/info/how-to-buy"') Como comprar
  a(onclick='window.location="/info/payment"') Pagamento
  a(onclick='window.location="/info/warranty"') Garantia   
  a(onclick='window.location="/info/return"') Devoluções
  a(onclick='window.location="/info/politics"') Políticas
  a(onclick='window.location="/info/contact"') Contato   
  a(onclick='window.location="/info/about-site"') Sobre o site   
