footer
  a(onclick='window.location="/info/about"') Sobre a empresa
  a(onclick='window.location="/info/how-to-buy"') Como comprar
  a(onclick='window.location="/info/payment"') Pagamento
  a(onclick='window.location="/info/warranty"') Garantia   
  a(onclick='window.location="/info/return"') Devoluções
  a(onclick='window.location="/info/contact"') Contato   
