footer.footer.has-background-dark
  .container.has-text-centered
    .row.columns
      .column
        a.has-text-grey-lighter(onclick='window.location="/info/about"') Sobre a empresa
      .column
        a.has-text-grey-lighter(onclick='window.location="/info/how-to-buy"') Como comprar
      .column
        a.has-text-grey-lighter(onclick='window.location="/info/payment"') Pagamento
      .column
        a.has-text-grey-lighter(onclick='window.location="/info/warranty"') Garantia   
      .column
        a.has-text-grey-lighter(onclick='window.location="/info/return"') Devoluções
      .column
        a.has-text-grey-lighter(onclick='window.location="/info/contact"') Contato   
