a.brand(href="/")
  img(src='/logo.png')
span.search
  i.fas.fa-search.fa-lg(onclick='searchDesktop()' style="color: black;")
  input(id='search' onkeyup='searchDesktop(event)' placeholder='O que você procura?')
span.space
a.cart(href='/cart')
  svg.icon: use(xlink:href='/icon/sprite.svg#ic_shopping_cart_white_24px')
  //- span#cart-qtd= cart.totalQtd
  span#cart-qtd #{cart.totalQtd} 
.burger
    span.burger-box
        span.burger-inner
script.
  function searchDesktop(event){
    if (!event || event.key === 'Enter') {
      console.log("click");
      console.log(document);
      // Must be implemented on parent module.
      _search(document.querySelectorAll('#search')[0].value);
    }
  }
