a.item.brand(href="/") Home
.search
  input(id='search' onkeyup='searchDesktop(event)' placeholder='O que você procura?')
  input(onclick='searchDesktop()')
.burger
    span.burger-box
        span.burger-inner