doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title 500 - Erro interno no servidor.
  body
    h1 500
    h2 Erro inesperado :(
    h3 Ocorreu um erro e sua requisição não pode ser finalizada
    h4 Por favor, tente mais tarde. Esperamos que até lá o problema tenha sido resolvido.
  style.
    body {
      background-color: #F2F2F2;
    }
    h1, h2 {
      color: #0072C6;
    }
    h3, h4 {
      color: #9BA5B2;
    }



