extends ../layout/layout_vue

block title
  title Zunka - Confirmação do pedido

block css
  link(rel="stylesheet" href="/css/checkout/orderConfirmation.css" charset="utf-8")

block content 
  .panel
    h2 Obrigado pelo seu Pedido.
    p Seu pedido foi recebido e já será processado. As informações do seu pedido são exibidos a baixo para sua referência.
    p Um e-mail com as informações do seu pedido será enviado para {{order.email}}.
    hr
    .order
      h3 Número do pedido
      P {{order._id}}
    .client
      h3 Cliente.
      p Nome: {{order.name}}
      p Email: {{order.email}}
    .address
      h3 Endereço de entrega.
      p Nome: {{order.shipping.address.name}}
      p Telefone: {{order.shipping.address.phone}}
      p {{order.shipping.address.address}},  {{order.shipping.address.addressNumber}} {{order.shipping.address.addressComplement}}
      p {{order.shipping.address.district}}
      p {{order.shipping.address.city}} - {{order.shipping.address.state}} - Brasil
      p {{order.shipping.address.cep}} 
    .shipment
      h3 Frete
      p Envio padrão
      span Prazo: 
      span.deadline {{deliveryDeadline}} dia(s)
      br
      span Valor do frete: 
      span.price R${{deliveryPrice}}
    .items(v-if='order.items.length > 0')
      h3 Itens
      ul
        li(v-for='item in order.items')
          p {{item.name}}
          p 
            span.price {{item.price | formatMoney}} 
            span.quantity - Quantidade: {{item.quantity}}
    .total
      h3 Valor total com frete
      p.price {{ order.totalPrice | formatMoney }}

append internal_scripts
  script.
    let order = !{JSON.stringify(order)};

append external_scripts
  include ../components/accounting.js.pug
  script(src='/js/checkout/orderConfirmation.js') 