extends ../layout/layout_vue_n

block title
    title Zunka - Forma de pagamento

block append css
    link(rel="stylesheet" href="/css/checkout/payment.css" charset="utf-8")

block content
    section.shadow
        .payment
            h2.title(@click='showCreditButton') Selecione a forma de pagamento
            //- Money.
            input.btn-primary(type='button' @click='directPayment("money")' v-if='order.shipping.methodDesc === "Motoboy"' value='Dinheiro')
            //- Transfer.
            input.btn-info(type='button' @click='directPayment("transfer")' value='Transferência bancária')
            //- Card machine (presential).
            input.btn-info(type='button' @click='directPayment("card-machine")' v-if='order.shipping.methodDesc === "Motoboy"' value='Cartão')
            p(v-if='order.shipping.methodDesc === "Motoboy"') Crédito a vista ou débito
            //- Credit card, using PayPal Plus.
            input.btn-primary(type='button' @click='payPalPlusPayment()' value='Cartão' v-if='order.shipping.methodDesc !== "Motoboy"')
            //- PayPal.
            #paypal-button(:hidden='order.shipping.methodDesc === "Motoboy"')

append internal_scripts
    script.
        let order = !{JSON.stringify(order)};
        let client = !{JSON.stringify(client)};
        let env = !{JSON.stringify(env)};

append external_scripts
    include ../components/paypal.js.pug
        script(src='/js/checkout/payment.js?0002') 
