extends ../layout/layout_vue_n

block title
	title Zunka - Forma de pagamento

block append css
	link(rel="stylesheet" href="/css/checkout/payment.css" charset="utf-8")

block content
	section.shadow
		.payment
			h2.title(@click='showCreditButton') Selecione a forma de pagamento
			//- Payment by money.
			input.btn-primary(type='button' @click='directPayment("money")' v-if='order.shipping.methodDesc === "Motoboy"' value='Dinheiro')
			//- Payment by transfer.
			input.btn-info(type='button' @click='directPayment("transfer")' value='Transferência bancária')
			//- Payment by credit card, using PayPal Plus.
			// todo - remove v-if after tests ok.
			input.btn-primary(v-if='creditButtonVisibility === true' type='button' @click='payPalPlusPayment()' value='Cartão')
			//- Payment by PayPal.
			#paypal-button

append internal_scripts
	script.
		let order = !{JSON.stringify(order)};
		let client = !{JSON.stringify(client)};
		let env = !{JSON.stringify(env)};

append external_scripts
	include ../components/paypal.js.pug
	script(src='/js/checkout/payment.js') 
