extends ../layout/layout_vue

block title
  title Zunka - Forma de pagamento

block css
  link(rel="stylesheet" href="/css/checkout/payment.css" charset="utf-8")

block content
  .panel
    h2 Resumo
    //- hr
    //- Address complement exist.
    .address(v-if='order.shipping.address.addressComplement')
      h3 Enviar para
      p {{order.shipping.address.name}}
      p {{order.shipping.address.address}} {{order.shipping.address.addressNumber}}
      p {{order.shipping.address.addressComplement}} 
      p {{order.shipping.address.district}}
      p {{order.shipping.address.city}}
      p {{order.shipping.address.state}}
      p {{order.shipping.address.cep}} 
      p Brasil   
    //- Addres complement not exist.
    .address(v-if='!order.shipping.address.addressComplement')
      h3 Enviar para
      p {{order.shipping.address.name}}
      p {{order.shipping.address.address}} {{order.shipping.address.addressNumber}}
      p {{order.shipping.address.district}}
      p {{order.shipping.address.city}}
      p {{order.shipping.address.state}}
      p {{order.shipping.address.cep}} 
      p Brasil
    .shipment
      h3 Forma de envio
      p Envio padrão 
      span Entrega em&nbsp 
      span.deadline {{deliveryDeadline}} dia(s)
      P Valor do frete:&nbsp 
        span.price R${{deliveryPrice}}
    .items(v-if='order.items.length > 0')
      h3 Ítens
      ul
        li(v-for='item in order.items')
          p 
            strong {{item.name}}
          p 
            span.price {{item.price | formatMoney}} 
            span.quantity - Quantidade: {{item.quantity}}
    .total
      h3 Valor total com frete
      p.price {{ order.totalPrice | formatMoney }}
    .payment
      hr
      h2 Selecione a forma de pagamento
      #paypal-button

block footer

append internal_scripts
  script.
    let order = !{JSON.stringify(order)};
    let env = !{JSON.stringify(env)};

append external_scripts
  include ../components/paypal.js.pug
  script(src='/js/checkout/payment.js') 

//- doctype html
//- html(lang="en")
//-   head
//-     meta(charset='utf-8')
//-     meta(name="viewport" content="width=device-width, initial-scale=1")
//-     title Pagamento
//-     include ../components/paypal.js.pug
//-   body
//-     include ../menu/topMenu
//-     main#app(v-cloak)
//-       .container


