doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Pagamento
    link(rel="stylesheet" href="/css/checkout/payment.css" charset="utf-8")
    include ../components/paypal.js.pug
  body
    header
      nav
        include ../main-nav.pug    
    main#app(v-cloak)
      .container
        h2 Selecione a forma de pagamento
        hr
        #paypal-button
        p.paymentCanceledByUser(v-show='showCanceledMsg') Pagamento cancelado pelo cliente.
        p.err(v-show='showErrMsg') {{errMsg}}
  script.
    let order = !{JSON.stringify(order)};
  include ../components/vue.js.pug
  script(src='/js/checkout/payment.js') 