extends ../layout/layout_vue

block title
    title Zunka - Forma de pagamento

block append css
    link(rel="stylesheet" href="/css/checkout/payment.css?0003" charset="utf-8")

block content
    section
        .payment
            h2.title(@click='showCreditButton') Selecione a forma de pagamento
            //- Money.
            input.btn-primary#btnMoney(type='button' @click='directPayment("money")' value='Dinheiro')
            //- Transfer.
            input.btn-info(type='button' @click='directPayment("transfer")' value='Transferência bancária')
            //- Presential card.
            input.btn-info#btnPresentialCard(type='button' @click='directPayment("card-machine")' value='Cartão presencial')
            p#pPresentialCard Crédito a vista
            //- Credit card, using PayPal Plus.
            input.btn-primary#btnCreditCard(type='button' @click='payPalPlusPayment()' value='Cartão')
            //- PayPal.
            #paypal-button

append internal_scripts
    script.
        let order = !{JSON.stringify(order)};
        let client = !{JSON.stringify(client)};
        let env = !{JSON.stringify(env)};
        // Hide buttons.
        // Money.
        if (!order.shipping.paymentOptions.includes('money')) {
            document.getElementById('btnMoney').style.display = 'none';
        }
        // Presencial card.
        if (!order.shipping.paymentOptions.includes('card-pres')) {
            document.getElementById('btnPresentialCard').style.display = 'none';
            document.getElementById('pPresentialCard').style.display = 'none';
        }
        // Credit card.
        if (!order.shipping.paymentOptions.includes('credit')) {
            document.getElementById('btnCreditCard').style.display = 'none';
        }
        // PayPal.
        if (!order.shipping.paymentOptions.includes('paypal')) {
            document.getElementById('paypal-button').style.display = 'none';
        }

append external_scripts
    include ../components/paypal.js.pug
        script(src='/js/checkout/payment.js?0007') 
