extends ../layout/layout_vue

block title
  title Zunka - Modo de envio

block css
  link(rel="stylesheet" href="/css/checkout/shippingMethod.css" charset="utf-8")

block content 
  .panel
    h2 Forma de envio
    //- //- hr
    //- //- Address complement exist.
    //- .address(v-if='order.shipping.address.addressComplement')
    //-   p.shipping.address Enviar para: {{order.shipping.address.name}}, {{order.shipping.address.address}} {{order.shipping.address.addressNumber}}, {{order.shipping.address.addressComplement}} - {{order.shipping.address.district}}, {{order.shipping.address.city}}, {{order.shipping.address.state}}, {{order.shipping.address.cep}} Brasil   
    //- //- Addres complement not exist.
    //- .address(v-if='!order.shipping.address.addressComplement')
    //-   p.shipping.address Enviar para: {{order.shipping.address.name}}, {{order.shipping.address.address}} {{order.shipping.address.addressNumber}} - {{order.shipping.address.district}}, {{order.shipping.address.city}}, {{order.shipping.address.state}}, {{order.shipping.address.cep}} Brasil   
    //- .items(v-if='order.items.length > 0')
    //-   ul
    //-     li(v-for='item in order.items')
    //-       p 
    //-         strong {{item.name}}
    //-       p 
    //-         span.price {{item.price | formatMoney}} 
    //-         span.quantity - Quantidade: {{item.quantity}}
    .form
      .radio
        //- h3.shipmentOption Tipo de entrega
        label
          input(type='radio' name='shipmentOption' id='correios' value='correios' v-model='shippingMethod')/ 
          span Correios
          p Prazo de entrega: 
            span.deadline {{deliveryDeadline}} dia(s) após a confirmação de pagamento
          p Valor: 
            span.price R${{deliveryPrice}}
        label(v-if='order.shipping.motoboyResult.price')
          input(type='radio' name='shipmentOption' id='motoboy' value='motoboy' v-model='shippingMethod')/ 
          span Motoboy
          p Prazo de entrega: 
            span.deadline {{order.shipping.motoboyResult.deadline}} dia(s) após a confirmação de pagamento
          p Valor:
            span.price R${{order.shipping.motoboyResult.price}}
      input.btn-primary(type='button' @click='shipmentSelected()' value='Continuar')

        //- .form
        //-   .radio
        //-     //- h3.shipmentOption Tipo de entrega
        //-     label
        //-       input(type='radio' name='shipmentOption' id='correios' value='correios' v-model='shipmentMethod' checked)/ 
        //-       span Envio padrão 
        //-       p Prazo de entrega: 
        //-         span.deadline {{deliveryDeadline}} dia(s) após a confirmação de pagamento
        //-       p Valor: 
        //-         span.price R${{deliveryPrice}}
        //-     label
        //-       input(type='radio' name='shipmentOption' id='motoboy' value='motoboy' v-model='shipmentMethod')/ 
        //-       span Motoboy
        //-       p Prazo de entrega: 
        //-         span.deadline 1 dia após a confirmação de pagamento
        //-       p Valor:
        //-         span.price R$ 20,00
        //-   input.btn-primary(type='button' @click='shipmentSelected()' value='Continuar')

append internal_scripts
  script.
    let order = !{JSON.stringify(order)};

append external_scripts
  script(src='/js/checkout/shippingMethod.js')            