doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Envio
    link(rel="stylesheet" href="/css/checkout/shipment.css" charset="utf-8")
  body
    header
      nav
        include ../main-nav.pug
    main#app(v-cloak)
      .container
        h2 Forma de envio
        hr
        //- Address complement exist.
        .address(v-if='order.shipAddress.addressComplement')
          p.shipAddress Enviar para: {{order.shipAddress.name}}, {{order.shipAddress.address}} {{order.shipAddress.addressNumber}}, {{order.shipAddress.addressComplement}} - {{order.shipAddress.district}}, {{order.shipAddress.city}}, {{order.shipAddress.state}}, {{order.shipAddress.cep}} Brasil   
        //- Addres complement not exist.
        .address(v-if='!order.shipAddress.addressComplement')
          p.shipAddress Enviar para: {{order.shipAddress.name}}, {{order.shipAddress.address}} {{order.shipAddress.addressNumber}} - {{order.shipAddress.district}}, {{order.shipAddress.city}}, {{order.shipAddress.state}}, {{order.shipAddress.cep}} Brasil   
        .items(v-if='order.items.length > 0')
          ul
            li(v-for='item in order.items')
              p 
                  strong {{item.name}}
              p 
                span.price {{item.price}} 
                //- span.price {{formatMoney(item.price)}} 
                span.quantity - Quantidade: {{item.quantity}}
              //- {{item.price}} - {{(item.price * item.qtd)}}
              //- {{formatMoney(item.price)}} - {{formatMoney(item.price * item.qtd)}}
        .form
          .radio
            h3.shipmentOption Tipo de entrega
            label
              input(type='radio' name='shipmentOption' id='default' value='default' checked)/ {{shipmentOption}}

          button(@click='selectShipmentMethod()') Continuar
  script.
    let order = !{JSON.stringify(order)};
    let csrfToken = !{JSON.stringify(csrfToken)};
  include ../components/axios.js.pug
  include ../components/vue.js.pug
  //- include components/accounting.js.pug
  script(src='/js/checkout/shipment.js')            