extends ../layout/layout_vue_n

block title
  title Zunka - Modo de envio

block append css
  link(rel="stylesheet" href="/css/checkout/shippingMethod.css" charset="utf-8")

block content 
  section.shadow
    h2.title Forma de envio
    .form
      .radio
        label(v-for="(item, index) in order.shipping.correioResults")
          input(type='radio' name='shipmentOption' id='correios', :value='item.Codigo'  v-model='shippingMethod')/ 
          span {{correioServiceName(index)}} (Correios)
          p Prazo de entrega: {{deliveryDeadline(index)}} dia(s) após a confirmação do pagamento
          p Valor: R${{deliveryPrice(index)}}
        label(v-if='order.shipping.motoboyResult.price')
          input(type='radio' name='shipmentOption' id='motoboy' value='motoboy' v-model='shippingMethod')/ 
          span Motoboy
          p Prazo de entrega: {{order.shipping.motoboyResult.deadline}} dia(s) após a confirmação do pagamento
          p Valor: R${{order.shipping.motoboyResult.price}}
      input.btn-primary(type='button' @click='shipmentSelected()' value='Continuar')

append internal_scripts
  script.
    let order = !{JSON.stringify(order)};

append external_scripts
  script(src='/js/checkout/shippingMethod.js')            
