extends ../layout/layout_vue_n

block title
    title Zunka - Endereço para envio

block append css
    link(rel="stylesheet" href="/css/checkout/shippingAddress.css?0003" charset="utf-8")

block content 
    section.shadow
        h2.title Selecione um endereço para envio
        p Ou você pode 
            a(href='#new-address') adicionar um novo endereço para envio.
        //- Address list.
        .address(v-if='address' v-for='address in addresss' data-address-id='this.address._id')
            h3.title {{address.name}}
            p {{address.phone}}
            p {{address.cep}}
            p {{address.address}}
            p {{address.addressNumber}}
            p {{address.addressComplement}}
            p {{address.district}}
            p {{address.city}}
            p {{address.state}}
            input.btn-primary(type='button' @click='selectAddress(address._id)' value='Enviar para este endereço') 
        .form
            //- hr
            h3#new-address Cadastrar novo endereço para envio    
            //- Name.                              
            label(for='name') Destinatário
            input(type='text' name='name' id='name' v-model='newAddress.name')
            p.validation(v-if='validation.name') {{validation.name}}    
            //- Cep.      
            label(for='cep' :class='{ error: validation.cep }') {{ validation.cep ? validation.cep : "CEP"}}
            input(type='text' name='cep' id='cep' v-model='newAddress.cep')
            a(href='http://www.buscacep.correios.com.br/sistemas/buscacep/' target='_blank') Não sei meu CEP
            p.loading-cep(v-if='loadingCepInfo') Buscando dados do CEP...
            p.cep-not-found(v-if='cepNotFound') Não foi possível encontrar o CEP informado. Por favor confira os dados e tente novamente.
            //- Address.
            label(for='address') Endereço
            input(type='text' name='address' id='address' v-model='newAddress.address')
            p.validation(v-if='validation.address') {{validation.address}} 
            //- Adress number.
            label(for='addressNumber') Número
            input(type='text' name='addressNumber' id='addressNumber' v-model='newAddress.addressNumber')
            p.validation(v-if='validation.addressNumber') {{validation.addressNumber}} 
            //- Address complement.
            label(for='addressComplement') Complemento
            input(type='text' name='addressComplement' id='addressComplement' v-model='newAddress.addressComplement')
            p.validation(v-if='validation.addressComplement') {{validation.addressComplement}} 
            //- District.
            label(for='district') Bairro
            input(type='text' name='district' id='district' v-model='newAddress.district')   
            p.validation(v-if='validation.district') {{validation.district}} 
            //- City.    
            label(for='city') Cidade
            input(type='text' name='city' id='city' v-model='newAddress.city')  
            p.validation(v-if='validation.city') {{validation.city}} 
            //- State.
            label(for='state') Estado
            input(type='text' name='state' id='state' v-model='newAddress.state')  
            p.validation(v-if='validation.state') {{validation.state}} 
            //- Phone.                   
            label(for='phone') Telefone
            input(type='text' name='phone' id='phone' v-model='newAddress.phone')                                                                                        
            p.validation(v-if='validation.phone') {{validation.phone}} 
            input.btn-primary(type='button' @click='newAddressSelected()' value='Enviar para este endereço') 
        include ../misc/loading.pug

append internal_scripts
    script.
        let addresss = !{JSON.stringify(addresss)};

append external_scripts
    script(src='/js/checkout/shippingAddress.js?0008')
