extends ../layout/layout

block title
    title Mercado Livre - Menu

block append internal_style
    style.
        section > h2:first-child {
            margin-top: 0;
            margin-bottom: .6em;
        }
        section a {
            display: block;
            display: flex;
            flex-flow: row wrap;
            color: var(--green);
            cursor: pointer;
            margin-bottom: .6em;
        }
        section a:hover {
            color: var(--green);
            text-decoration: underline;
        }

block content
    section
        h2 Mercado Livre
        //- authenticate
        a(href='/meli/auth-code/authenticate') Autenticar no ML para obter código de autorização

        //- import authorization code
        if devMode
            a(href='/meli/auth-code/import') Importar código de autorização do servidor de produção

        //- get access token
        a(href='/meli/access-token') Obter chave de acesso

        //- all products
        a(href='/meli/products') Todos os produtos (privado)

        //- active products
        a(href='/meli/products?status=active') Produtos ativos

