extends ../layout/layout

block title
    title Mercado Livre - Menu

block append internal_style
    style.
        section > h2:first-child {
            margin-top: 0;
            margin-bottom: .6em;
        }
        section a {
            display: block;
            display: flex;
            flex-flow: row wrap;
            color: var(--green);
            cursor: pointer;
            margin-bottom: .6em;
        }
        section a:hover {
            color: var(--green);
            text-decoration: underline;
        }
        section label {
            display: inline-block;
            margin-top: 0;
            margin-bottom: .7em;
        }

block content
    section
        h2 Mercado Livre

        //- auto load token access
        input(type='checkbox' id='autoLoadTokenAccess'  onclick='updateAutoLoadTokenAccess(this)' checked=autoLoadTokenAccess )
        label(for='autoLoadTokenAccess') Obter token de acesso automaticamente quando autenticar

        //- authenticate
        a(href='/meli/auth-code/authenticate') Autenticar no ML para obter código de autorização

        //- import authorization code
        if devMode
            a(href='/meli/auth-code/import') Importar código de autorização do servidor de produção

        //- get access token
        a(href='/meli/access-token') Obter chave de acesso

        //- all products
        a(href='/meli/products') Todos os produtos (privado)

        //- active products
        a(href='/meli/products?status=active') Produtos ativos

append internal_scripts
    script.
        function updateAutoLoadTokenAccess(elem) {
            axios({
                method: 'post',
                url: '/meli/access-token/auto-load-token-access',
                headers:{'csrf-token' : csrfToken},
                data: { autoLoadTokenAccess: elem.checked }
            })
            .then(response => {
                // Validation error.
                // console.log(JSON.stringify(response.data, null, 2));
                if (!response.data.success) {
                    alert('Não foi possível salvar a configuração.');
                    return;
                    // No error validation.
                }
                // Server side error.
                if (response.data.err) {
                    alert('Não foi possível salvar a configuração.');
                    console.error(response.data.err);
                } 
            })
        }

append external_scripts
    include ../components/axios.js.pug
