doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block title
    block css
  body
    include ../menu/contact.pug
    include ../menu/desktopNav.pug
    include ../menu/mobileNav.pug 
    main
      #app(v-cloak)
        block content
    block footer
      include ../menu/footer

  block internal_scripts
    script.
      // Make available for vue.
      let csrfToken = !{JSON.stringify(csrfToken)};

  block external_scripts
    include ../components/axios.js.pug
    include ../components/vue.js.pug
