doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Loja especializada na venda de laptop")
    block title
    block css
  block internal_style
    style.
      .has-text-green-zunka {
        color: #070;
      }
      .has-background-green-zunka {
        background-color: #070;
      }
      //- span {
      //-   white-space: nowrap;
      //- }
  body
    //- include ../menu/contact_b.pug
    include ../menu/topNavBar.pug
    //- include ../menu/mobileNav.pug 
    main#app(v-cloak)
      block content
    block footer
      include ../menu/footer_b

  block internal_scripts
    script.
      // Make available for vue.
      let csrfToken = !{JSON.stringify(csrfToken)};

  block external_scripts
    include ../components/axios.js.pug
    include ../components/vue.js.pug
