doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Test send e-mail.
  body
    main
      h1.text-left Testes
      form(action='/test/send-email' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        input.btn.btn-primary.btn-block(type='submit' value='Enviar')
