@import '../reset'
@import '../main-nav'
main
  display flex
  flex-flow row wrap
  justify-content center
  margin 1em auto
  width 95%
  // max-width 800px
& > .panel
  padding 1em
  margin .5em
  border 1px solid lightgray
  border-radius 4px  
  a 
    display flex
    flex-flow row wrap
    text-decoration none
    .icon
      color green
      width 3em
      height 3em
      // vertical-align middle
      margin .5em .5em .5em .5em
    .text
      margin auto .5em
      color black