@import '../reset'
@import '../main-nav'
main
  display flex
  flex-flow column nowrap
  justify-content center
  margin 2em auto
  width 95%
  max-width 480px
  > .account-deleted
    display flex
    flex-flow column nowrap
    > h1
      color green
      text-align center
    
    