.title {
    margin-top: 0;
}
section p {
    color c_gray
    margin 0
    line-height 1.7
}
.addresses {
    flex 1 1 auto
    display flex
    flex-flow column wrap
    justify-content space-between
}
.address-panel {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid var(--white);
    border-radius: 4px;
    min-height: 300px;
    // min-width: 450px;
    margin-top: 1em;
    background-color: var(--white-light);
}
.address-header {
    background-color: var(--white-light);
    border-bottom: 1px solid var(--black-lighter);
    color: var(--green);
}
.address-header h3 {
    margin: .1em 0;
    padding-left: .8em;
}
.address-body,
.address-footer {
    padding: .8em;
}
.address-body h4 {
    margin-bottom: .5em;
    margin-top: 0;
    font-weight: 500;
}
.address-footer,
.address-footer a {
    color: var(--green);
}
.address-footer a {
    cursor: pointer;
}
.address-footer span {
    white-space: nowrap;
}
