@import '../reset'
@import '../desktopNav'
@import '../mobileNav'
main
  display flex
  flex-flow column nowrap
  justify-content center
  // margin 2em 4em
  margin 2em auto
  width 95%
  max-width 1200px
  > .breadlink
    margin-left 1em
    a
      text-decoration none
  > .title
    margin 1em  
  > .addresses
    display flex
    flex-flow row wrap
    justify-content space-between
    border-radius 4px  
    > .address-panel.add
      display flex
      flex row nowrap
      justify-content center
      align-items center
      border 2px dashed lightgray
      &:hover
        cursor pointer
    > .address-panel
      display flex
      flex-flow column nowrap
      border 1px solid #eee
      border-radius 5px
      margin 1em
      min-height 300px
      width: 350px
      background-color #fcfcfc
      justify-content space-between // flex-end
      > .address-header
        background-color #f4f4f4
        h3
          padding .5em
        hr
          margin 0
      > .address-body, 
      > .address-footer
        padding .8em
      > .address-body > p
        margin-bottom .3em
      > .address-body > p.name
        font-weight bold
        margin-bottom .5em
      > .address-footer
        color green
        a:hover
          cursor pointer