@import '../reset'
@import '../main-nav'
main
  display flex
  flex-flow column nowrap
  justify-content center
  // margin 2em 4em
  margin 1em auto
  width 95%
  max-width 1200px
  > .cart
    display flex
    flex-flow column wrap
    justify-content space-between
    border-radius 4px  
    table
      margin-top 1em
      border-spacing 0
      thead
        td
          padding .5em
      tbody
        td
          border-top 1px solid #ddd
          padding .5em
    img.product
      max-width 100px
      height auto
    .subtotal
      margin-top 1em
      span
        color green
        font-weight bold
      p
        margin-top 1em
      input
        margin-left 1em
    a.product-title
      color #337ab7
      display block
      text-decoration none
    p.remove-product
      color #337ab7
      margin-top .5em
      font-size .9em
      cursor pointer
    p.product-price,
    a.product-title
      font-size 1.2em
      padding-top .6em
    p.product-price
      color green
    a.checkout
      margin-left 2em