@import '../reset'
@import '../main-nav'
main
  display flex
  flex-flow column nowrap
  justify-content center
  // margin 2em 4em
  margin 1em auto
  width 95%
  max-width 1200px
  > .cart
    display flex
    flex-flow column wrap
    justify-content space-between
    border-radius 4px  
    table
      margin-top 1em
      border-spacing 0
      thead
        td
          padding .5em
      tbody
        td
          border-top 1px solid #ddd
          padding .5em
    img.product
      max-width 100px
      height auto
    .subtotal
      margin-top 1em
      span
        color green
        font-weight bold
      p
        margin-top 1em
      input
        margin-left 1em
    a.product-title
      color #337ab7
      display block
      text-decoration none
    p.remove-product
      color #337ab7
      margin-top .5em
      font-size .9em
      cursor pointer
    p.product-price,
    a.product-title
      font-size 1.2em
      padding-top .6em
    p.product-price
      color green
    a.checkout
      margin-left 2em
  > .modal
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */ 
    display flex
    flex-flow column nowrap
    align-items center
    > .modal-content
      background-color: #fefefe;
      margin: 10% auto;
      padding: 1.5em;
      border-radius: .2em
      display flex
      flex-flow column nowrap
      align-items center
      // max-width 600px
      h2
        margin-bottom 0
      table
        margin-top 1.5em
        border-spacing 0
        thead
          td
            padding .5em
        tbody
          td
            border-top 1px solid #ddd
            padding .5em
      img.product
        max-width 100px
        height auto
      .title
        font-weight bold
      .price
        color green
        font-weight bold
      input
        width 80px

