@import '../reset'
@import '../topMenu'
#app
  display flex
  flex-flow column nowrap
  justify-content center
  // margin 2em 4em
  margin 2em auto
  width 95%
  max-width 300px
  > .breadlink
    a
      text-decoration none
  > .delete-account
    display flex
    flex-flow column
    margin-top 1em
    padding 1em
    border 1px solid lightgray
    border-radius 4px  
    h2
      margin-bottom .5em
    p.warn-message
      color red
      margin-top 0
    input
    button
      height 2em
      border 1px solid lightgray
      margin-top .5em
      margin-bottom .5em
      padding-left 1em
      padding-right 1em
      border-radius 4px
    input[type='button']
      color #fff
      background-color #337ab7
      border-color #2e6da4
      &:hover
        background-color #286090
        border-color #204d74
      
      