.title {
    margin-top: 0;
}
section a {
    display: block;
}
p.loading-cep, p.cep-not-found {
    margin-bottom: 0;
    margin-top: 0;
}
p.cep-not-found {
    color: var(--red);
}
p.loading-cep {
    color: var(--green);
}
