@import '../reset'
@import '../main-nav'
main
  display flex
  flex-flow column nowrap
  justify-content center
  margin 2em auto
  width 95%
  max-width 480px
  a
    text-decoration none
  > .edit-password
    display flex
    flex-flow column nowrap
    margin 1em 0
    > .warn-message
      color red
      // margin-bottom .5em
    // > h2
    //   margin-bottom .6em
    > label
      margin-top 1em
      font-weight bold
    > input
      margin .2em 0 0 0
      padding-left .5em
      border-radius .2em
      border solid 1px #aaa
      height 2em
      &[type='button']
        margin-top 1em
        color #fff
        background-color #337ab7
        border-color #2e6da4
        &:hover
          background-color #286090
          border-color #204d74
    
    