@import '../menu/reset_menu_footer'
@import '../input'
@import '../message'
btn-primary()
message()
.panel
  width width_address_page
  input:last-of-type
    margin-top 2em 
  a
    display block
    margin-top .2em
  p.loading-cep
    color c_success
    margin-bottom 0
  p.cep-not-found
    color c_warn
    margin-bottom 0