section {
    background-color: var(--white-lighter);
    max-width: var(--width-small);
    min-width: 14em;
    padding 1em;
    margin 2em 1em;
}
.title {
    margin-top: 0;
}
input.signin {
    margin-top: 1.5em;
}
