section {
    background-color: var(--white-lighter);
    max-width: var(--width-small);
    min-width: 14em;
    padding: 1em;
    margin: 2em 1em;
}
section h3 {
    color: #937848;
    background-color: lightyellow;
    border: 1px solid #FCF8E3;
    border-radius: 4px  ;
    padding: 1em;
    text-align: center;
}
section a {
    margin-top: 1em;
    text-decoration: none;
    color: green;
    text-align: center;
}
