$veryLightGray = #eee
$lightGray = #ccc
$BLACK_COLOR = #111
$BORDER_COLOR = #777
$DIVISION_COLOR = #555
panel_bgc = #fff
// Colors.
c_red = #d00
c_green = #070
c_black = #333
c_gray = #666
c_very_light_gray = #ccc
c_white_ice = #f5f5f5
c_white = #fff
// Semantic.
c_price = #C45D43
$c_quantity = #7D7D7D
c_warn = c_red
c_success = c_green
c_footer_text = c_very_light_gray
c_info_text = c_gray
c_info_head = c_black
bgc_panel = c_white
bgc_body = c_white_ice
bgc_ineer_panel = #eee

// Linnk
c_link = #337ab7
c_link_hover = #23527c