$RED_PRICE = #C45D43
$GRAY_TITLE = #7D7D7D
$veryLightGray = #eee
$lightGray = #ccc
$BLACK_COLOR = #111
$BORDER_COLOR = #777
$DIVISION_COLOR = #555
panel_bgc = #fff
// Colors.
c_green = #070
c_warn = #d00
c_success = #0f0
c_black = #333
c_gray = #666
c_very_light_gray = #ccc
c_white = #fff
// Semantic.
c_footer_text = c_very_light_gray
c_info_text = c_gray
c_info_head = c_black
bgc_panel = c_white
// Button dark blue.
c_btn_dark_blue = c_white   // Color.
bgc_btn_dark_blue = #337ab7 // Back ground color.
bc_btn_dark_blue = #2e6da4  // Border color.
bgc_btn_dark_blue_hover = #286090
bc_btn_dark_blue_hover = #204d74
// Button light blue.
c_btn_light_blue = c_white   // Color.
bgc_btn_light_blue = #5bc0de // Back ground color.
bc_btn_light_blue = #46b8da  // Border color.
bgc_btn_light_blue_hover = #31b0d5
bc_btn_light_blue_hover = #269abc