input,
textarea {
    font-size 1em
    box-sizing border-box
    width 100%
    height 2em
    border: 1px solid var(--black);
    padding-left .5em
    padding-right .5em
    border-radius 4px
}
input:not([readonly]):focus,
textarea:not([readonly]):focus {
    border: 1px solid rgba(81, 203, 238, 1);
}
input:[readonly],
textarea:[readonly] {
    background-color: lightgray;
}
textarea {
    height: 10em;
}
input[type='submit'],
input[type='button'] {
    cursor: pointer;
}
input[type='checkbox'] {
    width: 1em;
    height: 1em;
    margin: 0 .4em 0 0;
}
// Primary.
c_btn_primary = #080
c_btn_primary_hover = darken(c_btn_primary, 20%)
input[type='submit'].btn-primary,
input[type='button'].btn-primary {
    color: var(--white-lighter);
    background-color c_btn_primary
    border-color darken(c_btn_primary, 10%)
}
input[type='submit'].btn-primary:hover,
input[type='button'].btn-primary:hover {
    background-color: c_btn_primary_hover;
    border-color: darken(c_btn_primary_hover, 10%);
}
// Secondary.
c_btn_secondary = lighten(c_btn_primary, 15%)
c_btn_secondary_hover = darken(c_btn_secondary, 20%)
input[type='submit'].btn-secondary,
input[type='button'].btn-secondary {
    color: var(--white-lighter);
    background-color c_btn_secondary
    border-color darken(c_btn_secondary, 10%)
}
input[type='submit'].btn-secondary:hover,
input[type='button'].btn-secondary:hover {
    background-color c_btn_secondary_hover
    border-color darken(c_btn_secondary_hover, 10%)
}
// Success.
c_btn_success = #218838
c_btn_success_hover = darken(c_btn_success, 20%)
input[type='submit'].btn-success,
input[type='button'].btn-success {
    color: var(--white-lighter);
    background-color c_btn_success
    border-color darken(c_btn_success, 10%)
}
input[type='submit'].btn-success:hover,
input[type='button'].btn-success:hover {
    background-color c_btn_success_hover
    border-color darken(c_btn_success_hover, 10%)
}
// Danger.
c_btn_danger = #C82333
c_btn_danger_hover = darken(c_btn_danger, 20%)
input[type='submit'].btn-danger,
input[type='button'].btn-danger {
    color: var(--white-lighter);
    background-color c_btn_danger
    border-color darken(c_btn_danger, 10%)
}
input[type='submit'].btn-danger:hover,
input[type='button'].btn-danger:hover {
    background-color c_btn_danger_hover
    border-color darken(c_btn_danger_hover, 10%)
}
// Warn.
c_btn_warn = #E0A800
c_btn_warn_hover = darken(c_btn_warn, 20%)
input[type='submit'].btn-warn,
input[type='button'].btn-warn {
    color: var(--white-lighter);
    background-color c_btn_warn
    border-color darken(c_btn_warn, 10%)
}
input[type='submit'].btn-warn:hover,
input[type='button'].btn-warn:hover {
    background-color c_btn_warn_hover
    border-color darken(c_btn_warn_hover, 10%)
}
// Info.
c_btn_info = #138496
c_btn_info_hover = darken(c_btn_info, 20%)
input[type='submit'].btn-info,
input[type='button'].btn-info {
    color: var(--white-lighter);
    background-color c_btn_info
    border-color darken(c_btn_info, 10%)
}
input[type='submit'].btn-info:hover,
input[type='button'].btn-info:hover {
    background-color c_btn_info_hover
    border-color darken(c_btn_info_hover, 10%)
}
// Exit.
c_btn_exit = #138496
c_btn_exit_hover = darken(c_btn_exit, 20%)
input[type='submit'].btn-exit,
input[type='button'].btn-exit {
    color: var(--white-lighter);
    background-color c_btn_exit
    border-color darken(c_btn_exit, 10%)
}
input[type='submit'].btn-exit:hover,
input[type='button'].btn-exit:hover {
    background-color c_btn_exit_hover
    border-color darken(c_btn_exit_hover, 10%)
}
