input,
textarea {
    font-size: 1em;
    box-sizing: border-box;
    // width: 100%;
    height: 2em;
    border: 1px solid var(--black);
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 4px;
}
input:not([readonly]):focus,
textarea:not([readonly]):focus {
    border: 1px solid rgba(81, 203, 238, 1);
}
input:[readonly],
textarea:[readonly] {
    background-color: lightgray;
}
textarea {
    height: 10em;
}
input[type='submit'],
input[type='button'] {
    cursor: pointer;
}
input[type='checkbox'] {
    width: 1em;
    height: 1em;
    margin: 0 .4em 0 0;
}
// Primary.
input[type='submit'].btn-primary,
input[type='button'].btn-primary,
a.btn-primary {
    color: var(--white-lighter);
    background-color: #008800;
    border-color: #007a00;
}
input[type='submit'].btn-primary:hover,
input[type='button'].btn-primary:hover,
a.btn-primary:hover {
    color: var(--white-lighter);
    background-color:  #006d00;
    border-color: #006200;;
}
// Secondary.
input[type='submit'].btn-secondary,
input[type='button'].btn-secondary {
    color: var(--white-lighter);
    background-color: #00c000;
    border-color: #00ad00;
}
input[type='submit'].btn-secondary:hover,
input[type='button'].btn-secondary:hover {
    background-color: #009a00;
    border-color: #008b00;
}
// Success.
input[type='submit'].btn-success,
input[type='button'].btn-success {
    color: var(--white-lighter);
    background-color: #218838;
    border-color: #1e7a32;
}
input[type='submit'].btn-success:hover,
input[type='button'].btn-success:hover {
    background-color: #1a6d2d;
    border-color: #176229;
}
// Danger.
input[type='submit'].btn-danger,
input[type='button'].btn-danger {
    color: var(--white-lighter);
    background-color: #c82333;
    border-color #b4202e;
}
input[type='submit'].btn-danger:hover,
input[type='button'].btn-danger:hover {
    background-color: #a01c29;
    border-color: #901925;
}
// Warn.
input[type='submit'].btn-warn,
input[type='button'].btn-warn {
    color: var(--white-lighter);
    background-color: #e0a800;
    border-color: #ca9700;
}
input[type='submit'].btn-warn:hover,
input[type='button'].btn-warn:hover {
    background-color: #b38600;
    border-color: #a17900;
}
// Info.
input[type='submit'].btn-info,
input[type='button'].btn-info {
    color: var(--white-lighter);
    background-color: #138496;
    border-color: #117787;
}
input[type='submit'].btn-info:hover,
input[type='button'].btn-info:hover {
    background-color: #0f6a78;
    border-color: #0e5f6c;
}
// Exit.
input[type='submit'].btn-exit,
input[type='button'].btn-exit {
    color: var(--white-lighter);
    background-color: #138496;
    border-color: #117787;
}
input[type='submit'].btn-exit:hover,
input[type='button'].btn-exit:hover {
    background-color: #0f6a78;
    border-color: #0e5f6c;
}
