:root {
    /* Colors */
    --black-darker: #333;
    --black-dark: #555;
    --black: #777;
    --white-lighter: #fff;
    --white-light: #f5f5f5;
    --white: #eee;
    --white-dark: #dbdbdb;
    --green-lighter: #23d160;
    --green-light: #22c65b;
    --green: #070;
    --green-dark: #050;
    --green-darker: #030;
    --gray: #666;
    /* Menu */
    --menu-width: 400;
}
html {
    // Use for right menu.
    // position: relative;
    // overflow-x: hidden;
}
body {
    // Use for right menu.
    // position: relative;
    // overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif';
    background-color: var(--white-light);
}
#container-menu {
    position: relative;
    z-index: 1002
}
#c-test {
    z-index: 1002
    // height: 30px;
    position: relative;
    // overflow-x: hidden;
}
#test {
    z-index: 1003;
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    background-color: orange;
    top 0;
    left: 0px;
}
// Header bar.
#header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black-darker);
    min-width: 250px;
}
// Brand name.
#header .brand {
  padding: 0 .5em;
}
#header .brand img {
  height: 2em;
  width: auto;
}
// Search.
#header .search {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2em;
  padding-left: .5em;
  padding-right: .5em;
  margin: 0em 1em 0em .5em;
  border-radius: 4px;
  background-color: var(--white-lighter);
}
#header .search input {
  flex-grow: 1;
  flex-shrink: 1;
  // flex-basis: 30px;
  margin: 0;
  box-sizing: border-box;
  border: none;
  padding-left: .5em;
  height: 100%;
  width: 10em;
}
#header .search input:focus {
    outline: none;
}
#header .search i {
  cursor: pointer;
}
// Space.
#header .space {
    display: none;
    flex-grow: 1
}
// Cart.
#header a.cart {
  flex-shrink: 0;
}
#header a.cart .icon {
  width: 2.2em;
  height: 2.2em;
  position: relative;
  top: .2em;
}
#header a.cart #cart-qtd {
  position: relative;
  top: -1.15em;
  left: -1.65em;
  font-size: .8em;
  font-weight: bold;
  color: var(--green);
  margin-right: .5em;
}
// Burger.
#header .burger {
    cursor: pointer;
    display: inline-block;
    height: 2.5em;
    // height: 100%;
    box-sizing: border-box;
    // background-color: lightblue;
}
#header .burger:hover {
    opacity: .7;
}
#header .burger-box {
    width: 46px;
    display: inline-block;
    position: relative;
}
#header .burger-inner {
    // display: block;
    // top: 40%;
    left: 10%;
    // margin-top: 2px;
}
#header .burger-inner, .burger-inner::before, .burger-inner::after {
    width: 28px;
    height: 2px;
    background-color: var(--white-lighter);
    border-radius: 1px;
    position: absolute;
}
#header .burger-inner::before, .burger-inner::after {
    content: "";
    display: block;
}
#header .burger-inner::before {
    top: -10px;
}
#header .burger-inner::after {
    bottom: -10px;
}
#header .burger.active {
    /*margin-left: calc(var(--menu-width) * 1px);*/
}
#header .burger.active .burger-inner {
    transform: rotate(45deg);
}
#header .burger.active .burger-inner::before {
    top: 0;
    opacity: 0;
}
#header .burger.active .burger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
}
// Menu.
#menu {
    // Use for right menu.
    // overflow-x: hidden;
    display: block;
    background-color: var(--black-darker);
}
#menu a {
    color: var(--white);
    font-size: 1.2em;
    cursor: pointer;
}
// Main.
main {
    max-width: 1200px;
    flex-grow: 1;
    margin: 0 auto;
    // padding: 0 1em;
}
// Footer.
footer {
    padding: 1em;
    text-align: center;
    background-color: var(--black-darker);
}
footer a {
    margin: 1rem;
    color: var(--white);
    font-size: 1.2em;
    cursor: pointer;
    display: block;
}
footer a:hover {
    color: var(--white);
    opacity: .7;
}
section {
    margin: 2em auto;
    padding: 0 1em;
}
section.full {
    margin 0;
    padding: 0;
}
.shadow {
    box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.1);
    border-radius: 4px;
}
section .section-title {
    margin: 0 0 0 .3em;
    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: 0;
    color: var(--gray);
}
img {
    height: auto;
    width: 100%;
    display:block;
}
a {
    text-decoration: none;
}
/* Mobile */
@media (min-width: 0px) {
    #header {
        padding-bottom: .7em;
    }
    #header .brand {
        order: 1;
    }
    #header .search {
        order: 5;
        flex-basis: 500px;
    }
    #header .space {
        order: 2;
        display: flex;
    }
    #header .cart {
        order: 3;
    }
    #header .burger {
        order: 4;
    }
    footer a { display: block; }
}
/* Tablet */
@media (min-width: 600px){
    #header {
        min-height: 2em;
        padding: .3em .5em;
    }
    #header .brand {
        order: 1;
    }
    #header .search {
        order: 2;
        flex-basis: 200px;
    }
    #header .space {
        order: 3;
        display: none;
    }
    #header .cart {
        order: 4;
    }
    #header .burger {
        order: 5;
    }
    // #header .search {
    //     margin-top: .2em;
    // }
}
/* Small laptop */
@media (min-width: 800px){
    footer a { display: inline-block; }
}
/* Laptop */
@media (min-width: 1000px) { }
/* Screen under 48em. */
@media (max-width: 800px) {
    /* Animation. */
     #menu, .items {
        transition: all .2s ease-out;
    }
    /* Menu. */
    #menu {
        position: absolute;
        // height: 100%;
        height: 1200px;
        width: calc(var(--menu-width) * 1px);
        left: calc(var(--menu-width) * -1px);
        // right: 0;
        // top: 2.5em;
        text-align: left;
        padding-top: .5em;
        overflow-x: hidden;
    }
    #menu .sub-menu {
        // Use for right menu.
        // overflow-x: hidden;
    }
    #menu.active {
        left: 0;
    }

    /* Menu item. */
    #menu .item {
        display: block;
        // padding: .4em .5em .4em 1.4em;
        padding: 1.5em .5em 1.5em 4em;
    }
    #menu .item:hover {
        opacity: .7;
    }
    /* Sub-menu items. */
    #menu .items {
        position: absolute;
        top: 0;
        height: 100%;
        z-index: 1010;
        background-color: var(--black-darker);
        width: calc(var(--menu-width) * 1px);
        left: calc(var(--menu-width) * -1px);
    }
    #menu .items.active {
        left: 0;
    }
    /* Sub-menu back menu. */
    #menu .sub-menu .items a.item.back {
        background-color: var(--black-dark);
    }
    #menu .sub-menu .items a.item.back:hover {
        background-color: var(--black-dark);
    }
    /* Fotter. */
    #footer .item {
        display: block;
    }
}

/*  Screen above 48em. */
@media (min-width: 800px) {
    #header .burger {
        display: none;
    }
    // Menu.
    #menu {
        padding-right: 5em;
        text-align: right;
    }
    /* Sub-menu. */
    #menu .sub-menu {
        margin: 0 0 0 3em;
        display: inline-block;
    }
    #menu .toggle-items {
        display: inline-block;
        margin-bottom: .3em;
        padding: 0 1em 0 1em;
    }
    #menu .toggle-items i.fa-chevron-up {
        position: relative;
        transform: rotate(180deg);
        top: .1em;
    }
    #menu .sub-menu .items,
    #menu .sub-menu .items .item.back {
        display: none;
    }
    /* Sub-menus. */
    #menu .items {
        position: absolute;
        // top: 5.5em;
        margin-left: -2em;
        width: 12em;
        padding: .5em 1em;
        // padding .5em 0;
        /*width: calc(var(--menu-width) * 1px);*/
        color: var(--black-dark);
        background-color: var(--white-lighter);
        font-size: .9em;
        text-align: left;
        // box-shadow: 4px 6px 22px -8px rgba(0,0,0,0.81);
        border: solid 1px var(--white);
        border-radius: 4px;
    }
    //- Sub menu items.
    #menu .items a.item {
        color: var(--black-darker);
        padding: .1em 0;
    }
    #menu .items a.item:hover {
        color: var(--green);
    }
    /* Show sub-menu items. */
    #menu .sub-menu:hover .items {
        display: block;
    }
    #menu .sub-menu:hover .toggle-items{
        opacity: .7;
    }
    #menu .sub-menu .items .item {
        // padding-top: .5em;
        // padding-bottom: .5em;
        display: block;
    }
    #main {
        margin-top: 2em;
    }
}
