.main-nav
  display block
  min-width 400px
  background #333
  font-size 1.1em
  height 2.5em
  div 
    overflow hidden
  input 
    width 100%  
  a.brand 
    float left
    color #ccc
    text-decoration none
    margin .5em 2em .1em 1em
    cursor pointer
    &:hover
      color #fff
  a.cart
    float right
    margin .35em 1em 0 1em
    text-decoration none
    cursor pointer
    .icon
      width 2.2em
      height 2.2em   
      position relative
      top -.25em
    #cart-qtd
      position relative
      top -1.5em
      left -1.45em
      font-size .9em
      font-weight bold
      color green
  #menu
    position relative
    float right
    transition transform 0.2s ease
    background #333
    // border 1px yellow solid 
    li.back-main-menu
      display none
    > li
      position relative
      // border 1px green solid 
      line-height 2.2em
      display inline-block
      color #ccc
      height 2.5em
      // padding 0 1em
      white-space: nowrap
      cursor pointer
      .title
        padding 0 1em
      a
        // border 1px yellow solid
        display inline-block
        color #ccc
        text-decoration none
      .icon
        // border 1px pink solid 
        width 1.2em
        height 1.2em   
        vertical-align middle
      > ul
        cursor default
        position absolute
        left 0
        top 2.5em
        display none
        background #333
        // border-radius 0 0 4px 4px
        transition transform 0.2s ease
        > li 
          // font-size .9em
          // line-height normal
          line-height 1.7em
          padding .4em 1em .4em 1em
          position relative
          list-style none
          border-bottom solid 1px #555
          border-left solid 1px #777
          border-right solid 1px #777
        > li:nth-child(2) 
          border-top solid 1px #777
        > li:last-child 
          border-bottom solid 1px #777
        > li:hover
          background #444
    > li:hover
      background #444
    > li:hover ul 
      display block
  .search
    // The trick used to be width 100% inside a block.
    display flex
    padding-top .35em
    input:first-child
      height 2em
      min-width 60px
      border none
      border-radius 2px 0 0 2px
      padding-left .5em
    input:last-child
      height 2em
      width 2.2em
      margin-right 2em
      border none
      border-radius 0 2px 2px 0
      // background-image url('/icon/sprite.svg#ic_search_black_24px')
      // background-size 8px 8px;
      // background-position 0 0;
      background-repeat no-repeat
      background-color white
      background-size 1.8em 1.8em
      background-position 65% 50%  
    input:last-child:hover
      background-color lightgray
      cursor pointer
  #toggle-menu
    float right
    display none
    height 2.5em
    > span
      display block
      width 28px
      height 2px
      margin 5px 1em 5px 1em
      // margin-bottom 5px
      // margin-top 5px
      background #ccc
      transition transform 0.1s ease
    // #toggle-menu span:nth-last-child(3)
    //   transform-origin 50% 50%
    > span:first-child
      margin-top 13px
// Mobile.
@media screen and (max-width 600px)
  .main-nav
    #toggle-menu
      display block
    #toggle-menu.cross
      span:nth-last-child(3)
        transform rotate(45deg) translate(6px, 6px)
      span:nth-last-child(2)
        opacity 0
      span:nth-last-child(1)
        transform rotate(-45deg) translate(4px, -4px)
    #menu
      position absolute
      z-index 10
      top 44px
      right -22em
      width 16em
      .icon.menu
        transform rotate(-90deg)
      .back-main-menu .icon.menu
        transform rotate(90deg)
      > li
        display block
        border-top solid 1px #555
        border-right solid 1px #777
        border-left solid 1px #777
        > ul 
          z-index 12
          width 16em
          position absolute
          display block
          > li.back-main-menu
            display block
          > li:nth-child(2) 
            border-top none
          > li:nth-child(1) 
            border-top solid 1px #555
        > ul.show
          transform translate(-22em)
      > li:last-child
        border-bottom solid 1px #777
      > li.admin > ul
      > li.account > ul 
        left 21.9em
      > li.admin > ul 
        top -.05em
      > li.account > ul 
        top -2.6em
    #menu.show
      transform translate(-20em)   