#mobile-nav
  display block
  background $BLACK_COLOR
  font-size 1.1em
  .top
    display flex
    align-items center
    min-width 260px
    // border solid 1px red
  a.brand
    color #ccc
    text-decoration none
    margin 0 1em
    cursor pointer
    &:hover
      color #fff
  a.cart
    margin-left auto
    text-decoration none
    cursor pointer
    .icon
      width 2.2em
      height 2.2em   
      position relative
      top .1em
    #cart-qtd
      position relative
      top -1.1em
      left -1.46em
      font-size .9em
      font-weight bold
      color green
  #toggle-menu
    display inline-block
    > span
      display block
      width 28px
      height 2px
      margin 5px 1em 5px 1em
      background #ccc
      transition transform 0.1s easex
  .search
    display flex
    padding-bottom .35em
    min-width 10em
    // border solid 1px yellow
    input:first-child
      height 2em
      flex-grow 1
      border none
      border-radius 2px 0 0 2px
      padding-left .5em
      margin-left 1em
    input:last-child
      height 2em
      width 2.2em
      margin-right 1em
      border none
      border-radius 0 2px 2px 0
      background-image url('/icon/ic_search_black_24px.svg')
      background-repeat no-repeat
      background-color white
      background-size 1.8em 1.8em
      background-position 65% 50%  
    input:last-child:hover
      background-color lightgray
      cursor pointer 
#sidenav
  position fixed
  z-index 1
  height 100%
  width 0
  top 0
  right 0
  padding-top 2.5em
  background $BLACK_COLOR
  transition 0.2s
  overflow-x hidden   // Not show links when closed.
  a
    padding .2em .5em .2em 2em
    text-decoration none
    font-size 25px
    color #818181
    display block
    transition 0.2s
  a.root
    padding 1em .5em .2em 1em
    &:hover
      color #818181
  a:hover
    color #f1f1f1
  .closebtn
    position absolute
    padding 0
    top 0em
    right .4em
    font-size 3em      
// Desktop.
@media screen and (min-width 601px)
  #mobile-nav
    display none
          
 