@import 'reset'
@import 'topMenu'
// @import 'pagination'
main
  background-color #f5f5f5
  padding-bottom 2em
  .container
    width 100%
    // max-width 1500px
    // background-color lightgray
    overflow-x hidden
    > .cart
      border 1px solid #ddd
      background-color #f3f3f3
      display flex
      flex-flow row wrap
      margin 1em .5em .5em .5em
      span
        font-size 1.2em
      img
        max-width 6em
        max-height 4em
      .item, .sub-total, .buttons
        display flex
        flex-flow row nowrap
        span
          padding 0 .5em 0 .5em
      .item
        align-items center
        span
          color green
          font-weight bold
      .sub-total
        flex 1 1 auto
        justify-content center
        align-items center
        padding 1em
        & > span:nth-child(2)
          padding-left 0
          font-weight bold
          color green
      .buttons
        flex 1 1 auto
        justify-content center
        padding 1em
        button:nth-child(1)
          margin-right 1em
    > .banner
      max-height 300px
      img
        display block
        margin 0 auto
    > .best-selling-products      
    > .new-products  
      max-width 1200px
      margin 1em auto
      // border 1px black solid
      > .title
        padding 1em 0 0 0
        font-size 1.6em
        color #666
        font-weight 300
        line-height 2
      > .products
        display flex
        flex-flow row wrap
        // justify-content space-around
        justify-content space-between
        // justify-content center
        // background blue
        > .product
          // width 400px
          // height 300px
          // border 1px solid #ddd
          // box-shadow: 8px 8px 30px -12px rgba(0,0,0,0.75);
          box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
          border-radius 4px
          padding .5em
          margin .5em 0
          // flex 1 0 14em
          text-decoration none
          background-color #fff
          color black
          > a
            text-decoration none
            > img
              max-width 240px
              border-radius .3em
            > .title
              font-size 1.1em
              color green
              font-weight 400
              line-height 1.4
              padding 0 .5em
              max-width 240px
              // white-space wrap
              word-wrap:break-word
            > .price
              margin-top .5em
              font-size 1.3em
              color black
              font-weight 400
              line-height 1.1
              padding 0 .5em
              > sup
                font-size: 0.5em
                top: -0.6em
                padding-right: 0.3em
                padding-left: 0.2em

