@import 'reset'
@import 'topMenu'
// @import 'pagination'
main
  background-color lightgray
  padding-bottom 2em
  .container
    width 100%
    // max-width 1500px
    // background-color lightgray
    overflow-x hidden
    > .cart
      border 1px solid #ddd
      background-color #f3f3f3
      display flex
      flex-flow row wrap
      margin 1em .5em .5em .5em
      span
        font-size 1.2em
      img
        max-width 6em
        max-height 4em
      .item, .sub-total, .buttons
        display flex
        flex-flow row nowrap
        span
          padding 0 .5em 0 .5em
      .item
        align-items center
        span
          color green
          font-weight bold
      .sub-total
        flex 1 1 auto
        justify-content center
        align-items center
        padding 1em
        & > span:nth-child(2)
          padding-left 0
          font-weight bold
          color green
      .buttons
        flex 1 1 auto
        justify-content center
        padding 1em
        button:nth-child(1)
          margin-right 1em
    > .banner
      height 200px
      // width 600px
      background-color #444
    > .best-selling-products      
    > .new-products  
      background-color #fff
      margin 1em
      > .title
        padding .5em 0 .5em 1em
        font-size 1.2em
        color black
        font-weight 600
        // line-height 2.1
      > .products
        display flex
        flex-flow row wrap
        justify-content space-around
        // justify-content space-between
        // justify-content center
        // background blue
        > .product
          // width 400px
          // height 300px
          // border 1px solid #ddd
          box-shadow: 8px 8px 30px -12px rgba(0,0,0,0.75);
          // border-radius .3em
          padding 1em
          margin .5em 1em 1.5em 1em
          // flex 1 0 14em
          text-decoration none
          color black
          > a
            text-decoration none
            > img
              max-width 300px
              border-radius .3em
            > .title
              font-size 1.2em
              color green
              font-weight 500
              line-height 1.1
            > .price
              margin-top .5em
              font-size 1.4em
              color black
              font-weight 500
              line-height 1.1
              > sup
                font-size: 0.5em
                top: -0.6em
                padding-right: 0.3em
                padding-left: 0.2em

