@import 'reset'
@import 'main-nav'
main
  display flex
  flex-flow column nowrap
  justify-content center
  // margin 2em 4em
  margin 2em auto
  max-width 1000px
& > .product
  // background-color red
  display flex
  flex-flow row wrap
  justify-content space-between
  margin 0 1em
  .image
    flex 1 1 40%
    img
      display block
      margin 0 auto 2em auto
    .thumbnail
      // background-color blue
      display flex
      flex-flow row wrap
      // justify-content space-around
      img
        margin .3em
        max-width 80px
  .info
    flex 1 1 58%
    .product-detail
      padding-top: 1em
      padding-left: 1em
    button
      margin-top: 1em
    .estimate-ship
      margin-top: 2em;
      & > p 
        margin 0
        font-weight bold
      input
      button
        height 2em
        border 1px solid lightgray
        margin-bottom .5em
      input
        border-right 0
        border-radius 4px 0 0 4px
        padding-left 1em
        padding-right 1em
      button
        border-radius 0 4px 4px 0
      table
        margin-top 1em
        border-radius 4px
        background-color #F3F3F3
        th
          padding .5em 1em 0 1em
        td
          padding .5em 1em .5em 1em
      p.errMsg
        margin-top .5em
        color red      
& > .description
  // margin-bottom 0.5em
& > .infos
  display flex
  flex-flow row wrap
  margin-bottom 3em
  table
    width 95%
    border-spacing 0
    // margin-bottom 1em
    td
      padding 8px
      border-top 1px solid #ddd
      &:nth-child(1)
        background-color #eee
  .info-tech
  .info-add
    flex 1 1 50%
    p
      margin-top 1em
      margin-bottom .5em
.title
  color green
  font-weight bold
.loader
  display inline-block;
  width 2em
  height 2em
  position relative
  left -4em
  vertical-align middle
  border 4px solid #f3f3f3
  border-top 4px solid #3498db
  border-radius 50%
  animation spin 1s linear infinite
@keyframes spin
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)
  // 100% { transform: rotate(360deg) }
// .icon
//   width 1.5em
//   height 1.5em
//   vertical-align middle
//   margin-right .5em