@import 'reset'
@import 'menu'
@import 'pagination'
form
  margin 0 5em 2em 5em
h2
h3
  margin-top 2em
  margin-bottom .2em
input
textarea
  border-radius .2em
  border solid 1px #aaa
  outline none
  padding-left .5em
  margin-top .2em
  &:focus
    box-shadow 0 0 3px rgba(81, 203, 238, 1)
    border 1px solid rgba(81, 203, 238, 1)   
input
  height 2em
textarea
  height 10em
.field
  display flex
  flex-direction column
  // flex-wrap wrap
  > label
    margin-top 1em
    font-weight bold
    display block
  > input
  > textarea
  > select
    width 100%
  > textarea
    padding .5em
  > input[type=checkbox]
    width auto
  > .upload-image
    > label
      margin-top .3em    
  &.checkbox 
    flex-direction row
    label
      display inline-block  
      margin-left 0.3em
    input
      position relative
      top 9px
  .discount  
    // flex-direction row
.images
  border 1px solid #aaa
  border-radius .2em
  padding .4em
  display flex
  flex-wrap wrap
  min-height 4em
.wrapper-image
  position relative
  display inline-block
  margin .4em
  border .5em solid transparent
.wrapper-image:hover 
  .left-arrow{display: block}
  .right-arrow{display: block}
  p.delete-image{display: block}
.left-arrow
  position absolute
  bottom 5px
  left 0
  width 0
  height 0
  border-right 15px solid orange
  border-top 15px solid transparent
  border-bottom 15px solid transparent
  opacity 1
  cursor pointer
  display none 
.right-arrow
  position absolute
  bottom 5px
  right 0
  width 0
  height 0
  border-left 15px solid orange
  border-top 15px solid transparent
  border-bottom 15px solid transparent
  opacity 1
  cursor pointer
  display none
p.delete-image
  position absolute
  top -8px
  right 4px
  opacity 1
  color orange
  font-size 1.5em
  font-weight bold
  cursor pointer
  display none
.upload-image label
  cursor pointer    