@import './colors'
max_width = 1200px
max_width_info = 800px
max_width_auth = 300px
min_width_order_list = 800px
width_address_page = 500px
[v-cloak]
  display none
html, body, div, form, ul, li
  margin 0
  padding 0
  font-weight 500
h1, h2, h3, h4, h5, h6, p, hr
  padding 0
  font-weight 500
h1
  font-size 2em
  margin .67em 0
h2
  font-size 1.5em
  margin .75em 0
h3              
  font-size 1.17em 
  margin .83em 0 
h4, p
  font-size 1em 
  margin 1em 0 
h5  
  font-size .83em 
  margin 1.5em 0
h6  
  font-size .75em 
  margin 1.67em 0
hr
  border 0
  border-top 1px solid #eee
a
  color c_link
  text-decoration none
  &:hover
    color c_link_hover
    text-decoration underline
html
body
  height 100%
body
  display flex
  flex-direction column
  background-color bgc_body
  font-family:
      '-apple-system', 'BlinkMacSystemFont',
      'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans',
      'Droid Sans', 'Helvetica Neue', 'sans-serif'
main
  flex 1 0 auto
  margin-bottom: 2em
#app
  // max-width max_width
  margin 0 auto
  margin-bottom 1em
  overflow-x hidden
.panel
  max-width max_width
  background-color panel_bgc
  margin 1em
  > :first-child
    margin-top 0
  padding 1em
  border-radius 4px  
  box-shadow 3px 3px 3px 0 rgba(0,0,0,.3)
label
  display inline-block
  margin-bottom .2em
  margin-top 1em
p.alert
  font-style italic
  background-color: c_very_light_gray
  padding .4em 1em
  margin 0
  border-radius 4px