$RED_PRICE = #C45D43
$GRAY_TITLE = #7D7D7D
$veryLightGray = #eee
$lightGray = #ccc
$BLACK_COLOR = #111
$BORDER_COLOR = #777
$DIVISION_COLOR = #555
max_width = 1200px
max_width_info = 800px
panel_bgc = #fff
// Colors.
footer_color = #ccc
title_color = #333
text_color = #666
c_black = #333
c_gray = #666
c_white = #fff
[v-cloak]
  display none
html, body, div, form, ul, li, p, h1, h2, h3, h4, hr
  margin 0
  padding 0
  font-weight 500
  // line-height: 1.1;
h1, h2, h3, h4, h5
  margin 0
hr
  border 0
  border-top 1px solid #eee
html
body
  height 100%
body
  display flex
  flex-direction column
  background-color #f5f5f5
  font-family:
      '-apple-system', 'BlinkMacSystemFont',
      'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans',
      'Droid Sans', 'Helvetica Neue', 'sans-serif'
main
  flex 1 0 auto
  margin-bottom: 2em
button
input
  box-sizing border-box
  padding-left .5em
  border-radius .2em
  border solid 1px #aaa
  height 2em
  &[type='button']
    color #fff
    margin-top 1em
    &.green
      background-color hsl(120 56 46)
      border-color hsl(120 56 41)
      &:hover
        background-color hsl(120 56 36)
        border-color hsl(120 56 29)   
    &.blue
      background-color hsl(210 56 46)
      border-color hsl(210 56 41)
      &:hover
        background-color hsl(210 56 36)
        border-color hsl(210 56 29)   
    &.red
      background-color hsl(0 56 46)
      border-color hsl(0 56 41)
      &:hover
        background-color hsl(0 56 36)
        border-color hsl(0 56 29)       