.top-nav
  display block
  min-width 400px
  background #333
  font-size 1.1em
  height 2.5em
  div 
    overflow hidden
  input 
    width 100%  
  a.brand 
    float left
    color #ccc
    text-decoration none
    margin .5em 2em .1em 1em
    cursor pointer
    &:hover
      color #fff
  a.cart
    float right
    margin .35em 1em 0 1em
    text-decoration none
    cursor pointer
    .icon
      width 2.2em
      height 2.2em   
      position relative
      top -.25em
    #cart-qtd
      position relative
      top -1.5em
      left -1.45em
      font-size .9em
      font-weight bold
      color green
  #menu
    position relative
    float right
    transition transform 0.2s ease
    background #333
    // border 1px yellow solid 
    li.back-main-menu
      display none
    > li
      position relative
      // border 1px green solid 
      line-height 2.2em
      display inline-block
      color #ccc
      height 2.4em
      padding 0 1em
      white-space: nowrap
      cursor pointer
      a
        // border 1px yellow solid
        display inline-block
        color #ccc
        text-decoration none
      .icon
        // border 1px pink solid 
        width 1.2em
        height 1.2em   
        vertical-align middle
      ul
        cursor default
        position absolute
        left 0
        display none
        background #444
        border-radius 0 0 4px 4px
        padding-bottom .8em
        transition transform 0.2s ease
        li 
          // font-size .9em
          line-height normal
          padding .8em 1em 0 1em
          position relative
          list-style none
          a:hover
            text-decoration underline 
    > li:hover
      background #444
    > li:hover ul 
      display block
  .search
    // The trick used to be width 100% inside a block.
    display flex
    padding-top .35em
    input:first-child
      height 2em
      min-width 60px
      border none
      border-radius 2px 0 0 2px
      padding-left .5em
    input:last-child
      height 2em
      width 2.2em
      margin-right 2em
      border none
      border-radius 0 2px 2px 0
      background-image url('/icon/ic_search_black_24px.svg')
      // background-image url('/icon/sprite.svg#ic_search_black_24px')
      // background-size 8px 8px;
      // background-position 0 0;
      background-repeat no-repeat
      background-color white
      background-size 1.8em 1.8em
      background-position 65% 50%  
    input:last-child:hover
      background-color lightgray
      cursor pointer
  #toggle-menu
    float right
    display none
    > span
      display block
      width 28px
      height 2px
      margin 5px 1em 5px 1em
      // margin-bottom 5px
      // margin-top 5px
      background #ccc
      transition transform 0.1s ease
    // #toggle-menu span:nth-last-child(3)
    //   transform-origin 50% 50%
    > span:first-child
      margin-top 13px
// Mobile.
@media screen and (max-width 600px)
  .top-nav
    #toggle-menu
      display block
    #toggle-menu.cross
      span:nth-last-child(3)
        transform rotate(45deg) translate(6px, 6px)
      span:nth-last-child(2)
        opacity 0
      span:nth-last-child(1)
        transform rotate(-45deg) translate(6px, -5px)
    #menu
      position absolute
      z-index 10
      top 44px
      right -22em
      width 16em
      li.back-main-menu
        display block
      > li
        display block
        > ul 
          z-index 12
          width 16em
          position absolute
          display block
        > ul.show
          transform translate(-22em)
      > li.admin > ul
      > li.account > ul 
        left 22em
      > li.admin > ul 
        top 0em
      > li.account > ul 
        top -2.4em
    #menu.show
      transform translate(-20em)   
      











  // & > .toggle-nav
  //   display none
  //   position absolute
  //   top 10px
  //   right 7px
  //   z-index: 1;
  //   -webkit-user-select: none;
  //   user-select: none;
  //   & > span
  //     display block
  //     width 28px
  //     height 3px
  //     margin-bottom 5px
  //     position relative
  //     background #cdcdcd
  //     border-radius 1px
  //     z-index 1
  //     transform-origin: 4px 0px;
  //     transition: transform 0.2s ease,
  //                 background 0.2s ease,
  //                 opacity 0.2s ease;
  //     &:first-child
  //       transform-origin: 0% 0%;
  //     &:nth-last-child(2)
  //       transform-origin: 0% 100%;
  //   input[type='checkbox']
  //     display: block;
  //     width:40px;
  //     height: 32px;
  //     position: absolute;
  //     top: -9px;
  //     left: -10px;
  //     cursor pointer
  //     opacity .5
  //     // opacity 0
  //     z-index 2
  //     -webkit-touch-callout: none;
  //     // Transform all the slices of hamburger into a crossmark.
  //     &:checked ~ span
  //       opacity: 1;
  //       transform: rotate(45deg) translate(-2px, -1px);
  //       background: #232323;
  //     // Hide the middle one.
  //     &:checked ~ span:nth-last-child(3)
  //       opacity: 0;
  //       transform: rotate(0deg) scale(0.2, 0.2);
  //     // The last one should go into the other direction.
  //     &:checked ~ span:nth-last-child(2)
  //       transform: rotate(-45deg) translate(0, -1px);
  //     &:checked ~ ul
  //       transform: none;
    // .menu
    //   position absolute
    //   top 34px
    //   right -8px
    //   width 10em
    //   margin 0
    //   padding 1em
    //   background #ededed
    //   list-style-type none
    //   -webkit-font-smoothing antialiased
    //   /* to stop flickering of text in safari */
    //   transform-origin: 0% 0%;
    //   transform: translate(100%, 0);
    //   transition: transform 0.2s ease;
    //   li
    //     font-size 1em


    

// .main-nav
//   font-size 1em
//   background-color black
//   & > .menu-toggle
//     display block
//     position absolute
//     top 10px
//     right 7px
//     z-index: 1;
//     -webkit-user-select: none;
//     user-select: none;
//     & > span
//       display block
//       width 28px
//       height 3px
//       margin-bottom 5px
//       position relative
//       background #cdcdcd
//       border-radius 1px
//       z-index 1
//       transform-origin: 4px 0px;
//       transition: transform 0.2s ease,
//                   background 0.2s ease,
//                   opacity 0.2s ease;
//       &:first-child
//         transform-origin: 0% 0%;
//       &:nth-last-child(2)
//         transform-origin: 0% 100%;
//     input[type='checkbox']
//       display: block;
//       width:40px;
//       height: 32px;
//       position: absolute;
//       top: -9px;
//       left: -10px;
//       cursor pointer
//       opacity .5
//       // opacity 0
//       z-index 2
//       -webkit-touch-callout: none;
//       // Transform all the slices of hamburger into a crossmark.
//       &:checked ~ span
//         opacity: 1;
//         transform: rotate(45deg) translate(-2px, -1px);
//         background: #232323;
//       // Hide the middle one.
//       &:checked ~ span:nth-last-child(3)
//         opacity: 0;
//         transform: rotate(0deg) scale(0.2, 0.2);
//       // The last one should go into the other direction.
//       &:checked ~ span:nth-last-child(2)
//         transform: rotate(-45deg) translate(0, -1px);
//       &:checked ~ ul
//         transform: none;
//     .menu
//       position absolute
//       top 34px
//       right -8px
//       width 10em
//       margin 0
//       padding 1em
//       background #ededed
//       list-style-type none
//       -webkit-font-smoothing antialiased
//       /* to stop flickering of text in safari */
//       transform-origin: 0% 0%;
//       transform: translate(100%, 0);
//       transition: transform 0.2s ease;
//       li
//         font-size 1em
//   a
//     color #ccc
//     text-decoration none
//     margin .5em 1em .5em 1em
//     &:hover
//       color #fff
//   .search 
//     display inline
//     flex 1 1 auto
//     input:first-child
//       height 2em
//       width 20em
//       // min-width 15em
//       margin .5em 0 .5em 2em
//       border none
//       border-radius 4px 0 0 4px
//       padding-left .5em
//     input:last-child
//       height 2em
//       width 2.2em
//       border none
//       border-radius 0 4px 4px 0
//       background-image url('/icon/ic_search_black_24px.svg')
//       // background-image url('/icon/sprite.svg#ic_search_black_24px')
//       // background-size 8px 8px;
//       // background-position 0 0;
//       background-repeat no-repeat
//       background-color white
//       background-size 1.8em 1.8em
//       background-position 65% 50%  
//     input:last-child:hover
//       background-color lightgray
//       cursor pointer
//   .icon
//     width 1.5em
//     height 1.5em
//     vertical-align middle
//     margin .5em .5em .5em .5em
    

